<div class="panel panel-green" style="height: 199px;">
	<div class="panel-heading clearfix">
		<span class="mts pull-left">Set Credit Limit</span>
		</div>
	<div class="panel-body">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-12">
					<div class="tabbable tabs-left">
<form name="myForm" method="post" role="form" class="form-horizontal form-validate">
<div>					
<div class="panel-body">
	<div class="col-lg-12">
		<div class="row">
			
					
			<div class="form-group">
				
				<div class="col-md-4">
				<label>Credit Limit : </label>
				</div>
				<div class="col-md-8">
					
						<input type="creditLimit" data-ng-model="creditLimit" pattern="\d*" title="Please enter numbers" placeholder="Credit Limit"
							class="form-control">
				</div>
					
				
			</div> 
			<div class="form-group">
				<div class="col-md-10" ng-show="flag == 1">
				<label style="color:red">wrong Email : </label>
				</div>
				<div class="col-md-10" ng-show="flag == 0">
				<label style="color:green">your Profil Information send on your mail : </label>
				</div>
			</div>
			<div class="form-group">
				
				<div class="col-md-6">
			     <button type="submit"
				class="btn btn-primary" ng-click="updateCreditLimit(agent.agentCode,creditLimit);closeThisDialog()" style="width:102px;">OK</button>
				</div>
				
			</div> 
						
    			</div>
    		
    		
</div>
                
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
<style>
	th{
  		text-align: center;
	}
	.ngdialog-content{
	height: 229px;
	width: 345px !important;
	
	}
	.ngdialog.ngdialog-theme-default .ngdialog-content{
	min-height:268px;	
	}
</style>
