<div class="panel panel-green">
	<div class="panel-heading clearfix">
		<span class="mts pull-left">Manage Booking</span>
	</div>

	

<!-- <td currency-rate ng-model="agent.total"
											styleValue="font-size: small;top: 0px;"
											rate="{{agent.total}}"
											supplier_curr="{{agent.currencyExchangeRate}}"
											agent_curr="{{agent.agent[0].currencyShort}}">{{agent.total}} -->

	<!-- Tab panes -->
			<h4 style="margin-left: 15px;">Booking Details</h4>
				
				<div class="form-group" style="  margin-bottom: 50px;">
				<div class="col-md-12" style="margin-bottom: 28px;">
				 <div class="row">
				 			<div class="col-xs-1">
                                                <label>Agent Id :</label>
                             </div>
                             <div class="col-xs-3">
                             			<input type="text" name="firstName" class="form-control" data-ng-model="agentCode">
                             </div>
                             
                                              <div class="col-xs-3">
                                                  <input name="" type="button" class="btn btn-primary"
										   		 	value="Search" ng-click="findAgentList(agentCode)" class="btnblue"
													data-toggle="modal" />
                                                  
                                                </div>
				 </div>
				 </div>
				 <hr>
				 </div>
													
			              
	             <div ng-if="showtable == 1">  
					<hr style="float: left;width: 100%;">
			<div class="form-group">
			
				<div class="col-md-12" style="margin-bottom: 28px;">
				
				
				 <div class="row">
				
								 <div class="col-xs-1" style="width: 112px;">
                                            <label type="text">BookingId</label>
                                            <div>
                                            <input type="text" name="bookingId" class="form-control"  ng-model="searchby.bookingId">
                                            <!-- <input type="text" name="bookingId" ng-model="searchby.bookingId" style="height: 31px;width: 56px;"> -->
                                            </div>
                                            </div>
				
                                            <div class="col-xs-2">
                                                <label>Start Date</label>
                                                <div>
                                                  <input id="date" name="checkIn" data-ng-model="searchby.checkIn"
													class="form-control" 
													data-provide="datepicker" data-date-autoclose="true" data-date-format="dd-mm-yyyy" required>
                                                  
                                                </div>
                                            </div>
                                            <div class="col-xs-2">
                                                <label>End Date</label>
                                                <div>
                                                  <input id="date" name="checkOut" data-ng-model="searchby.checkOut"
													class="form-control" 
													data-provide="datepicker" data-date-autoclose="true" data-date-format="dd-mm-yyyy" required>
                                                  
                                                </div>
                                               
                                            </div>
                                            
                                            <div class="col-xs-2">
                                            <label type="text">Guest Name</label>
                                            <div>
                                             <input type="text" name="guestname" ng-model="guest"class="form-control" >
                                            </div>
                                            </div>
                                            <div class="col-xs-2">
                                            <label type="text">Payment</label>
        										<select class="form-control" name="paymentStatus"
													data-ng-model="paymentStatus" ng-change = "paymentWise(paymentStatus, agentCode)" required>
													<option value="Outstanding">Outstanding</option>
													<option value="Received">Received</option>
												</select>				 	
        					 				</div>
                                     <div class="col-xs-1" style="margin-top: 23px;">
                 					 <button type="button" ng-click="showtableBooking(searchby.checkIn,searchby.checkOut,guest,'Confirm',searchby.bookingId, agentCode)" class="btn btn-primary">Show</button>
				</div>
                                            
                                        </div>
        
        					 
        
			</div> 
			
			
			<div class="form-group"  ng-show="flag == 1"> 
			<div class="col-md-2">
			</div>
				<label style="color: red;">to date greater than from date</label>
			</div>
						
    			</div>
    		       	<div class="form-group"> 
                       <table border="1" class="col-md-12" cellpadding="10" style="font-size: small;text-align: center;margin-top: 28px;">
                	<thead style="background-color: #488c6c;">
                    	<tr>
                           <th style="text-align: center;"><a style="color: white;">Sr.No</a></th>
                           <th style="text-align: center;width: 80px;"><a style="color: white;">Guest Name</a></th>
                            <th style="text-align: center;"><a style="color: white;">Hotel Name</a></th>
                            <th style="width: 91px;text-align: center;"><a style="color: white;">Check In</a></th>
                            <th style="width: 91px;text-align: center;"><a style="color: white;">Check Out</a></th>
                              
                                <th style="width: 56px;text-align: center;"><a style="color: white;">Total Night</a></th>
                                
                                <th style="text-align: center;"><a style="color: white;">Room type</a></th>
                                 <th style="text-align: center;"><a style="color: white;">No of Room</a></th>
                                 <th style="width: 83px;text-align: center;"><a style="color: white;">Total</a></th>
                                   <th style="width: 56px;text-align: center;"><a style="color: white;">Payment</a></th>
                                     <th style="width: 56px;text-align: center;"><a style="color: white;">attach</a></th>
                                  
                                
                                 <!-- <th style="text-align: center;width: 45px;"><a style="color: white;">Nationality</a></th> -->
                          <!--   <th style="text-align: center;"><a style="color: white;">Edit</a></th> --> 
                           
                            
                        </tr>
                    </thead>
                	<tbody>
                	 <!-- <input ng-file-select="selectProfileImage($files)" name="" type="file" /> -->
                    	<tr ng-repeat="agent in agentBook">
          					<td style="padding: 9px;">{{agent.id}}</td>
          					 <td>{{agent.travellerfirstname}} {{agent.travellerlastname}}</td>
          					  <td>{{agent.supplierNm}}</td>
          					 <td>{{agent.checkIn}}</td>
                           <td>{{agent.checkOut}}</td>
                            
                           <td>{{agent.totalNightStay}}</td>
                          
                             <td>{{agent.roomNm}}</td>
                             <td>{{agent.noOfroom}}</td>
 							 <td currency-rate ng-model="agent.total" styleValue="font-size: small;color: chocolate;top: 0px;" rate="{{agent.total}}" supplier_curr="{{agent.currencyExchangeRate}}" agent_curr="{{agent.agent[0].currencyShort}}"></td>
 							 <td> <input type="checkbox"
										name="selectBooking" ng-model="payment"	ng-change="bookingPayment(agent.id,payment,agent.total)" ng-checked="agent.payment == 'Received'"/>
                                     </td>
                               <td ng-if="buttonChange == 'true'"><a ng-click="showFileSelect()" style="cursor: pointer;" data-toggle="modal"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 19px;padding: 4px;margin-left: 0px;"></span></a></td>
                               <td ng-if="buttonChange == 'false'"><input ng-file-select="selectBookingDoc($files,agent.id)" name="" type="file" /></td>      
                          
                            </tr>
                           
                    	</tbody>
                </table>
                </div>
                        <section class="dpaging">
          <h4>{{}} / {{}}</h4>
            	
            	 <span class="dpagingright">
                	<!-- <a href="" class="dpagingprv" ng-click="onPrev()">Prev</a>
                	<a href="" class="dpagingnxt" ng-click="onNext()">Next</a> -->
                </span>  
            </section>            
                                  
			</div>
			


</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="color: #0084e6;">Payment</h4>
        </div>
        <div class="modal-body">
          <p>Are You Sure The Payment is Made ?<br> (Please Attach The Payment Receipt Proof)</p>
          
        </div>
        <div class="modal-footer">
         <button type="button" class="btn btn-default" ng-click="paymentMade(payment)" data-dismiss="modal">Ok</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
