<div class="panel panel-green">
	<div class="panel-heading clearfix">
		<span class="mts pull-left">Manage Booking</span>
	</div>

	<!-- <ul class="nav nav-tabs" role="tablist" id="myTab">
	<li class="active"><a data-target="#pending" role="tab" data-toggle="tab"
			style="cursor: pointer;">Pending</a></li>
			<li><a data-target="#block" role="tab" data-toggle="tab" style="cursor: pointer;">Block</a></li>
		<li><a data-target="#rejected" role="tab" data-toggle="tab"
			style="cursor: pointer;">Rejected</a></li>
			<li><a data-target="#approved" role="tab"
			data-toggle="tab" style="cursor: pointer;">Approved</a></li>
		
	</ul> -->

	<!-- Tab panes -->
			<h4>Booking Details</h4>
				
				<div class="form-group" style="  margin-bottom: 50px;">
				<div class="col-md-12" style="margin-bottom: 28px;">
				 <div class="row">
				 			<div class="col-xs-1">
                                                <label>Agent Id :</label>
                             </div>
                             <div class="col-xs-3">
                             			<input type="text" name="firstName" class="form-control" data-ng-model="agentCode">
                             </div>
                             
                                              <div class="col-xs-3">
                                                  <input name="" type="button" class="btn btn-primary"
										   		 	value="Search" ng-click="findAgentList(agentCode)" class="btnblue"
													data-toggle="modal" />
                                                  
                                                </div>
				 </div>
				 </div>
				 <hr>
				 </div>
													
			              
	             <div ng-if="showtable == 1">  
					<hr style="float: left;width: 100%;">
			<div class="form-group">
			
				<div class="col-md-12" style="margin-bottom: 28px;">
				
				
				 <div class="row">
				
								 <div class="col-xs-1">
                                            <label type="text">BookingId</label>
                                            <div>
                                            <input type="text" name="bookingId" class="form-control"  ng-model="searchby.bookingId">
                                            <!-- <input type="text" name="bookingId" ng-model="searchby.bookingId" style="height: 31px;width: 56px;"> -->
                                            </div>
                                            </div>
				
                                            <div class="col-xs-3">
                                                <label>Start Date</label>
                                                <div>
                                                  <input id="date" name="checkIn" data-ng-model="searchby.checkIn"
													class="form-control" 
													data-provide="datepicker" data-date-autoclose="true" data-date-format="dd-mm-yyyy" required>
                                                  
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <label>End Date</label>
                                                <div>
                                                  <input id="date" name="checkOut" data-ng-model="searchby.checkOut"
													class="form-control" 
													data-provide="datepicker" data-date-autoclose="true" data-date-format="dd-mm-yyyy" required>
                                                  
                                                </div>
                                               
                                            </div>
                                            
                                            <div class="col-xs-3">
                                            <label type="text">Guest Name</label>
                                            <div>
                                             <input type="text" name="guestname" ng-model="guest"class="form-control" >
                                            </div>
                                            </div>
                                     <div class="col-xs-1" style="margin-top: 23px;">
                 					 <button type="button" ng-click="showtableBooking(searchby.checkIn,searchby.checkOut,guest,'available',searchby.bookingId, agentCode)" class="btn btn-primary">Show</button>
				</div>
                                            
                                        </div>
        
				
				
			</div> 
			
			
			<div class="form-group"  ng-show="flag == 1"> 
			<div class="col-md-2">
			</div>
				<label style="color: red;">to date greater than from date</label>
			</div>
						
    			</div>
    		       	<div class="form-group"> 
                       <table border="1" class="col-md-12" cellpadding="10" style="font-size: small;text-align: center;margin-top: 28px;">
                	<thead style="background-color: #488c6c;">
                    	<tr>
                           <th style="text-align: center;"><a style="color: white;">Sr.No</a></th>
                           <th style="text-align: center;width: 80px;"><a style="color: white;">Guest Name</a></th>
                            <th style="text-align: center;"><a style="color: white;">Hotel Name</a></th>
                            <th style="width: 91px;text-align: center;"><a style="color: white;">Check In</a></th>
                            <th style="width: 91px;text-align: center;"><a style="color: white;">Check Out</a></th>
                              
                                <th style="width: 56px;text-align: center;"><a style="color: white;">Total Night</a></th>
                                
                                <th style="text-align: center;"><a style="color: white;">Room type</a></th>
                                 <th style="text-align: center;"><a style="color: white;">No of Room</a></th>
                                 <th style="width: 83px;text-align: center;"><a style="color: white;">Total</a></th>
                                   <th style="width: 56px;text-align: center;"><a style="color: white;">Payment</a></th>
                                  
                                
                                 <!-- <th style="text-align: center;width: 45px;"><a style="color: white;">Nationality</a></th> -->
                          <!--   <th style="text-align: center;"><a style="color: white;">Edit</a></th> --> 
                           
                            
                        </tr>
                    </thead>
                	<tbody>
                	
                    	<tr ng-repeat="agent in agentBook">
          					<td style="padding: 9px;">{{agent.id}}</td>
          					 <td>{{agent.travellerfirstname}} {{agent.travellerlastname}}</td>
          					  <td>{{agent.supplierNm}}</td>
          					 <td>{{agent.checkIn}}</td>
                           <td>{{agent.checkOut}}</td>
                            
                           <td>{{agent.totalNightStay}}</td>
                          
                             <td>{{agent.roomNm}}</td>
                             <td>{{agent.noOfroom}}</td>
 							 <td>{{agent.total}}<sup style="font-size: small;color: chocolate;top: 0px;" class="ng-binding"> {{agent.curr}}</sup></td>
                            <td> <input type="checkbox"
																			name="selectBooking" ng-model="payment"
																			ng-change="bookingPayment(agent.id,payment)" />
                                     </td>
                            <!--  <td>{{agent.nationalityNm}}</td> -->
                           <!--  <td><a ng-click="showDetails(agent)" style="cursor: pointer;" data-toggle="modal"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 19px;padding: 4px;margin-left: 0px;"></span></a></td> --> 
                          
                            </tr>
                           
                    	</tbody>
                </table>
                </div>
                        <section class="dpaging">
          <h4>{{}} / {{}}</h4>
            	
            	 <span class="dpagingright">
                	<!-- <a href="" class="dpagingprv" ng-click="onPrev()">Prev</a>
                	<a href="" class="dpagingnxt" ng-click="onNext()">Next</a> -->
                </span>  
            </section>            
                                  
			</div>
			


</div>
<script type="text/ng-template" id="Approved">
		<div id="myTabContent2" class="tab-content hotel-profile-tab-content">
		
							<form method="post" role="form" data-ng-submit="ApprovReject()" class="form-horizontal">
	<div class="row">
		<div class="col-md-12">
					<div class="form-group">
										<label class="col-md-3 control-label">*Agent Code:</label>
										<div class="col-md-8">
											<input type="text" name="firstName" class="form-control" data-ng-model="generalInfo.agentCode" disabled="disabled">
										</div>
									</div>
			<div class="form-group">
										<label class="col-md-3 control-label">*Title:</label>
										<div class="col-md-8">
											<input type="text" name="title" class="form-control" data-ng-model="generalInfo.title" disabled="disabled">
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">*First Name:</label>
										<div class="col-md-8">
											<input type="text" name="firstName" class="form-control" data-ng-model="generalInfo.firstName" disabled="disabled">
										</div>
									</div>


									<div class="form-group">
										<label class="col-md-3 control-label">*Last Name:</label>
										<div class="col-md-8">
											<input type="text" name="lastName" class="form-control" data-ng-model="generalInfo.lastName" disabled="disabled">
										</div>
									</div>

							<div class="form-group">
										<label class="col-md-3 control-label">*Country:</label>
										<div class="col-md-8">
											<input type="text" name="country" class="form-control" data-ng-model="generalInfo.country" disabled="disabled">
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">*Nature of Business:</label>
										<div class="col-md-8">
											<input type="text" name="business" class="form-control" data-ng-model="generalInfo.business" disabled="disabled">
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">How did you hear
											about us? </label>
										<div class="col-md-8">
											<input type="text" name="hear" class="form-control" data-ng-model="generalInfo.hear" disabled="disabled">
										</div>
									</div>
			
							<div class="form-group">
										<label class="col-md-3 control-label">Position/Designation:</label>
										<div class="col-md-8">
											<input type="text" name="Position" class="form-control" data-ng-model="generalInfo.Position" disabled="disabled">
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">*Company Name:</label>
										<div class="col-md-8">
											<input type="text" name="companyName" class="form-control" data-ng-model="generalInfo.companyName" disabled="disabled">
										</div>
									</div>





									<div class="form-group">
										<label class="col-md-3 control-label">*Company Street
											Address: </label>

										<div class="col-md-8">
											<textarea id="companyAddress" name="companyAddress" rows="2" data-ng-model="generalInfo.companyAddress" disabled="disabled" class="form-control"></textarea>
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">*Company City:</label>
										<div class="col-md-8">
											<input type="text" name="city" class="form-control" data-ng-model="generalInfo.city" disabled="disabled">
										</div>
									</div>




									<div class="form-group">
										<label class="col-md-3 control-label">Company
											Zip/Postal Code:</label>
										<div class="col-md-8">
											<input type="text" name="postalCode" class="form-control" data-ng-model="generalInfo.postalCode" disabled="disabled">
										</div>
									</div>

							<div class="form-group">
										<label class="col-md-3 control-label">*Preferred
											Payment Method: </label>
										<div class="col-md-8">
												<input type="text" name="paymentMethod" class="form-control" data-ng-model="generalInfo.paymentMethod" disabled="disabled">
										</div>
									</div>
								<div class="form-group">
				<label class="col-md-3 control-label">Choose Currency</label>
				<div class="col-md-8">
					<input type="text" id="currency" name="currency" data-ng-model="generalInfo.currency" placeholder="currency" class="form-control" disabled="disabled">
				</div>
			</div>
			
			<div class="form-group">
										<label class="col-md-3 control-label">*E-mail Address:</label>

										<div class="col-md-8">
											<input type="email" name="EmailAddr" class="form-control" data-ng-model="generalInfo.EmailAddr" placeholder="currency" class="form-control" disabled="disabled">
										</div>
									</div>

					<div class="form-group">
									<label class="col-md-3 control-label">*Choose your
										login ID: </label>
									<div class="col-md-6">
										<input type="text" name="loginId" class="form-control" data-ng-model="generalInfo.loginId" disabled="disabled">
									</div>
								</div>
								
								<div class="form-group">
						<label class="col-md-3 control-label">*Password:</label>
							<div class="col-md-6">
								<input type="text" name="password" class="form-control" data-ng-model="generalInfo.password" disabled="disabled">
								<label>(minimum 6 characters)</label>
							</div>
					</div>
								<div class="form-group">
									<label class="col-md-3 control-label">*Direct
										Telephone:</label>
									<div class="col-md-2">
										<input type="text" name="directCode" class="form-control" data-ng-model="generalInfo.directCode" disabled="disabled">

									</div>

									<div class="col-md-3">
										<input type="text" name="directTelNo" class="form-control" data-ng-model="generalInfo.directTelNo" disabled="disabled">

									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label">*Direct Fax:</label>
									<div class="col-md-2 setwidth">
										<input type="text" name="faxCode" class="form-control" data-ng-model="generalInfo.faxCode" disabled="disabled">

									</div>

									<div class="col-md-3">
										<input type="text" name="faxTelNo" class="form-control" data-ng-model="generalInfo.faxTelNo" disabled="disabled">

									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label">Web Site: </label>
									<div class="col-md-6">
										<input type="text" name="webSite" class="form-control" data-ng-model="generalInfo.webSite" disabled="disabled">
									</div>
								</div>

			
		<hr class="mtxxl mbxxl" style="border-color: black">	
		</div>
		<div class="col-md-6 col-md-offset-6">
			   <button type="button" ng-click="blockresult(generalInfo)" class="btn btn-primary">Block</button>
				<button type="submit" class="btn btn-primary" ng-click="closeThisDialog()">Rejected</button>
				<button type="button" ng-click="closeThisDialog()" class="btn btn-primary">Close</button>
		</div>
	</div>
</form>

						</div>
</script>

<script type="text/ng-template" id="Reject">
		<div id="myTabContent2" class="tab-content hotel-profile-tab-content">
							<form method="post" role="form" data-ng-submit="pendingUser()" class="form-horizontal">
	<div class="row">
		<div class="col-md-12">
							<div class="form-group">
										<label class="col-md-3 control-label">*Agent Code:</label>
										<div class="col-md-8">
											<input type="text" name="firstName" class="form-control" data-ng-model="generalInfo.agentCode" disabled="disabled">
										</div>
									</div>
			<div class="form-group">
										<label class="col-md-3 control-label">*Title:</label>
										<div class="col-md-8">
											<input type="text" name="title" class="form-control" data-ng-model="generalInfo.title" disabled="disabled">
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">*First Name:</label>
										<div class="col-md-8">
											<input type="text" name="firstName" class="form-control" data-ng-model="generalInfo.firstName" disabled="disabled">
										</div>
									</div>


									<div class="form-group">
										<label class="col-md-3 control-label">*Last Name:</label>
										<div class="col-md-8">
											<input type="text" name="lastName" class="form-control" data-ng-model="generalInfo.lastName" disabled="disabled">
										</div>
									</div>

							<div class="form-group">
										<label class="col-md-3 control-label">*Country:</label>
										<div class="col-md-8">
											<input type="text" name="country" class="form-control" data-ng-model="generalInfo.country" disabled="disabled">
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">*Nature of Business:</label>
										<div class="col-md-8">
											<input type="text" name="business" class="form-control" data-ng-model="generalInfo.business" disabled="disabled">
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">How did you hear
											about us? </label>
										<div class="col-md-8">
											<input type="text" name="hear" class="form-control" data-ng-model="generalInfo.hear" disabled="disabled">
										</div>
									</div>
			
							<div class="form-group">
										<label class="col-md-3 control-label">Position/Designation:</label>
										<div class="col-md-8">
											<input type="text" name="Position" class="form-control" data-ng-model="generalInfo.Position" disabled="disabled">
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">*Company Name:</label>
										<div class="col-md-8">
											<input type="text" name="companyName" class="form-control" data-ng-model="generalInfo.companyName" disabled="disabled">
										</div>
									</div>





									<div class="form-group">
										<label class="col-md-3 control-label">*Company Street
											Address: </label>

										<div class="col-md-8">
											<textarea id="companyAddress" name="companyAddress" rows="2" data-ng-model="generalInfo.companyAddress" disabled="disabled" class="form-control"></textarea>
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">*Company City:</label>
										<div class="col-md-8">
											<input type="text" name="city" class="form-control" data-ng-model="generalInfo.city" disabled="disabled">
										</div>
									</div>




									<div class="form-group">
										<label class="col-md-3 control-label">Company
											Zip/Postal Code:</label>
										<div class="col-md-8">
											<input type="text" name="postalCode" class="form-control" data-ng-model="generalInfo.postalCode" disabled="disabled">
										</div>
									</div>

							<div class="form-group">
										<label class="col-md-3 control-label">*Preferred
											Payment Method: </label>
										<div class="col-md-8">
												<input type="text" name="paymentMethod" class="form-control" data-ng-model="generalInfo.paymentMethod" disabled="disabled">
										</div>
									</div>
								<div class="form-group">
				<label class="col-md-3 control-label">Choose Currency</label>
				<div class="col-md-8">
					<input type="text" id="currency" name="currency" data-ng-model="generalInfo.currency" placeholder="currency" class="form-control" disabled="disabled">
				</div>
			</div>
			
			<div class="form-group">
										<label class="col-md-3 control-label">*E-mail Address:</label>

										<div class="col-md-8">
											<input type="email" name="EmailAddr" class="form-control" data-ng-model="generalInfo.EmailAddr" placeholder="currency" class="form-control" disabled="disabled">
										</div>
									</div>

					<div class="form-group">
									<label class="col-md-3 control-label">*Choose your
										login ID: </label>
									<div class="col-md-6">
										<input type="text" name="loginId" class="form-control" data-ng-model="generalInfo.loginId" disabled="disabled">
									</div>
								</div>
								
								<div class="form-group">
						<label class="col-md-3 control-label">*Password:</label>
							<div class="col-md-6">
								<input type="text" name="password" class="form-control" data-ng-model="generalInfo.password" disabled="disabled">
								<label>(minimum 6 characters)</label>
							</div>
					</div>
								<div class="form-group">
									<label class="col-md-3 control-label">*Direct
										Telephone:</label>
									<div class="col-md-2">
										<input type="text" name="directCode" class="form-control" data-ng-model="generalInfo.directCode" disabled="disabled">

									</div>

									<div class="col-md-3">
										<input type="text" name="directTelNo" class="form-control" data-ng-model="generalInfo.directTelNo" disabled="disabled">

									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label">*Direct Fax:</label>
									<div class="col-md-2 setwidth">
										<input type="text" name="faxCode" class="form-control" data-ng-model="generalInfo.faxCode" disabled="disabled">

									</div>

									<div class="col-md-3">
										<input type="text" name="faxTelNo" class="form-control" data-ng-model="generalInfo.faxTelNo" disabled="disabled">

									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label">Web Site: </label>
									<div class="col-md-6">
										<input type="text" name="webSite" class="form-control" data-ng-model="generalInfo.webSite" disabled="disabled">
									</div>
								</div>

			
		<hr class="mtxxl mbxxl" style="border-color: black">	
		</div>
		<div class="col-md-6 col-md-offset-6">
				<button type="button" ng-click="approvresult(generalInfo)" class="btn btn-primary">Approved</button>
				<button type="submit" class="btn btn-primary" ng-click="closeThisDialog()">Pending</button>
				<button type="button" ng-click="closeThisDialog()" class="btn btn-primary">Close</button>
		</div>
	</div>
</form>

						</div>
</script>

<script type="text/ng-template" id="pending">
		<div id="myTabContent2" class="tab-content hotel-profile-tab-content">
							<form method="post" role="form" data-ng-submit="approvePending()" class="form-horizontal">
	<div class="row">
		<div class="col-md-12">
					<div class="form-group">
										<label class="col-md-3 control-label">*Agent Code:</label>
										<div class="col-md-8">
											<input type="text" name="firstName" class="form-control" data-ng-model="generalInfo.agentCode" disabled="disabled">
										</div>
									</div>
			<div class="form-group">
										<label class="col-md-3 control-label">*Title:</label>
										<div class="col-md-8">
											<input type="text" name="title" class="form-control" data-ng-model="generalInfo.title" disabled="disabled">
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">*First Name:</label>
										<div class="col-md-8">
											<input type="text" name="firstName" class="form-control" data-ng-model="generalInfo.firstName" disabled="disabled">
										</div>
									</div>


									<div class="form-group">
										<label class="col-md-3 control-label">*Last Name:</label>
										<div class="col-md-8">
											<input type="text" name="lastName" class="form-control" data-ng-model="generalInfo.lastName" disabled="disabled">
										</div>
									</div>

							<div class="form-group">
										<label class="col-md-3 control-label">*Country:</label>
										<div class="col-md-8">
											<input type="text" name="country" class="form-control" data-ng-model="generalInfo.country" disabled="disabled">
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">*Nature of Business:</label>
										<div class="col-md-8">
											<input type="text" name="business" class="form-control" data-ng-model="generalInfo.business" disabled="disabled">
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">How did you hear
											about us? </label>
										<div class="col-md-8">
											<input type="text" name="hear" class="form-control" data-ng-model="generalInfo.hear" disabled="disabled">
										</div>
									</div>
			
							<div class="form-group">
										<label class="col-md-3 control-label">Position/Designation:</label>
										<div class="col-md-8">
											<input type="text" name="Position" class="form-control" data-ng-model="generalInfo.Position" disabled="disabled">
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">*Company Name:</label>
										<div class="col-md-8">
											<input type="text" name="companyName" class="form-control" data-ng-model="generalInfo.companyName" disabled="disabled">
										</div>
									</div>





									<div class="form-group">
										<label class="col-md-3 control-label">*Company Street
											Address: </label>

										<div class="col-md-8">
											<textarea id="companyAddress" name="companyAddress" rows="2" data-ng-model="generalInfo.companyAddress" disabled="disabled" class="form-control"></textarea>
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">*Company City:</label>
										<div class="col-md-8">
											<input type="text" name="city" class="form-control" data-ng-model="generalInfo.city" disabled="disabled">
										</div>
									</div>




									<div class="form-group">
										<label class="col-md-3 control-label">Company
											Zip/Postal Code:</label>
										<div class="col-md-8">
											<input type="text" name="postalCode" class="form-control" data-ng-model="generalInfo.postalCode" disabled="disabled">
										</div>
									</div>

							<div class="form-group">
										<label class="col-md-3 control-label">*Preferred
											Payment Method: </label>
										<div class="col-md-8">
												<input type="text" name="paymentMethod" class="form-control" data-ng-model="generalInfo.paymentMethod" disabled="disabled">
										</div>
									</div>
								<div class="form-group">
				<label class="col-md-3 control-label">Choose Currency</label>
				<div class="col-md-8">
					<input type="text" id="currency" name="currency" data-ng-model="generalInfo.currency" placeholder="currency" class="form-control" disabled="disabled">
				</div>
			</div>
			
			<div class="form-group">
										<label class="col-md-3 control-label">*E-mail Address:</label>

										<div class="col-md-8">
											<input type="email" name="EmailAddr" class="form-control" data-ng-model="generalInfo.EmailAddr" placeholder="currency" class="form-control" disabled="disabled">
										</div>
									</div>

					<div class="form-group">
									<label class="col-md-3 control-label">*Choose your
										login ID: </label>
									<div class="col-md-6">
										<input type="text" name="loginId" class="form-control" data-ng-model="generalInfo.loginId" disabled="disabled">
									</div>
								</div>
								
								<div class="form-group">
						<label class="col-md-3 control-label">*Password:</label>
							<div class="col-md-6">
								<input type="text" name="password" class="form-control" data-ng-model="generalInfo.password" disabled="disabled">
								<label>(minimum 6 characters)</label>
							</div>
					</div>
								<div class="form-group">
									<label class="col-md-3 control-label">*Direct
										Telephone:</label>
									<div class="col-md-2">
										<input type="text" name="directCode" class="form-control" data-ng-model="generalInfo.directCode" disabled="disabled">

									</div>

									<div class="col-md-3">
										<input type="text" name="directTelNo" class="form-control" data-ng-model="generalInfo.directTelNo" disabled="disabled">

									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label">*Direct Fax:</label>
									<div class="col-md-2 setwidth">
										<input type="text" name="faxCode" class="form-control" data-ng-model="generalInfo.faxCode" disabled="disabled">

									</div>

									<div class="col-md-3">
										<input type="text" name="faxTelNo" class="form-control" data-ng-model="generalInfo.faxTelNo" disabled="disabled">

									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label">Web Site: </label>
									<div class="col-md-6">
										<input type="text" name="webSite" class="form-control" data-ng-model="generalInfo.webSite" disabled="disabled">
									</div>
								</div>

			
		<hr class="mtxxl mbxxl" style="border-color: black">	
		</div>
		<div class="col-md-6 col-md-offset-6">
				 <button type="button" ng-click="rejectresult(generalInfo)" class="btn btn-primary">Rejected</button>
				<button type="submit" class="btn btn-primary" ng-click="closeThisDialog()">Approved</button>
				<button type="button" ng-click="closeThisDialog()" class="btn btn-primary">Close</button>
		</div>
	</div>
</form>

						</div>
</script>

<script type="text/ng-template" id="block">
		<div id="myTabContent2" class="tab-content hotel-profile-tab-content">
		
							<form method="post" role="form" data-ng-submit="ApprovReject()" class="form-horizontal">
	<div class="row">
		<div class="col-md-12">
					<div class="form-group">
										<label class="col-md-3 control-label">*Agent Code:</label>
										<div class="col-md-8">
											<input type="text" name="firstName" class="form-control" data-ng-model="generalInfo.agentCode" disabled="disabled">
										</div>
									</div>
			<div class="form-group">
										<label class="col-md-3 control-label">*Title:</label>
										<div class="col-md-8">
											<input type="text" name="title" class="form-control" data-ng-model="generalInfo.title" disabled="disabled">
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">*First Name:</label>
										<div class="col-md-8">
											<input type="text" name="firstName" class="form-control" data-ng-model="generalInfo.firstName" disabled="disabled">
										</div>
									</div>


									<div class="form-group">
										<label class="col-md-3 control-label">*Last Name:</label>
										<div class="col-md-8">
											<input type="text" name="lastName" class="form-control" data-ng-model="generalInfo.lastName" disabled="disabled">
										</div>
									</div>

							<div class="form-group">
										<label class="col-md-3 control-label">*Country:</label>
										<div class="col-md-8">
											<input type="text" name="country" class="form-control" data-ng-model="generalInfo.country" disabled="disabled">
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">*Nature of Business:</label>
										<div class="col-md-8">
											<input type="text" name="business" class="form-control" data-ng-model="generalInfo.business" disabled="disabled">
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">How did you hear
											about us? </label>
										<div class="col-md-8">
											<input type="text" name="hear" class="form-control" data-ng-model="generalInfo.hear" disabled="disabled">
										</div>
									</div>
			
							<div class="form-group">
										<label class="col-md-3 control-label">Position/Designation:</label>
										<div class="col-md-8">
											<input type="text" name="Position" class="form-control" data-ng-model="generalInfo.Position" disabled="disabled">
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">*Company Name:</label>
										<div class="col-md-8">
											<input type="text" name="companyName" class="form-control" data-ng-model="generalInfo.companyName" disabled="disabled">
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">*Company Street
											Address: </label>

										<div class="col-md-8">
											<textarea id="companyAddress" name="companyAddress" rows="2" data-ng-model="generalInfo.companyAddress" disabled="disabled" class="form-control"></textarea>
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">*Company City:</label>
										<div class="col-md-8">
											<input type="text" name="city" class="form-control" data-ng-model="generalInfo.city" disabled="disabled">
										</div>
									</div>




									<div class="form-group">
										<label class="col-md-3 control-label">Company
											Zip/Postal Code:</label>
										<div class="col-md-8">
											<input type="text" name="postalCode" class="form-control" data-ng-model="generalInfo.postalCode" disabled="disabled">
										</div>
									</div>

							<div class="form-group">
										<label class="col-md-3 control-label">*Preferred
											Payment Method: </label>
										<div class="col-md-8">
												<input type="text" name="paymentMethod" class="form-control" data-ng-model="generalInfo.paymentMethod" disabled="disabled">
										</div>
									</div>
								<div class="form-group">
				<label class="col-md-3 control-label">Choose Currency</label>
				<div class="col-md-8">
					<input type="text" id="currency" name="currency" data-ng-model="generalInfo.currency" placeholder="currency" class="form-control" disabled="disabled">
				</div>
			</div>
			
			<div class="form-group">
										<label class="col-md-3 control-label">*E-mail Address:</label>

										<div class="col-md-8">
											<input type="email" name="EmailAddr" class="form-control" data-ng-model="generalInfo.EmailAddr" placeholder="currency" class="form-control" disabled="disabled">
										</div>
									</div>

					<div class="form-group">
									<label class="col-md-3 control-label">*Choose your
										login ID: </label>
									<div class="col-md-6">
										<input type="text" name="loginId" class="form-control" data-ng-model="generalInfo.loginId" disabled="disabled">
									</div>
								</div>
								
								<div class="form-group">
						<label class="col-md-3 control-label">*Password:</label>
							<div class="col-md-6">
								<input type="text" name="password" class="form-control" data-ng-model="generalInfo.password" disabled="disabled">
								<label>(minimum 6 characters)</label>
							</div>
					</div>
								<div class="form-group">
									<label class="col-md-3 control-label">*Direct
										Telephone:</label>
									<div class="col-md-2">
										<input type="text" name="directCode" class="form-control" data-ng-model="generalInfo.directCode" disabled="disabled">

									</div>

									<div class="col-md-3">
										<input type="text" name="directTelNo" class="form-control" data-ng-model="generalInfo.directTelNo" disabled="disabled">

									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label">*Direct Fax:</label>
									<div class="col-md-2 setwidth">
										<input type="text" name="faxCode" class="form-control" data-ng-model="generalInfo.faxCode" disabled="disabled">

									</div>

									<div class="col-md-3">
										<input type="text" name="faxTelNo" class="form-control" data-ng-model="generalInfo.faxTelNo" disabled="disabled">

									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label">Web Site: </label>
									<div class="col-md-6">
										<input type="text" name="webSite" class="form-control" data-ng-model="generalInfo.webSite" disabled="disabled">
									</div>
								</div>

			
		<hr class="mtxxl mbxxl" style="border-color: black">	
		</div>
		<div class="col-md-6 col-md-offset-6">
			   <button type="button" ng-click="approvresult(generalInfo)" class="btn btn-primary">Approved</button>
				<button type="submit" class="btn btn-primary" ng-click="closeThisDialog()">Rejected</button>
				<button type="button" ng-click="closeThisDialog()" class="btn btn-primary">Close</button>
		</div>
	</div>
</form>

						</div>
</script>
