<div class="panel panel-green">
	<div class="panel-heading clearfix">
		<span class="mts pull-left">MarkUp Page</span>
	</div>
	<div class="panel-body" ng-init="init()">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-12">
					<div class="tabbable tabs-left">

						<div id="myTabContent2">


							<div class="row">
								<div class="col-md-12">
									<script type="text/javascript">
										$('#myTab a').click(function(e) {
											e.preventDefault();
											$(this).tab('show');
										})
									</script>
									<style>
</style>
									<div class="tabbable">

										<ul class="nav nav-pills" id="myTab" style="font-size: small;">
											<li class="active menu-li custom_menu"><a href="#step1"
												data-toggle="tab" style="padding: 7px 5px;"
												ng-click="init()">Batch Markup</a></li>
											<li class="menu-li custom_menu"><a href="#Step2"
												data-toggle="tab" style="padding: 7px 5px;"
												ng-click="init()">Specific Markups</a></li>
											<li class="menu-li custom_menu"><a href="#step3"
												data-toggle="tab" style="padding: 7px 5px;">View Markup</a></li>

										</ul>
										<div class="tab-content" id="myTabContent"
											style="overflow: hidden;">

											<div class="tab-pane active" id="step1">

												<form method="post" name="myform"
													ng-submit="saveBatchMarkup()" id="formA" role="form"
													class="form-horizontal form-validate" novalidate>
													<div class="row">
														<div class="form-group">
															<div class="col-md-4">
																<fieldset class="billBorder">

																	<legend class="supplier-fild">Supplier</legend>
																	<!-- <div class="col-md-12">
																		<label><b>Supplier:</b></label><br>
																	</div> -->
																	<div class="col-md-12">
																		<li>Select All Supplier <input type="checkbox"
																			name="supplierselect" ng-model="selectedAll"
																			ng-click="suppliercheckAll()" />
																		</li>
																	</div>
																	<div class="row">
																		<div class="form-group"></div>
																	</div>


																	<div>

																		<div class="col-md-12 markupSize">
																			<label ng-repeat="supplierInfo in supplier"
																				class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
																				style="padding: 0px;"> <input
																				type="checkbox" name="supplier"
																				ng-click="supplierClicked($event,supplierInfo)"
																				ng-model="supplierInfo.isSelected">
																				{{supplierInfo.supplierName}} - Code :
																				{{supplierInfo.code}} / {{supplierInfo.country}}
																			</label>
																		</div>


																	</div>
																	<br>


																</fieldset>
															</div>
															<div class="col-md-4">
																<fieldset class="billBorder">

																	<legend class="agent-fild">Agent</legend>
																	<!-- <div class="col-md-12">
																		<label><b>Agent:</b></label><br>
																	</div> -->
																	<div class="col-md-12">
																		<label class="col-md-3 control-label">Country</label>
																		<div class="col-md-9">
																			<select class="form-control"
																				data-ng-model="countryCode"
																				ng-change="onCountryChange(country.countryCode)"
																				data-ng-options="country.countryCode as country.countryName for country in countries"
																				required>
																				<option>Select Country...</option>
																			</select>
																		</div>
																	</div>
																	<div class="col-md-12">
																		<a ng-click="init()" style="color: blue;"><u
																			style="cursor: pointer;">Show All Country Agent</u></a>
																	</div>
																	<div class="col-md-12">
																		<li>Select All Agent <input type="checkbox"
																			name="agentselectall" ng-model="agentselectedAll"
																			ng-click="agentcheckAll()" />
																		</li>
																	</div>
																	<div class="row">
																		<div class="form-group"></div>
																	</div>
																	<!-- 	{{agent}} -->
																	<div>


																		<div class="col-md-12 markupSize">
																			<div ng-repeat="agentInfo1 in agent">
																				<div class="col-md-12"
																					style="background-color: #488c6c; color: white;">
																					<label>{{agentInfo1.countryName}}</label>
																				</div>
																				<label
																					ng-repeat="agentInfo in agentInfo1.agentDatavm"
																					class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
																					style="padding: 0px;"> <input
																					type="checkbox" name="agent"
																					ng-click="agentClicked($event,agentInfo)"
																					ng-model="agentInfo.isSelected">
																					Com. Name : {{agentInfo.companyName}} (Name :{{agentInfo.firstName}} {{agentInfo.lastName}} /
																					Code :{{agentInfo.agentCode}})
																					
																				</label>
																			</div>
																		</div>


																	</div>
																	<br>


																</fieldset>
															</div>
															<div class="col-md-4">
																<div class="row">
																	<div class="col-md-5">
																		<input type="radio" name="selected"
																			data-ng-model="batchMarkup.selected" value="1">
																		<!-- //class="required" -->
																		&nbsp; Percent
																	</div>
																	<div ng-show="batchMarkup.selected == 1"
																		class="col-md-6">

																		<input type="text" id="percent" name="percent"
																			data-ng-model="batchMarkup.percent"
																			class="form-control required number" required>
																	</div>
																</div>
																<div class="row">
																	<div class="col-md-5">
																		<input type="radio" name="selected"
																			data-ng-model="batchMarkup.selected" value="0">
																		&nbsp; Flat
																	</div>
																	<div ng-show="batchMarkup.selected == 0"
																		class="col-md-6">
																		<input type="text" id="flat" name="flat"
																			data-ng-model="batchMarkup.flat"
																			class="form-control required number" required>
																	</div>
																</div>
																<div class="row">
																	<div class="col-md-12"></div>
																</div>
															</div>
															<div class="col-md-3">
																<button type="submit" class="btn btn-primary">Save</button>
															</div>
														</div>
													</div>
												</form>
											</div>
											<div class="tab-pane" id="Step2">

												<form method="post" name="myform1"
													ng-submit="saveSpecificMarkup()" id="formB" role="form"
													class="form-horizontal form-validate1">
													<div class="row">
														<div class="form-group">
															<div class="col-md-4">
																<fieldset class="billBorder">

																	<legend class="supplier-fild">Supplier</legend>

																	<div>
																		<br>

																		<div class="col-md-12">

																			<select class="form-control" onmousedown="if(this.options.length>7){this.size=7;}"  onchange='this.size=0;' onblur="this.size=0;"
																				ng-model="specificMarkup.code"
																				ng-change="onDateChoose()">
																				<option ng-repeat=" supplierInfo in supplier"
																					value="{{supplierInfo.code}}">{{supplierInfo.supplierName}}
																					- Code : {{supplierInfo.code}} /
																					{{supplierInfo.country}}</option>

																			</select>

																		</div>
																		<div class="row">
																			<div class="form-group"></div>
																		</div>
																		<div class="row">
																			<div class="form-group">

																				<div class="col-md-5 col-md-offset-1">
																					<a ng-click="showRate(specificMarkup.code)"
																						style="color: blue;"><u
																						style="cursor: pointer;">Show Rate</u></a>
																				</div>
																				<!-- <div class="col-md-4 col-md-offset-1">
																					<a ng-click="showSpecials(specificMarkup.code)"
																						style="color: blue;"><u
																						style="cursor: pointer;">Show Specials</u></a>
																				</div> -->
																			</div>
																		</div>


																	</div>
																	<br>


																</fieldset>
															</div>
															<div class="col-md-4">
																<fieldset class="billBorder">

																	<legend class="agent-fild">Agent</legend>
																	<!-- <div class="col-md-12">
																		<label><b>Agent:</b></label><br>
																	</div> -->

																	<div class="col-md-12">
																		<label class="col-md-3 control-label">Country</label>
																		<div class="col-md-9">
																			<select class="form-control"
																				data-ng-model="countryCode"
																				ng-change="onCountryChange(country.countryCode)"
																				data-ng-options="country.countryCode as country.countryName for country in countries"
																				required>
																				<option>Select Country...</option>
																			</select>
																		</div>
																	</div>
																	<div class="col-md-12">
																		<a ng-click="init()" style="color: blue;"><u
																			style="cursor: pointer;">Show All Country Agent</u></a>
																	</div>
																	<div class="col-md-12">
																		<li>Select All Agent <input type="checkbox"
																			name="specificAgentselectall"
																			ng-model="specificAgentselectedAll"
																			ng-click="specificAgentcheckAll()" />
																		</li>
																	</div>
																	<div>
																		<br>

																		<div class="col-md-12 markupSize">
																			<div ng-repeat="specificAgentInfo1 in agent">
																				<div class="col-md-12"
																					style="background-color: #488c6c; color: white;">
																					<label>{{specificAgentInfo1.countryName}}</label>
																				</div>
																				<label
																					ng-repeat="specificAgentInfo in specificAgentInfo1.agentDatavm"
																					class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
																					style="padding: 0px;"> <input
																					type="checkbox" name="agent"
																					ng-click="specificAgentClicked($event,specificAgentInfo)"
																					ng-model="specificAgentInfo.isSelected">
																					Com. Name : {{specificAgentInfo.companyName}} ({{specificAgentInfo.firstName}}
																					{{specificAgentInfo.lastName}}/ Code :
																					{{specificAgentInfo.agentCode}})
																				</label>
																			</div>
																		</div>

																	</div>
																	<br>


																</fieldset>
															</div>
															<div class="col-md-4">
																<div class="row">
																	<div class="col-md-5">
																		<input type="radio" name="specificSelected"
																			data-ng-model="specificMarkup.specificSelected"
																			value="1"> &nbsp; Percent
																	</div>
																	<div ng-show="specificMarkup.specificSelected == 1"
																		class="col-md-6">

																		<input type="text" id="specificPercent"
																			name="specificPercent"
																			data-ng-model="specificMarkup.specificPercent"
																			class="form-control required number">
																	</div>
																</div>
																<div class="row">
																	<div class="col-md-5">
																		<input type="radio" name="specificSelected"
																			data-ng-model="specificMarkup.specificSelected"
																			value="0"> &nbsp; Flat
																	</div>
																	<div ng-show="specificMarkup.specificSelected == 0"
																		class="col-md-6">
																		<input type="text" id="specificFlat"
																			name="specificFlat"
																			data-ng-model="specificMarkup.specificFlat"
																			class="form-control required number" required>
																	</div>

																</div>
																<div class="row">
																	<div class="form-group"></div>
																</div>
															</div>
															<div class="col-md-3">
																<button type="submit" class="btn btn-primary">Save</button>
															</div>
														</div>
													</div>
													<div class="row" ng-show="showAllRate">
														<div class="form-group">
															<div class="col-md-12">
																<div class="col-md-12">
																	<label>Show Rate</label>
																</div>
																<table class="table" border="1"
																	style="width: 100%; font-size: small;">
																	<thead style="background-color: #488c6c;">
																		<tr>
																			<th><li style="color: white;">All&nbsp&nbsp<input
																					type="checkbox" name="rateselectedAll"
																					ng-model="rateselectedAll"
																					ng-click="ratecheckAll()" /></li></th>
																			<th><a style="color: white;">Rate Name</a></th>
																			<th><a style="color: white;">Room Type</a></th>
																			<th><a style="color: white;">Currency</a></th>
																			<!--  <th style="width: 20%;	"><a style="color: white;">Action</a></th> -->


																		</tr>
																	</thead>
																	<tbody>

																		<tr ng-repeat="rate in supplierRate">
																			<td style="text-align: center; width: 82px;"><input
																				type="checkbox" name="supplierRate"
																				ng-click="rateClicked($event,rate)"
																				ng-model="rate.isSelected"></td>
																			<td>{{rate.rateName}}</td>
																			<td>{{rate.roomName}}</td>
																			<td>{{rate.currency}}</td>
																			<!-- <td><a ng-click="DeleteDocId(doc)" style="cursor: pointer;" data-toggle="modal"><img src="/assets/images/deleteIcon.png" style="width: 14%;margin-left: 24%;"></a></td> -->

																		</tr>

																	</tbody>
																</table>
															</div>
														</div>
													</div>


												</form>



											</div>
											<div class="tab-pane" id="step3">

													<div class="row">
														<div class="form-group">
															<div class="col-md-4">
																<fieldset class="billBorder">

																	<legend class="supplier-fild">Supplier</legend>

																	<div>
																		<br>

																		<div class="col-md-12">

																			<select class="form-control required" onmousedown="if(this.options.length>7){this.size=7;}"  onchange='this.size=0;' onblur="this.size=0;"
																				ng-model="code"
																				ng-change="onSupplierChoose()">
																				<option ng-repeat=" supplierInfo in supplier"
																					value="{{supplierInfo.code}}">{{supplierInfo.supplierName}}
																					- Code : {{supplierInfo.code}} /
																					{{supplierInfo.country}}</option>

																			</select>

																		</div>


																	</div>
																	<br>


																</fieldset>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="form-group">
														</div>
														</div>
													<div class="row">
														<div class="form-group">
															<div class="col-md-12">
															
																<div class="tabbable">

																	<ul class="nav nav-pills" id="myTab"
																		style="font-size: small;">
																		<li class="active menu-li custom_menu"><a
																			href="#viewStep1" data-toggle="tab"
																			style="padding: 7px 5px;">Show
																				Markup</a></li>
																	<!-- 	<li class="menu-li custom_menu"><a
																			href="#viewStep2" data-toggle="tab"
																			style="padding: 7px 5px;">Specific
																				Markups</a></li> -->

																	</ul>
																	<div class="tab-content" 
																		style="overflow: hidden;">

																		<div class="tab-pane active" id="viewStep1">
																			
																			<form method="post" name="myform"
													ng-submit="updaebatchMarkup()" role="form"
													class="form-horizontal form-validate2" novalidate>
																			
																			 <div class="row">
														<div class="form-group">
															<div class="col-md-12">
																<div class="col-md-12">
																	<!-- <label>Show Agent</label> -->
																</div>
																<table class="table" border="1"
																	style="width: 100%; font-size: small;">
																	<thead style="background-color: #488c6c;">
																		<tr>
																			<th><a style="color: white;">Agent Company</a></th>
																			<th><a style="color: white;">Agent Name</a></th>
																			<th><a style="color: white;">Agent No</a></th>
																			<th><a style="color: white;">Country</a></th>
																			<th><a style="color: white;">Currency</a></th>
																			<th style="width: 100px;"><a style="color: white;">Value</a></th>
																			<th><a style="color: white;">Flat/Percent</a></th>
																			 <th style="width: 8%;	"><a style="color: white;">Save</a></th>


																		</tr>
																	</thead>
																	<tbody>

																		<tr ng-repeat="supplerWise in SupplerWiseRate">
																			<td>{{supplerWise.companyName}}</td>
																			<td>{{supplerWise.agentfirstName}}</td>
																			<td>{{supplerWise.agentCode}}</td>
																			<td>{{supplerWise.countryName}}</td>
																			<td>{{supplerWise.currencyName}}</td>
																			<td ng-if="supplerWise.selected == '0'"><div><input type="text" ng-model="supplerWise.flat" class="form-control required number" style="width: 124px;"></div></td>
																			<td ng-if="supplerWise.selected == '1'"><div><input type="text" ng-model="supplerWise.percent" class="form-control required number" style="width: 124px;"></div></td>
																			<td><select class="form-control" ng-model="supplerWise.selected" required>
																					<option value="0">Flat</option>
																					<option value="1">Percent</option>

																				</select></td>
																			<td style="text-align: center;"><a ng-click="updateAgentId(supplerWise)" style="cursor: pointer;" data-toggle="modal"><img src="/assets/images/savefile.jpg" style="width: 35%;"></a></td>

																		</tr>

																	</tbody>
																</table>
															</div>
														</div>
													</div> 
																			</form>
																		</div>
														<!-- 				<div class="tab-pane" id="viewStep2">
																						<form method="post" name="myform"
													ng-submit="updaebatchMarkup()" role="form"
													class="form-horizontal form-validate3" novalidate>
																			
																			 <div class="row">
														<div class="form-group">
															<div class="col-md-12">
																<div class="col-md-12">
																	<label>Show Agent an Rate</label>
																</div>
																<table class="table" border="1"
																	style="width: 100%; font-size: small;">
																	<thead style="background-color: #488c6c;">
																		<tr>
																			<th><a style="color: white;">Agent Company</a></th>
																			<th><a style="color: white;">Agent Name/Country</a></th>
																			<th><a style="color: white;">Rate Name</a></th>
																			<th><a style="color: white;">Currency</a></th>
																			<th><a style="color: white;">Date</a></th>
																			<th style="width: 100px;"><a style="color: white;">Value</a></th>
																			<th><a style="color: white;">Flat/Percent</a></th>
																			 <th style="width: 8%;"><a style="color: white;">Save</a></th>


																		</tr>
																	</thead>
																	<tbody>

																		<tr ng-repeat="supplerWiseSpecific in SupplerWiseSpecificRate">
																			<td>{{supplerWiseSpecific.companyName}}</td>
																			<td>{{supplerWiseSpecific.agentfirstName}} ({{supplerWiseSpecific.countryName}})</td>
																			<td>{{supplerWiseSpecific.rateName}}</td>
																			<td>{{supplerWiseSpecific.currencyName}}</td>
																			<td>{{supplerWiseSpecific.fromDate}} - {{supplerWiseSpecific.toDate}}</td>
																			<td ng-if="supplerWiseSpecific.selected == '0'"><input type="text" ng-model="supplerWiseSpecific.flat" class="form-control required number" style="width: 124px;"></td>
																			<td ng-if="supplerWiseSpecific.selected == '1'"><input type="text" ng-model="supplerWiseSpecific.percent" class="form-control required number" style="width: 124px;"></td>
																			<td><select class="form-control" ng-model="supplerWiseSpecific.selected" required>
																					<option value="0">Flat</option>
																					<option value="1">Percent</option>

																				</select></td>
																			<td style="text-align: center;"><a ng-click="updateSpecificId(supplerWiseSpecific)" style="cursor: pointer;" data-toggle="modal"><img src="/assets/images/savefile.jpg" style="width: 35%;"></a></td>

																		</tr>

																	</tbody>
																</table>
															</div>
														</div>
													</div> 
																			</form>
																		</div> -->
																	</div>
																</div>
															</div>
														</div>
													</div>

											

											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
