<div class="panel panel-green">
	<div class="panel-heading clearfix">
		<span class="mts pull-left">Room Types</span>
	</div>
	<div class="panel-body">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-12">
					<div class="tabbable tabs-left">
<form method="post" ng-submit="CreateRoomType()" role="form" class="form-horizontal form-validate">
<div data-ng-init="initRoomTypePage()">					
<div class="panel-body">
	<div class="col-lg-12">
		<div class="row">
			<div class="form-group">
			<div ng-show="roomT">
				<label class="col-md-4">Choose Room Type</label>
				<div class="col-md-5">
					<select class="form-control" data-ng-model="roomTypeIns.roomId" ng-change="selectType()"
						data-ng-options="hotelRoomTypes.roomId as hotelRoomTypes.roomType for hotelRoomTypes in hotelRoomTypes">
						<option>Select Room Type...</option>
					</select>
				</div>
				</div>
				<div ng-show="roomT">
				<input type="button" class="btn btn-primary" ng-click="clearData()" value="Create New Room Type">
				</div>
			</div>
			 
			
			
			
		<div>	
		
			<div class="form-group">
				<label class="col-md-6">Please enter all
					details that apply to this room type</label>
			</div>
			<!-- Add / Edit Room Type section -->
			<div class="form-group">
			<div class="col-md-4" style="margin-left: -14px;">
			<div  class="col-md-12">
				<label>Room Name</label>
				</div>
				<div  class="col-md-9">
				<label>(deluxe room,superior room etc)</label>
				</div>
				</div>
				<div class="col-md-6">
				<div class="col-md-6">
					<input type="text" class="form-control"
						data-ng-model="roomTypeIns.roomname" style="width: 239px;margin-left: -1px;"> <br>
				</div>
				</div>
				
			</div>
			<div class="form-group">
				<label class="col-md-4">*What is the maximum
					occupancy level for this room?</label>
				<div class="col-md-3">
					<select class="form-control" onmousedown="if(this.options.length>6){this.size=6;}"  onchange='this.size=0;' onblur="this.size=0;"
						data-ng-model="roomTypeIns.maxOccupancy" required>
						<option data-ng-repeat="counter in counterArray">{{counter}}</option>

					</select> <br>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4">*What is the maximum
					Adult occupancy for this room?</label>
				<div class="col-md-3">
					<select class="form-control" onmousedown="if(this.options.length>6){this.size=6;}"  onchange='this.size=0;' onblur="this.size=0;"
						data-ng-model="roomTypeIns.maxAdultOccupancy" required>
						<option data-ng-repeat="counter in counterArray">{{counter}}</option>
					</select> <br>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4">*What is the maximum
					Adult occupancy if sharing with children in this room?</label>
				<div class="col-md-3">
					<select class="form-control required number" sonmousedown="if(this.options.length>6){this.size=6;}"  onchange='this.size=0;' onblur="this.size=0;"
						data-ng-model="roomTypeIns.maxAdultOccSharingWithChildren" required>
						<option value="0" selected>No Child Allowed</option>
						<option data-ng-repeat="counter in counterArray">{{counter}}</option>
					</select> <br>
				</div>
			</div>



		</div>
		<fieldset class="billinside">
			<legend class="lobby-room-img">Child
				Policy</legend>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="col-md-5 col-md-offset-1">How many free
							children sharing with Adults are allowed for this room?</label>
						<div class="col-md-3">
							<select class="form-control"
								data-ng-model="roomTypeIns.childAllowedFreeWithAdults">
								<option value="0" selected>Please Select</option>
								<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6</option>
									<option>7</option>
									<option>8</option>
									<option>9</option>
									<option>10</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 col-md-offset-1">*Does your
							hotel charge for children?</label>
						<div class="col-md-3">

							<div class="chargechild">
								<input type="radio" name="chargesforChild"
									data-ng-model="roomTypeIns.chargesForChildren" value="true"> &nbsp;
								Yes
							</div>
							<div>
								<input type="radio" name="chargesforChild"
									data-ng-model="roomTypeIns.chargesForChildren" value="false"> &nbsp;
								No
							</div>
							<br>
						</div>

					</div>

				<div ng-show="roomTypeIns.chargesForChildren == 'true'">
					<div class="childDiv" ng-repeat="child in childpolicy">
						
		         <div class="row">
		            <div class="col-lg-12">
						<div class="form-group">
							<label class="col-md-3 control-label">Please define
								your children policy:</label>
								<label class="col-md-3 control-label" style="margin-left: 5%;">Enter Any One</label>
								<br>
						</div>
					</div>
				 </div>
				    <div class="row">
		              <div class="col-lg-12">
						<div>
							<label class="col-md-1 control-label">From: </label>
							<div class="col-md-1">
								<select class="form-control" data-ng-model="child.allowedChildAgeFrom" style="padding: 0px;" required>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6</option>
									<option>7</option>
									<option>8</option>
									<option>9</option>
									<option>10</option>
									<option>11</option>
									<option>12</option>
									<option>13</option>
									<option>14</option>
									<option>15</option>
									<option>16</option>
									<option>17</option>
									<option>18</option>


								</select>
							</div>



							<label class="col-md-1 control-label">To: </label>
							<div class="col-md-1">
								<select class="form-control" data-ng-model="child.allowedChildAgeTo" style="padding: 0px;" required>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6</option>
									<option>7</option>
									<option>8</option>
									<option>9</option>
									<option>10</option>
									<option>11</option>
									<option>12</option>
									<option>13</option>
									<option>14</option>
									<option>15</option>
									<option>16</option>
									<option>17</option>
									<option>18</option>


								</select>

							</div>
							<label class="col-md-1">Year:</label>
							<div class="col-md-2" style="height: 35px;">
								<input type="text" name="year{{$index}}" class="form-control required number"
									data-ng-model="child.years"> <br>									
							</div>
							
							<label class="col-md-2">Enter zero if free:
							</label>
							<div class="col-md-2">
								<select class="form-control" data-ng-model="child.netRate" required>
									<option>% of</option>
									<option>add to Room Rate</option>

								</select>
							</div>
						</div>
						</div>
						</div>
						<div class="row">
		            <div class="col-lg-12">
						<div class="form-group">
								<label class="col-md-3 control-label" style="margin-left: 29%;">Currency / %</label>
								<br>
						</div>
					</div>
				 </div>
						
						<!-- <div class="form-group">
							<label class="col-md-2 control-label">year:</label>
							<div class="col-md-2">
								<input type="text" placeholder="year" class="form-control"
									data-ng-model="child.years"> <br>
							</div>

						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">enter zero if free:
							</label>
							<div class="col-md-3">
								<select class="form-control" data-ng-model="child.netRate" required>
									<option>% of</option>
									<option>add to</option>

								</select>
							</div>
							<br>
						</div> -->

						
					</span>

					</div>
					<div>
					<input type="button" class="btn btn-default col-md-offset-1" ng-click="roomChildDeleteId($index)" value="Remove">
                        <!-- <button class="btn btn-default col-md-offset-1" ng-click="roomChildDeleteId($index)">Remove</button> -->
					<button class="btn btn-default" ng-click="newchildpolicy($event)">Add New Child Age Interval</button>
				
				</div>
				</div>
				</div>
			</div>
			
		</fieldset>
		<br>
			<div class="form-group">
						<label class="col-md-7">*Can you fit an EXTRA BED to this room type?</label>
						<div class="col-md-3">

							<div class="chargechild">
								<input type="radio" name="extraBed"
									data-ng-model="roomTypeIns.extraBedAllowed" value="true"> &nbsp;
								Yes
							</div>
							<div>
								<input type="radio" name="extraBed"
									data-ng-model="roomTypeIns.extraBedAllowed" value="false"> &nbsp;
								No
							</div>
							<br>
						</div>

					</div>
					<div class="form-group">
						<label class="col-md-7">*Is this room a suite?</label>
						<div class="col-md-3">

							<div class="chargechild">
								<input type="radio" name="roomSuite"
									data-ng-model="roomTypeIns.roomSuiteType" value="true"> &nbsp;
								Yes
							</div>
							<div>
								<input type="radio" name="val"
									data-ng-model="roomTypeIns.roomSuiteType" value="false"> &nbsp;
								No
							</div>
							<br>
						</div>

					</div>
				
					<!-- <div class="form-group">
				<label class="col-md-12 control-label desc-con-label">The {{generalInfo.hotelNm}} is a(Please tick the boxes that are applicable):</label>
				</div>
				
			<div class="col-md-12"> -->
					<div class="form-group">
					<div class="col-md-6">
			 	<label>*In Room Amenities: (please tick the boxes that are applicable)</label>
			 	</div>
					</div>
				 <div class="col-md-12">
				<label ng-repeat="amenity in roomAmenities" class="col-lg-4 col-md-6 col-sm-12 col-xs-12" style="padding:0px;">
				
				  <input
  				  type="checkbox" name="services"
  				    ng-click="serviceClicked($event,amenity)"
  				   	ng-model="amenity.isSelected">					
   					 {{amenity.amenityNm}}</label>
    			</div>  
    			</div>
    			<hr class="mtxxl mbxxl" style="border-color: black;">
</div>
		

                 <div class="col-md-3 col-md-offset-7">
                 <button type="submit" onclick="scroll(0,0)" class="btn btn-primary">Save</button>
                 </div>
                
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>

