<div class="panel panel-green">
	<div class="panel-heading clearfix">
		<span class="mts pull-left">Room Types</span>
	</div>
	<div class="panel-body">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-12">
					<div class="tabbable tabs-left">
					<!-- pattern="\d*" title="Please enter numbers" -->
<form name="myForm" method="post" ng-submit="CreateRoomType()" role="form" class="form-horizontal">
<div data-ng-init="initRoomTypePage()">					
<div class="panel-body">
	<div class="col-lg-12">
		<div class="row">
			<div class="form-group">
			<div ng-show="roomT">
				<label class="col-md-4">Choose Room Type</label>
				<div class="col-md-5">
					<select class="form-control" data-ng-model="roomTypeIns.roomId" ng-change="selectType()"
						data-ng-options="hotelRoomTypes.roomId as hotelRoomTypes.roomType for hotelRoomTypes in hotelRoomTypes">
						<option>Select Room Type...</option>
					</select>
				</div>
				</div>
				<div ng-show="roomT">
				<input type="button" class="btn btn-primary" ng-click="clearData()" value="Create New Room Type">
				</div>
			</div>
			 
			
			
			
		<div>	
		
			<div class="form-group">
				<label class="col-md-6">Please enter all
					details that apply to this room type</label>
			</div>
			<!-- Add / Edit Room Type section -->
			<div class="form-group">
			<div class="col-md-4" style="margin-left: -14px;">
			<div  class="col-md-12">
				<label>Room Name</label>
				</div>
				<div  class="col-md-9">
				<label>(deluxe room,superior room etc)</label>
				</div>
				</div>
				<div class="col-md-6">
				<div class="col-md-6">
					<input type="text" name="roomname" class="form-control"
						data-ng-model="roomTypeIns.roomname" style="width: 239px;margin-left: -1px;" required> 
						<label id="-error" ng-show="myForm.roomname.$error.number" class="error" for="">This field is required.</label>
						<br>
				</div>
				</div>
				
			</div>
			<div class="form-group">
				<label class="col-md-4">*What is the maximum
					occupancy level for this room?</label>
				<div class="col-md-3">
					<select class="form-control required number" name="maxOccupancy" onmousedown="if(this.options.length>6){this.size=6;}" ng-change="setOccupancy(roomTypeIns.maxOccupancy)" onchange='this.size=0;' onblur="this.size=0;"
						data-ng-model="roomTypeIns.maxOccupancy">
						<option data-ng-repeat="">Select</option>
						<option data-ng-repeat="counter in counterArray">{{counter}}</option>

					</select>
					<label id="-error" ng-show="myForm.maxOccupancy.$error.number" class="error" for="">This field is required.</label>
					 <br>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4">*What is the maximum
					Adult occupancy for this room?</label>
				<div class="col-md-3">
					<select class="form-control required number" name="maxAdultOccupancy" onmousedown="if(this.options.length>6){this.size=6;}"  onchange='this.size=0;' onblur="this.size=0;"
						data-ng-model="roomTypeIns.maxAdultOccupancy" required>
						<option data-ng-repeat="">Select</option>
						<option data-ng-repeat="counter in adultcount">{{counter}}</option>
					</select>
					<label id="-error" ng-show="myForm.maxAdultOccupancy.$error.number" class="error" for="">This field is required.</label> <br>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4">*What is the maximum
					Adult occupancy if sharing with children in this room?</label>
				<div class="col-md-3">
					<select class="form-control required number" name="maxAdultOccSharingWithChildren" onmousedown="if(this.options.length>6){this.size=6;}"  onchange='this.size=0;' onblur="this.size=0;"
						data-ng-model="roomTypeIns.maxAdultOccSharingWithChildren" required>
						<option data-ng-repeat="counter in adultcount">{{counter}}</option>
					</select>
				<!-- 	<label id="-error" ng-show="myForm.maxAdultOccSharingWithChildren.$error.number" class="error" for="">This field is required.</label> <br> -->
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-md-4">Room Size</label>
				<div class="col-md-3">
					<input type="text" name="roomname" class="form-control"
						data-ng-model="roomTypeIns.roomSize" style="width: 239px;margin-left: -1px;">
				</div>
			</div>


		</div>
		<fieldset class="billinside">
			<legend class="lobby-room-img">Child
				Policy</legend>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
					 <div class="col-md-8 col-md-offset-1" style="padding-left: 0px; padding-right: 0px;">
						<label class="col-md-4">How many free
							children up to age </label>
							
							<div class="col-md-2">
							<select class="form-control"
								data-ng-model="roomTypeIns.childAge">
								<option value="0" selected>Please Select</option>
								<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6</option>
									<option>7</option>
									<option>8</option>
									<option>9</option>
									<option>10</option>
									<option>11</option>
									<option>12</option>
							</select>
						</div>
							<label class="col-md-6">sharing with Adults are allowed for this room?</label>
							</div>
							
						
						<div class="col-md-2">
							<select class="form-control"
								data-ng-model="roomTypeIns.childAllowedFreeWithAdults">
								<option value="0" selected>Please Select</option>
								<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6</option>
									<option>7</option>
									<option>8</option>
									<option>9</option>
									<option>10</option>
							</select>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-4 col-md-offset-1">Breakfast included free child</label>
						<div class="col-md-3">

							<div class="chargechild">
								<input type="radio" name="breakfastIncludes"
									data-ng-model="roomTypeIns.breakfastInclude" value="true"> &nbsp;
								Yes
							</div>
							<div>
								<input type="radio" name="breakfastInclude"
									data-ng-model="roomTypeIns.breakfastInclude" value="false"> &nbsp;
								No
							</div>
							<br>
						</div>
						<div ng-if="roomTypeIns.breakfastInclude == 'false'">
					<label class="col-md-1">Rate :</label>
					<div class="col-md-2">
						<input type="text"
							data-ng-model="roomTypeIns.breakfastRate">
					</div>
						</div>

					</div>

					<div class="form-group">
						<label class="col-md-4 col-md-offset-1">*Does your
							hotel charge for children?</label>
						<div class="col-md-3">

							<div class="chargechild">
								<input type="radio" name="chargesforChild"
									data-ng-model="roomTypeIns.chargesForChildren" value="true"> &nbsp;
								Yes
							</div>
							<div>
								<input type="radio" name="chargesforChild"
									data-ng-model="roomTypeIns.chargesForChildren" value="false"> &nbsp;
								No
							</div>
							<br>
						</div>

					</div>

				<div ng-show="roomTypeIns.chargesForChildren == 'true'">
					<div class="childDiv" ng-repeat="child in childpolicy">
						
		         <div class="row">
		            <div class="col-lg-12">
						<div class="form-group">
							<label class="col-md-3 control-label">Please define
								your children policy:</label>
								<!-- <label class="col-md-3 control-label" style="margin-left: 5%;">Enter Any One</label> -->
								<br>
						</div>
					</div>
				 </div>
				    <div class="row">
		              <div class="col-lg-12">
						<div>
							<label class="col-md-1 control-label">From: </label>
							<div class="col-md-1">
								<select class="form-control" data-ng-model="child.allowedChildAgeFrom" style="padding: 0px;" required>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6</option>
									<option>7</option>
									<option>8</option>
									<option>9</option>
									<option>10</option>
									<option>11</option>
									<option>12</option>
									<option>13</option>
									<option>14</option>
									<option>15</option>
									<option>16</option>
									<option>17</option>
									<option>18</option>


								</select>
							</div>



							<label class="col-md-1 control-label">To: </label>
							<div class="col-md-1">
								<select class="form-control" data-ng-model="child.allowedChildAgeTo" style="padding: 0px;" required>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6</option>
									<option>7</option>
									<option>8</option>
									<option>9</option>
									<option>10</option>
									<option>11</option>
									<option>12</option>
									<option>13</option>
									<option>14</option>
									<option>15</option>
									<option>16</option>
									<option>17</option>
									<option>18</option>

								</select>

							</div>
							
							<label class="col-md-1">Year</label>
							<label class="col-md-1 col-md-offset-1">Rate:</label>
							<div class="col-md-2" style="height: 35px;">
								<input type="text" name="extraChildRate{{$index}}" class="form-control required number"
									data-ng-model="child.extraChildRate" required> <br>									
							</div>
							<!-- <label class="col-md-1">Year:</label>
							<div class="col-md-2" style="height: 35px;">
								<input type="text" name="year{{$index}}" class="form-control required number"
									data-ng-model="child.years" required> <br>									
							</div> -->
							
							<!-- <label class="col-md-2">Enter zero if free:
							</label>
							<div class="col-md-2">
								<select class="form-control" data-ng-model="child.netRate" required>
									<option>% of</option>
									<option>add to Room Rate</option>

								</select>
							</div> -->
						</div>
						</div>
						</div>
						<div class="row">
		            <div class="col-lg-12">
						<div class="form-group">
								<label class="col-md-8 control-label" style="margin-left: 5%;">Currency / %</label>
								<br>
						</div>
					</div>
				 </div>
						
					</span>

					</div>
					<div>
					<input type="button" class="btn btn-default col-md-offset-1" ng-click="roomChildDeleteId($index)" value="Remove">
                        <!-- <button class="btn btn-default col-md-offset-1" ng-click="roomChildDeleteId($index)">Remove</button> -->
					<button class="btn btn-default" ng-click="newchildpolicy($event)">Add New Child Age Interval</button>
				
				</div>
				</div>
				</div>
			</div>
			
		</fieldset>
		<br>
			<div class="form-group">
						<label class="col-md-6">*Can you fit an EXTRA BED to this room type?</label>
						<div class="col-md-2">

							<div class="chargechild">
								<input type="radio" name="extraBed"
									data-ng-model="roomTypeIns.extraBedAllowed" value="true" class="required"> &nbsp;
								Yes
							</div>
							<div>
								<input type="radio" name="extraBed"
									data-ng-model="roomTypeIns.extraBedAllowed" value="false" class="required"> &nbsp;
								No
							</div>
							<br>
						</div>
						<!-- <div ng-if="roomTypeIns.extraBedAllowed == 'true'">
					<label class="col-md-1">Rate :</label>
					<div class="col-md-2">
						<input type="text"
							data-ng-model="roomTypeIns.extraBedRate">
					</div>
						</div> -->

					</div>
					<div class="form-group">
						<label class="col-md-6">*Is this room a suite?</label>
						<div class="col-md-2">

							<div class="chargechild">
								<input type="radio" name="roomSuite"
									data-ng-model="roomTypeIns.roomSuiteType" value="true"> &nbsp;
								Yes
							</div>
							<div>
								<input type="radio" name="val"
									data-ng-model="roomTypeIns.roomSuiteType" value="false"> &nbsp;
								No
							</div>
							<br>
						</div>

					</div>
					<div class="form-group">
				<label class="col-md-1">Image:</label>
				<div class="col-md-2">
					<input ng-file-select="selectRoomImage($files)" name="" type="file" />					 <br>
				</div>
				 <div class="col-md-3">
		                  <img data-ng-src="{{imgRooms}}" alt="" style="width: 220px;" ng-show="roomT"> 
		               </div>
				<div class="col-md-6">
										<label class="col-md-2 control-label">Description :</label>

										<div class="col-md-7">
											<textarea id="description" name="description" data-ng-model="roomTypeIns.description" rows="3"
												class="form-control" maxlength="240"></textarea>
										</div>
									</div>
			</div>
				
					
					<!-- <div class="col-md-3">
					 <input ng-file-select="selectHotelLobbyImage($files)" name="" type="file" />
			             
			             </div>	
			               <br>
			             <div class="col-md-8">
										<label class="col-md-2 control-label">Description</label>

										<div class="col-md-7">
											<textarea id="description" name="description" data-ng-model="saveLobbyImage.description" rows="3"
												class="form-control" maxlength="240"></textarea>
										</div>
									</div>  -->
					
					
					<div class="form-group">
					<div class="col-md-6">
			 	<label>*In Room Amenities: (please tick the boxes that are applicable)</label>
			 	</div>
					</div>
				 <div class="col-md-12">
				<label ng-repeat="amenity in roomAmenities" class="col-lg-4 col-md-6 col-sm-12 col-xs-12" style="padding:0px;">
				
				  <input
  				  type="checkbox" name="services"
  				    ng-click="serviceClicked($event,amenity)"
  				   	ng-model="amenity.isSelected" class="required">					
   					 {{amenity.amenityNm}}</label>
    			</div>  
    			</div>
    			<hr class="mtxxl mbxxl" style="border-color: black;">
</div>
		

                 <div class="col-md-3 col-md-offset-7">
                 <button type="submit" onclick="scroll(0,0)" class="btn btn-primary">Save</button>
                 </div>
                
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>

