<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="initial-scale=1.0"/>
<meta name="format-detection" content="telephone=no"/>
<title>Booking Confirm</title>
<body>
<table>
	<tr>
		<td style="color: #0084e6;">(&&Logo&&)</td>
		<td style="font-size: 23px;color: #0084e6;>CheckInRooms</td>
	</tr>
	<tr>
		<td></td>
	</tr>
	<tr>
		<td></td>
	</tr>
	<tr>
		<td><span style="font-size: 18px; line-height: 24px;">Dear $agentName<br> Thank you very much for your booking, once the booking is confirmed, you can print the voucher from MY  BOOKING after signing in to our system from your id. <br><br>If you do not receive any e-mail, from us in 24 hours, please do not hesitate to contact us.<br><br>Hope the above mentioned details are clear for any clarification please do not hesitate to contact us. <br><br>Best Regards,  <br>CHECKINROOMS TEAM <br>res@checkinrooms.com </span><br style="line-height: 24px;"><br style="line-height: 24px;"></td>
	</tr>
</table>
</body>
</html>