<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="initial-scale=1.0"/>
<meta name="format-detection" content="telephone=no"/>
<title>Booking Confirm</title>
<body>
<table>
	<tr>
		<td>(&&Logo&&)</td>
		<td>checkinrooms</td>
	</tr>
	<tr>
		<td></td>
	</tr>
	<tr>
		<td></td>
	</tr>
	<tr>
		<td><span style="font-size: 16px; line-height: 24px;">Dear Admin (CheckInRoom), <br><br> Please note that a new (Agent) has registered, the details are as follows :<br><br>Company Name :  :$AgentCompany<br>Contact Person  : $contactPerson<br><br>Please sign in the admin panel, to approve or reject the Supplier.<br> </span><br style="line-height: 24px;"><br style="line-height: 24px;"></td>
	</tr>
</table>
</body>
</html>