@(hotelGeneralInfo: com.travelportal.vm.HotelGeneralInfoVM)
<form method="post" ng-submit="savegeneralinfo()" role="form" class="form-horizontal" data-ng-controller="generalInfoProfileController">
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label class="col-md-3 control-label">Supplier Code</label>
				<div class="col-md-9">
					<input type="text" placeholder="Supplier Code" class="form-control"
						data-ng-model="generalInfo.supplierCode" value="@Html(hotelGeneralInfo.getSupplierCode().toString())" disabled="disabled">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Company Name</label>
				<div class="col-md-9">
					<input type="text" data-ng-model="generalInfo.companyName" placeholder="Hotel Name" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Hotel Address</label>
				<div class="col-md-9">
					<textarea id="message3" data-ng-model="generalInfo.hotelAddress" name="message3" rows="6"
						class="form-control"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Country</label>
				<div class="col-md-9">
					<select class="form-control" data-ng-model="generalInfo.countryCode" ng-change="onCountryChange()" data-ng-options="country.countryCode as country.countryName for country in countries">
						<option>Select Country...</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">City</label>
				<div class="col-md-9">
					<select class="form-control" data-ng-model="generalInfo.cityCode" data-ng-options="city.cityCode as city.cityName for  city in cities">
							<option>Select City...</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Email</label>
				<div class="col-md-9">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
						<input type="email" data-ng-model="generalInfo.emailAddr" placeholder="Email Address"
							class="form-control">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Is hotel part of Chain</label>
				<div class="col-md-9">
							<!-- <div class="iradio_minimal-grey"
								style="position: relative;">
								<input type="radio" name="val" data-ng-model="generalInfo.partchain" value="Yes" 
									style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);">
								<ins class="iCheck-helper"
									style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
							</div>&nbsp; Yes</label><label><div class="iradio_minimal-grey"
								style="position: relative;">
								<input type="radio" name="val" data-ng-model="generalInfo.marketrate" value="No" 
									style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);">
								<ins class="iCheck-helper"
									style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
							</div>&nbsp; No</label>  -->
							<label><input type="radio" name="test" data-ng-model="generalInfo.countryCode" value="1000"/> One</label>
  							<label><input type="radio" name="test" data-ng-model="generalInfo.countryCode" value="2000"/> Two</label>{{generalInfo.countryCode}}
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-md-3 control-label">Hotel affiliate to</label>
				<div class="col-md-9">
					<select class="form-control" data-ng-model="generalInfo.affiliate" data-ng-options="hotelchainname.chainHotelCode as hotelchainname.chainHotelName for hotelchainname in hotelchain" >
						<option>Select Hotel affiliate...</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Please choose your hotel brand :</label>
				<div class="col-md-9">
					<select class="form-control" data-ng-model="generalInfo.brand" data-ng-options="hotelbrandname.brandsCode as hotelbrandname.brandName for hotelbrandname in hotelbrand" >
						<option>Select Hotel Brand...</option>
					</select>
				</div>
			</div>

			<hr class="mtxxl mbxxl" style="border-color: black">
			<div>
			Please choose the currency from the drop down menu that you wish to supply the net payable rates in:
			</div>
			<br>
			<div class="form-group">
				<label class="col-md-3 control-label">Choose Currency</label>
				<div class="col-md-9">
					<select class="form-control" data-ng-model="generalInfo.currency" data-ng-options="currencyname.currencyCode as currencyname.currencyName for currencyname in currency">
						<option>Select Currency...</option>
					</select>
				</div>
			</div>
			<hr class="mtxxl mbxxl" style="border-color: black">
			<div class="form-group">
				<label class="col-md-3 control-label">Define Policy for
					Market Specific Rates</label>
				<div class="col-md-9">
					<div class="form-group">
						<div class="radio mtx">
							 <label class="" ng-repeat="markettype in marketrate" style="width: 100%; float: left;margin-bottom: 1%;"><div class="iradio_minimal-grey"
									style="position: relative;">
									<input id="abc{{$index}}" type="radio" name="optionsRadios" ng-model="generalInfo.marketrate"
										ng-value="markettype.marketPolicyTypeId" 
										style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);">
									<ins class="iCheck-helper"
										style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
								</div>&nbsp; {{markettype.marketPolicyTypeNm}}</label> 
						</div>
						
					</div>
				</div>
			</div>
			<hr class="mtxxl mbxxl" style="border-color: black">
			<div>
			<div>Please select the star rating and only use the approved authorized licensed rating given to your property. We reserve the right to change the rating if required </div>
			<br>
			<div class="form-group">
				<label class="col-md-3 control-label">Choose a Star Rating:</label>
				<div class="col-md-9">
					<select class="form-control" data-ng-model="generalInfo.staterate" data-ng-options="starrate.starRatingTxt as starrate.starRatingTxt for starrate in starrating" style="width: 70%;" >
						<option>Select Star Rating...</option>
					</select>
				</div>
			</div>
			<div>
			
			A First-class accommodation category that highlights luxury, hospitality, and premium customer service related services. These are outstanding lodging facilities offering fine cuisine, an extensive range of amenities/services. May be centrally located and easy access to the commercial business areas.
			</div>
            <br>
            <div>
            Please choose a password that you will remember. Your password should be a minimum of 6 characters long and easy to remember. For security reasons, DO NOT use a simple password like your hotel name. Your Property ID will always be your hotel name exactly as written on the DOTW agreement and as listed above in field labeled Property/Hotel Name (please do not make changes). 
Note: Once you click update if you made changes here, the system will log you out and you will need to log back with your new password.
			</div>
			<br>
			<div class="form-group">
				<label class="col-md-3 control-label">Password :</label>
				<div class="col-md-9">
					<input type="text" data-ng-model="generalInfo.password" class="form-control" style="width: 70%;">
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-md-3 control-label">Verify :</label>
				<div class="col-md-9">
					<input type="text" data-ng-model="generalInfo.verify" class="form-control" style="width: 70%;">
				</div>
			</div>
			
			</div>
			
		<hr class="mtxxl mbxxl" style="border-color: black">	
		</div>
		
                 <button type="submit" class="btn btn-primary" style="margin-left: 84%;">Save</button>
	</div>
</form>
