<form role="form" class="form-horizontal">
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label class="col-md-3 control-label">Supplier Code</label>
				<div class="col-md-9">
					<input type="text" placeholder="Supplier Code" class="form-control"
						value="12345" disabled="disabled">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Company Name</label>
				<div class="col-md-9">
					<input type="text" placeholder="Hotel Name" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Hotel Address</label>
				<div class="col-md-9">
					<textarea id="message3" name="message3" rows="6"
						class="form-control"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Country</label>
				<div class="col-md-9">
					<select class="form-control">
						<option>Thailand</option>
						<option>South Africa</option>
						<option>Australia</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">City</label>
				<div class="col-md-9">
					<select class="form-control">
						<option>BANGKOK</option>
						<option>BURI RAM</option>
						<option>CHA AM</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Email</label>
				<div class="col-md-9">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
						<input type="email" placeholder="Email Address"
							class="form-control">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Is hotel part of Chain</label>
				<div class="col-md-9">
					<div class="checkbox">
						<label>
							<div class="iradio_minimal-grey"
								style="position: relative;">
								<input id="optionsRadios22" type="radio" value="option1"
									style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);">
								<ins class="iCheck-helper"
									style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
							</div>&nbsp; Yes</label><label><div class="iradio_minimal-grey"
								style="position: relative;">
								<input id="inlineCheckbox22" type="radio" value="option2"
									style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);">
								<ins class="iCheck-helper"
									style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
							</div>&nbsp; No</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Hotel affiliate to</label>
				<div class="col-md-9">
					<select class="form-control">
						<option>Accor Hotels</option>
						<option>A & O Group</option>
						<option>A Famosa</option>
					</select>
				</div>
			</div>

			<hr class="mtxxl mbxxl" style="border-color: black">
			<div class="form-group">
				<label class="col-md-3 control-label">Choose Currency</label>
				<div class="col-md-9">
					<select class="form-control">
						<option>THB - Thai Baht</option>
						<option>AUD - Australian Dollar</option>
					</select>
				</div>
			</div>
			<hr class="mtxxl mbxxl" style="border-color: black">
			<div class="form-group">
				<label class="col-md-3 control-label">Define Policy for
					Market Specific Rates</label>
				<div class="col-md-9">
					<div class="form-group">
						<div class="radio mtx">
							<label class=""><div class="iradio_minimal-grey checked"
									style="position: relative;">
									<input id="optionsRadios1" type="radio" name="optionsRadios"
										value="option1" checked="checked"
										style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);">
									<ins class="iCheck-helper"
										style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
								</div>&nbsp; Based on Travel Agent Area</label>
						</div>
						<div class="radio mtx">
							<label class=""><div class="iradio_minimal-grey"
									style="position: relative;">
									<input id="optionsRadios2" type="radio" name="optionsRadios"
										value="option2"
										style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);">
									<ins class="iCheck-helper"
										style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
								</div>&nbsp; Based on Passenger Residency</label>
						</div>
						<div class="radio disabled mtx">
							<label><div class="iradio_minimal-grey disabled"
									style="position: relative;">
									<input id="optionsRadios3" type="radio" name="optionsRadios"
										value="option3" disabled="disabled"
										style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);">
									<ins class="iCheck-helper"
										style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
								</div>&nbsp; Based on Passenger Nationality</label>
						</div>
					</div>
				</div>
			</div>
			<hr class="mtxxl mbxxl" style="border-color: black">
		</div>

	</div>
</form>
