
<form method="post" ng-submit="saveDescription()" role="form" class="form-horizontal" data-ng-controller="generalInfoProfileController">
	<div class="row">
		<div class="col-md-12">
		<div>
		<b>Hotel Description:</b><br> 
Please enter a short description of your property to highlight the main features and facilities. The text should be limited to a maximum of 1000 characters. The description in English is mandatory and other languages are optional. 
The text will be displayed the way it is entered and therefore avoid typing the entire description in capital letters.<br>
		</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Profile description</label>
				<div class="col-md-9">
					<textarea id="message3" data-ng-model="generalInfo.description" name="message3" rows="6"
						class="form-control">
						Located on Sukumvit Road. 7 min from the Queen Sirikit National Convention Centre.
						 4 mn walk from Emporium Shopping Mall, Royal National Park and Sky train station. 
						 4 food and beverage outlets. Fitness centre. Conference and seminar facilities.
						 The Bangkok Hotel Lotus Sukhumvit is centrally located and offers free private parking, 
						 an outdoor swimming pool and sauna.Bangkok Hotel Lotus is situated near several shopping and entertainment venues.
						  Phrom Phong Skytrain station is a short stroll away.
						  Rooms are fitted with air conditioning, cable television and coffee/tea making facilities.
						  Free Wi-Fi is available. 24-hour room service is provided.
						</textarea>
				</div>
			</div>	
			
			<!-- <div>
			<div class="form-group">
				<label class="col-md-4 control-label">Profile description to be entered here:</label>
				</div>
				
				<div class="col-md-4">
					<textarea id="message3" data-ng-model="generalInfo.description" name="message3" rows="6"
						class="form-control" style="margin-left: 17%;"></textarea>
				</div>
			</div> -->
		<div>
			
			
			<div class="form-group">
				<label class="col-md-12 control-label" style="text-align: left;color: blue;">The {{generalInfo.companyName}} is a(Please tick the boxes that are applicable):</label>
				</div><br>
				
				<div>
				<label ng-repeat="serv in services"  for="checkbox_{{$index}}" style="padding-right: 30px;width: 24%;">
			  <input
  				  type="checkbox"
  				  name="checkbox_{{$index}}"
  				  id="checkbox_{{$index}}"
   					 ng-true-value="{{serv.serviceId}}"
    			ng-model="generalInfo.selected"> {{serv.serviceName}}</label>
    			</div>
				<!-- <div>
				
			<table align="center">
							
<tbody style="font-size: smaller;"><tr>
	<td style="width: 27%;"><label><input type="checkbox">  Airport Apartment</label></td>
	<td style="width: 27%;"><label><input type="checkbox">  Airport Hotel</label></td>
	<td style="width: 27%;"><label><input type="checkbox">  All Suite</label></td>
	<td style="width: 27%;"><label><input type="checkbox">  Art Decor</label></td>
	
</tr>
<tr>
	<td style="width: 27%;"><label><input type="checkbox">  Beach Apartment</label></td>
	<td style="width: 27%;"><label><input type="checkbox">  Beach Resort</label></td>
	<td style="width: 27%;"><label><input type="checkbox">  Boutique</label></td>
	<td style="width: 27%;"><label><input type="checkbox">  Business</label></td>
	
</tr>
<tr>
	<td style="width: 27%;"><label><input type="checkbox">  Camp Site</label></td>
	<td style="width: 27%;"><label><input type="checkbox">  Child Friendly</label></td>
	<td style="width: 27%;"><label><input type="checkbox">  City apartment</label></td>
	<td style="width: 27%;"><label><input type="checkbox">  City hotel</label></td>
	
</tr>
<tr>
	<td style="width: 27%;"><label><input type="checkbox">  Colonial Style</label></td>
	<td style="width: 27%;"><label><input type="checkbox">  Desert Resort</label></td>
	<td style="width: 27%;"><label><input type="checkbox">  Design Trendy</label></td>
	<td style="width: 27%;"><label><input type="checkbox">  Diving Resort</label></td>
	
</tr>
  <tr>
	<td style="width: 27%;"><label><input type="checkbox">  Eco Friendly</label></td>
	<td style="width: 27%;"><label><input type="checkbox">  Equestrian Resort</label></td>
	<td style="width: 27%;"><label><input type="checkbox">  Family Style</label></td>
	<td style="width: 27%;"><label><input type="checkbox">  Floatel</label></td>
	
</tr> 
<tr>
    <td style="width: 27%;"><label><input type="checkbox">  Full Service</label></td>
	<td style="width: 27%;"><label><input type="checkbox">  Golf Resort</label></td>
	<td style="width: 27%;"><label><input type="checkbox">  Health Resort</label></td>
	<td style="width: 27%;"><label><input type="checkbox">  Heritage Building</label></td>
	
</tr>
<tr>
	<td style="width: 27%;"><label><input type="checkbox">  Honeymoon</label></td>
	<td style="width: 27%;"><label><input type="checkbox">  Leisure</label></td>
	<td style="width: 27%;"><label><input type="checkbox">  Limited Service</label></td>
	<td style="width: 27%;"><label><input type="checkbox">  Lodge</label></td>
	
</tr>
<tr>
	<td style="width: 27%;"><label><input type="checkbox">  Modern</label></td>
	<td style="width: 27%;"><label><input type="checkbox">  Motel</label></td>
	<td style="width: 27%;"><label><input type="checkbox">  Pet Friendly</label></td>
	<td style="width: 27%;"><label><input type="checkbox">  Polo Resort</label></td>
	
</tr>
<tr>
	<td style="width: 27%;"><label><input type="checkbox">  Renaissance Style</label></td>
	<td style="width: 27%;"><label><input type="checkbox">  Resort</label></td>
	<td style="width: 27%;"><label><input type="checkbox">  Ski Resort</label></td>
	<td style="width: 27%;"><label><input type="checkbox">  Spa Resort</label></td>
	
</tr> 
<tr>
    <td style="width: 27%;"><label><input type="checkbox">  Sports Resort</label></td>
	<td style="width: 27%;"><label><input type="checkbox">  Tourist</label></td>
	<td style="width: 27%;"><label><input type="checkbox">  Traditional</label></td>
	<td style="width: 27%;"><label><input type="checkbox">  Villa Apartment</label></td>
</tr>
<tr>
	<td style="width: 27%;"><label><input type="checkbox">  Villa Resort</label></td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>							
	</tbody>
	</table>
		</div> -->
		</div>					<br>
																
								
								
					<div class="form-group">
						<label class="col-md-3 control-label">Hotel Located in </label>
				<div class="col-md-9">
					<select class="form-control" data-ng-model="generalInfo.location" data-ng-options="location.locationId as location.locationNm for location in location" style="width: 70%;float: left;">
						<option>-- Choose One --</option>
					</select><label class="col-md-3 control-label"  style="text-align: left;">area</label>
					
				</div>
				
			</div>
								
								<br>
							<div class="form-group">
							<label class="col-md-3 control-label">Shopping is </label>
				<div class="col-md-9">
					<select class="form-control" data-ng-model="generalInfo.shopping" data-ng-options="shopping.id as shopping.shoppingArea for shopping in shoppingfacility" style="width: 70%;float: left;">
						<option>-- Choose One --</option>
					</select><label class="col-md-3 control-label"  style="text-align: left;">and</label> 
				</div>
			</div>
							<br>
							<div class="form-group">
							<label class="col-md-3 control-label">the nightlife/restaurants </label>
				<div class="col-md-9">
					<select class="form-control" data-ng-model="generalInfo.night" data-ng-options="night.nightLifeCode as night.nightLifeNm for night in nightlife" style="width: 70%;float: left;">
						<option>-- Choose One --</option>
					</select><label class="col-md-3 control-label"  style="text-align: left;">the hotel.</label>
				</div>
			</div>
			
			
			
		</div>
                 <button type="submit" class="btn btn-primary" style="margin-left: 84%;">Save</button>
	</div>
</form>

<style>
table.ex1 {
    border-collapse: separate;
    border-spacing: 35px;
}

</style>
