
<form method="post" ng-submit="savegeneralinfo()" role="form" class="form-horizontal" data-ng-controller="generalInfoProfileController">
	<div class="row">
		<div class="col-md-12">
			
			<label class="col-md-8 control-label">Please enter 3 words ONLY that will give the user an idea of where your Property is located. . </label>
			<div>
			<table>
			<tr>
			<td></td>
			<td>Hyde Park</td>
			<td>Piccadilly</td>
			<td>Buckingham Palace</td>
			</tr>
			<tr>
			<td>1</td>
			<td>2</td>
			<td>3</td>
			</tr>
			<tr>
			<tr>
			<td>
				<label class="col-md-3 control-label">* Enter Here :</label>
				</td>
				<td>
					<input class="casute3" style="width:110px;" name="location1" type="text" maxlength="30"></td>
				<td><input class="casute3" style="width:110px;" name="location2" type="text" maxlength="30"></td>
				<td><input class="casute3" style="width:110px;" name="location3" type="text" maxlength="30"></td>
				
				</tr>
			</div>
						
			</table>
			
			
		</div>
                 <button type="submit" class="btn btn-primary" style="margin-left: 84%;">Save</button>
	</div>
</form>

<style>
table.ex1 {
    border-collapse: separate;
    border-spacing: 3px;
}

</style>
