<div>
                <div class="login-social">
                  <p class="button" style="background: #01b7f2;color: white;">Agent Login</p>
                   <!--    <a href="#" class="button login-googleplus"><i class="soap-icon-googleplus"></i>Login with Google+</a> -->
                </div>
                 <div class="form-group" ng-show="errorMsg == true">
                 <p style="color: red;">Invalid Agent</p>
                 </div>
                 <div class="form-group" ng-show="loginSuccess == 1">
                 <p style="color: #7fb231;">login successfully</p>
                 </div>
                 
                 
               <!--  <div class="seperator"><label>-</label></div>  -->
                <form>  <!-- action="/"    method="post" name="myForm" ng-submit="loginAgentcheck()" role="form" -->
                    <div class="form-group">
                        <input type="text" name="loginID" data-ng-model="loginAgentinfo.loginID" class="input-text full-width" placeholder="login ID">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" data-ng-model="loginAgentinfo.password" class="input-text full-width" placeholder="password">
                    </div>
                     <div class="form-group">
                        <input type="password" name="agentId" data-ng-model="loginAgentinfo.agentId" class="input-text full-width" placeholder="agent Id">
                    </div>
                     <div class="form-group">
                       <button type="submit" ng-click="loginAgentcheck(loginAgentinfo)" class="full-width btn-medium">LOGIN</button>
                    </div>
                    
                    <div class="form-group">
                        <a href="#" class="forgot-password pull-right">Forgot password?</a>
                        <div class="checkbox checkbox-inline">
                            <label>
                                <input type="checkbox"> Remember me
                            </label>
                        </div>
                    </div>
                </form>
               <!--  <div class="seperator"></div> -->
                <p>Don't have an account? <a href="/agentsignUp" class="goto-signup" style="color:#01b7f2;">Sign up</a></p>
           </div>

<style>

.ngdialog-content{

background-color: white !important;
height: 351px !important;
width: 296px !important;
top: 70px;
overflow-x: initial;

}

.ngdialog.ngdialog-theme-default .ngdialog-content{
min-height : 135px;
}

.lineColor{
color: #01b7f2;

}

/* border-right: 1px solid #f5f5f5; */


#hotel-description .features label, #cruise-description .features label, #travel-guide .features label{
width: 127px;
}

</style>
