<div class="tab-content" style="background-color: white;">
                            
							
                            <div id="booking" class="tab-pane fade active in">
                              <div class="col-md-12" style="background-color: white;">
                            <h2 class="col-md-6" style="color: #428bca;">Hotel : {{ratedetail.hotelNm}}</h2>
                               <!--  <h2 class="col-md-6">Room : {{roominfo.roomName}}</h2> -->
                                 </div>
                                <div class="filter-section gray-area clearfix">
                                     
                                        <div class="pull-right col-md-12" style="margin: 1%;">
                                            <!-- <h5 class="pull-left no-margin col-md-3">Adult:</h5> -->
                                             <div class="selector col-md-3">
                            				 <select class="full-width" name="room" data-ng-model="searchroom.roomtp" ng-change="showAdult(searchroom.roomtp)">
                          				     <option ng-repeat="roomtp in hotelIF.hotelbyRoom" value="{{roomtp.roomId}}">{{roomtp.roomName}}</option>
                             				 </select><span class="custom-select full-width">{{hotelIF.hotelbyRoom[0].roomName}}</span>
                                           </div> 
                                           <div class="selector col-md-2">
                            				 <select class="full-width" name="adult" data-ng-model="searchroom.adult" ng-change="showRate(searchroom.adult)">
                          				     <option ng-repeat="adult in ratedetail.hotelbyRoom[0].hotelRoomRateDetail[0].rateDetailsNormal" value="{{adult.adult}}">{{adult.adult}}</option>
                             				 </select><span class="custom-select full-width">{{ratedetail.hotelbyRoom[0].hotelRoomRateDetail[0].rateDetailsNormal[0].adult}}</span> 
                                           </div>
                                            <div class="col-md-3 col-md-offset-1">
                                             <span>TOTAL : </span>
                                                <span class="price">{{total}} <sup style="font-size: 17px;color: chocolate;top: -2px;" class="ng-binding">{{ratedetail.currencyShort}}</sup></span>
                                            </div>
                                           <div class="col-md-2 pull-right" ng-if="flag == 0">
                                                 <!-- <span class="price"><small>AVG/NIGHT</small>$620</span>  -->
                                                 <form action="/hoteldetailpage" method="post">
                              					        <input type="text" name="supplierCode"  value="{{hotelIF.supplierCode}}" style="display: none;">
                                					    <input type="text" name="checkIn" value="{{hotelIF.checkIn}}" style="display: none;">
                              						     <input type="text" name="checkOut" value="{{hotelIF.checkOut}}" style="display: none;">
                            						     <input type="text" name="nationalityCode" value="{{hotelIF.nationality}}" style="display: none;">  
                                                 <button type="submit" class="full-width text-center">Book Now</button>
                                               </form>
                                                <!-- <a class="button btn-small full-width text-center" style="background: #7db921;" title=""  href="/hoteldetailpage">Book Now</a> -->
                                            </div>
                                            <div class="col-md-2 pull-right" ng-if="flag == 1">
                                                    <button data-animation-duration="1" data-animation-type="bounce" class="full-width dark-orange animated bounce" type="button" style="-webkit-animation: 1s; visibility: visible;">ON REQUEST</button>
                                                </div>
                                           
                                        </div>
                                </div>
                                <div class="col-md-12" style="background-color: white;height: 325px !important;overflow: auto;">
                                <div class="booking-history col-md-4" ng-repeat="Dateinfo in rateDatedetail">
                                
                                 <div class="booking-info clearfix" ng-if="Dateinfo.flag == 0">
                                        <div class="date">
                                            <label class="month">{{Dateinfo.month}}</label>
                                            <label class="date">{{Dateinfo.date}}</label>
                                            <label class="day">{{Dateinfo.day}}</label>
                                        </div>
                                                                                                                     
                                        <dl class="info">
                                            <dt>Rate</dt>
                                             <!-- <span style="font-size: 19px;"><dd currency-rate ng-model="Dateinfo.rate" styleValue="font-size: small;top: 0px;" rate="{{Dateinfo.rate}}" supplier_curr="{{ratedetail.currencyExchangeRate}}" agent_curr="{{ratedetail.agentCurrency}}"></dd></span> -->
                                            <dd>{{Dateinfo.rate}} {{ratedetail.currencyShort}}</dd>
                                            <dt>Included</dt>
                                            <dd ng-if="Dateinfo.meal != null">{{Dateinfo.meal}}</dd>
                                            <dd ng-if="Dateinfo.meal == null">--"--</dd>
                                        </dl>
                                       <!--  <button class="btn-mini status">Book Now</button> -->
                                    </div>
                                                                  
                                    <div class="booking-info clearfix cancelled" ng-if="Dateinfo.flag == 1">
                                        <div class="date">
                                            <label class="month">{{Dateinfo.month}}</label>
                                            <label class="date">{{Dateinfo.date}}</label>
                                            <label class="day">{{Dateinfo.day}}</label>
                                        </div>
                                                                         
                                        <dl class="info">
                                            <dt>Rate</dt>
                                            <!--  <span style="font-size: 19px;"><dd currency-rate ng-model="Dateinfo.rate" styleValue="font-size: small;top: 0px;" rate="{{Dateinfo.rate}}" supplier_curr="{{ratedetail.currencyExchangeRate}}" agent_curr="{{ratedetail.agentCurrency}}"></dd></span> -->
                                            <dd>{{Dateinfo.rate}}  {{ratedetail.currencyShort}}</dd>
                                            <dt>Included</dt>
                                            <dd ng-if="Dateinfo.meal != null">{{Dateinfo.meal}}</dd>
                                            <dd ng-if="Dateinfo.meal == null">--"--</dd>
                                        </dl>
                                        <!-- <button class="btn-mini status">CANCELLED</button> -->
                                    </div>
                                   
                                </div>
								</div>
                            </div>
          </div>
                            
                       <style>
                       input.input-text, select, textarea, span.custom-select{
                       background: white;
                       }
                       
                       </style>     
                           