
<form method="post" ng-submit="saveAreainfo()" role="form" class="form-horizontal">
	<div class="row">
		<div class="col-md-12">
					
			<div>
		<label>Please list Attractions <b>BY NAME</b> such as Landmarks, Museums, Nightlife, Shopping and Activities around your hotel. When using the Distance Km/Miles area and you need to use Decimal like 0.5 use Point/Period.</label><br>
		<br> 
		</div>
		
		<div class="form-group">
				<div>
				<label style="margin-left: 18%;">Name</label>
				<label style="margin-left: 28%;">Distance</label>
				<label style="margin-left: 7%;">Km/miles</label>
				<label style="margin-left: 7%;">minutes</label>
				</div>
				</div>
		
			
			<div class="form-group">
			<div class="col-md-1">
			<label>*1</label>
			</div>
				<div class="col-md-5">
					<input type="text" name="Name" data-ng-model="areaInfo[6].1Name" class="form-control">
				</div>
				<div class="col-md-2" style="width: 13%;">
					<input type="text" name="Distance" data-ng-model="areaInfo[6].1distance" class="form-control">
				</div>
				
				<div class="col-md-2">
					<select class="form-control" data-ng-model="contactInfo[6].1km">
							<option>Km</option>
							<option>Miles</option>
							
					</select>
				</div>
			
				<div class="col-md-2" style="width: 13%;">
					<input type="text" name="minutes" data-ng-model="areaInfo[6].1minutes" class="form-control">
				</div>
				
				
			</div>
			<div class="form-group"> 
			<div class="col-md-1">
			<label>2</label>
			</div>
			<div class="col-md-5">
					<input type="text" name="Name" data-ng-model="areaInfo[0].2Name" class="form-control">
				</div>
				<div class="col-md-2" style="width: 13%;">
					<input type="text" name="Distance" data-ng-model="areaInfo[0].2distance" class="form-control">
				</div>
				
				<div class="col-md-2">
					<select class="form-control" data-ng-model="contactInfo[0].2km">
							<option>Km</option>
							<option>Miles</option>
							
					</select>
				</div>
			
				<div class="col-md-2" style="width: 13%;">
					<input type="text" name="minutes" data-ng-model="areaInfo[0].2minutes" class="form-control">
				</div>
			</div>
			
			<div class="form-group"> 
			<div class="col-md-1">
			<label>3</label>
			</div>
			<div class="col-md-5">
					<input type="text" name="Name" data-ng-model="areaInfo[1].2Name" class="form-control">
				</div>
				<div class="col-md-2" style="width: 13%;">
					<input type="text" name="Distance" data-ng-model="areaInfo[1].2distance" class="form-control">
				</div>
				
				<div class="col-md-2">
					<select class="form-control" data-ng-model="contactInfo[1].2km">
							<option>Km</option>
							<option>Miles</option>
							
					</select>
				</div>
			
				<div class="col-md-2" style="width: 13%;">
					<input type="text" name="minutes" data-ng-model="areaInfo[1].2minutes" class="form-control">
				</div>
			</div>
			
			<div class="form-group"> 
			<div class="col-md-1">
			<label>4</label>
			</div>
			<div class="col-md-5">
					<input type="text" name="Name" data-ng-model="areaInfo[2].2Name" class="form-control">
				</div>
				<div class="col-md-2" style="width: 13%;">
					<input type="text" name="Distance" data-ng-model="areaInfo[2].2distance" class="form-control">
				</div>
				
				<div class="col-md-2">
					<select class="form-control" data-ng-model="contactInfo[2].2km">
							<option>Km</option>
							<option>Miles</option>
							
					</select>
				</div>
			
				<div class="col-md-2" style="width: 13%;">
					<input type="text" name="minutes" data-ng-model="areaInfo[2].2minutes" class="form-control">
				</div>
			</div>
		
		 <div>
		
			<!-- 
			<div class="form-group"> 
			<div class="col-md-1">
			<label>5</label>
			</div>
			<div class="col-md-5">
					<input type="text" name="Name" data-ng-model="areaInfo.2Name[0]" class="form-control">
				</div>
				<div class="col-md-2" style="width: 13%;">
					<input type="text" name="Distance" data-ng-model="areaInfo.2distance[0]" class="form-control">
				</div>
				
				<div class="col-md-2">
					<select class="form-control" data-ng-model="contactInfo.2km">
							<option>Km</option>
							<option>Miles</option>
							
					</select>
				</div>
			
				<div class="col-md-2" style="width: 13%;">
					<input type="text" name="minutes" data-ng-model="areaInfo.2minutes" class="form-control">
				</div>
			</div>
			
			
			<div class="form-group"> 
			<div class="col-md-1">
			<label>6</label>
			</div>
			<div class="col-md-5">
					<input type="text" name="Name" data-ng-model="areaInfo.2Name" class="form-control">
				</div>
				<div class="col-md-2" style="width: 13%;">
					<input type="text" name="Distance" data-ng-model="areaInfo.2distance" class="form-control">
				</div>
				
				<div class="col-md-2">
					<select class="form-control" data-ng-model="contactInfo.2km">
							<option>Km</option>
							<option>Miles</option>
							
					</select>
				</div>
			
				<div class="col-md-2" style="width: 13%;">
					<input type="text" name="minutes" data-ng-model="areaInfo.2minutes" class="form-control">
				</div>
			</div>
			
			
			<div class="form-group"> 
			<div class="col-md-1">
			<label>7</label>
			</div>
			<div class="col-md-5">
					<input type="text" name="Name" data-ng-model="areaInfo.2Name" class="form-control">
				</div>
				<div class="col-md-2" style="width: 13%;">
					<input type="text" name="Distance" data-ng-model="areaInfo.2distance" class="form-control">
				</div>
				
				<div class="col-md-2">
					<select class="form-control" data-ng-model="contactInfo.2km">
							<option>Km</option>
							<option>Miles</option>
							
					</select>
				</div>
			
				<div class="col-md-2" style="width: 13%;">
					<input type="text" name="minutes" data-ng-model="areaInfo.2minutes" class="form-control">
				</div>
			</div>
			
			
			<div class="form-group"> 
			<div class="col-md-1">
			<label>8</label>
			</div>
			<div class="col-md-5">
					<input type="text" name="Name" data-ng-model="areaInfo.2Name" class="form-control">
				</div>
				<div class="col-md-2" style="width: 13%;">
					<input type="text" name="Distance" data-ng-model="areaInfo.2distance" class="form-control">
				</div>
				
				<div class="col-md-2">
					<select class="form-control" data-ng-model="contactInfo.2km">
							<option>Km</option>
							<option>Miles</option>
							
					</select>
				</div>
			
				<div class="col-md-2" style="width: 13%;">
					<input type="text" name="minutes" data-ng-model="areaInfo.2minutes" class="form-control">
				</div>
			</div>
			
			
			<div class="form-group"> 
			<div class="col-md-1">
			<label>9</label>
			</div>
			<div class="col-md-5">
					<input type="text" name="Name" data-ng-model="areaInfo.2Name" class="form-control">
				</div>
				<div class="col-md-2" style="width: 13%;">
					<input type="text" name="Distance" data-ng-model="areaInfo.2distance" class="form-control">
				</div>
				
				<div class="col-md-2">
					<select class="form-control" data-ng-model="contactInfo.2km">
							<option>Km</option>
							<option>Miles</option>
							
					</select>
				</div>
			
				<div class="col-md-2" style="width: 13%;">
					<input type="text" name="minutes" data-ng-model="areaInfo.2minutes" class="form-control">
				</div>
			</div>
			
			
			<div class="form-group"> 
			<div class="col-md-1">
			<label>10</label>
			</div>
			<div class="col-md-5">
					<input type="text" name="Name" data-ng-model="areaInfo.2Name" class="form-control">
				</div>
				<div class="col-md-2" style="width: 13%;">
					<input type="text" name="Distance" data-ng-model="areaInfo.2distance" class="form-control">
				</div>
				
				<div class="col-md-2">
					<select class="form-control" data-ng-model="contactInfo.2km">
							<option>Km</option>
							<option>Miles</option>
							
					</select>
				</div>
			
				<div class="col-md-2" style="width: 13%;">
					<input type="text" name="minutes" data-ng-model="areaInfo.2minutes" class="form-control">
				</div>
			</div>
 -->			
			
				
		</div>		 
		
			<br>
																
			
			
			
		</div>
				
		<hr class="mtxxl mbxxl" style="border-color: black; float: left; width: 99%;">
		
		
		     
                 <button type="submit" class="btn btn-primary" style="margin-left: 84%;">Save</button>
	</div>
</form>

