
<form method="post" name="billinfo" ng-submit="Savebillinginfo()" role="form" class="form-horizontal">
<fieldset class="billBorder">
  <legend style="width: 70%;border-bottom: none;">Company/Management/ Supplier Information</legend>
	<div class="row">
		<div class="col-md-12">
			
			<div class="form-group">
				<label class="col-md-5 control-label">Company / Management / Supplier Name:	</label>
				<div class="col-md-7">
					<input type="text" name="Name" data-ng-model="bill.Name" value={{supplierName}} class="form-control" disabled="disabled">
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-md-6 control-label" style="text-align: left;margin-left: 4%;">*Invoices/Payments will go to hotel address: </label>
				<div class="col-md-5">
				
				<div style="float: left;margin-right: 5%;">
						<input type="radio" name="val" data-ng-model="bill.Invoices" value="true">
						&nbsp; Yes
					</div>
					<div>
						<input type="radio" name="val" data-ng-model="bill.Invoices" value="false">
						&nbsp; No
					</div> 
				
					</div>
			</div>		
			<div>
			<fieldset class="billinside">
  			<legend style="width: 35%;border-bottom: none;">Accounting Contact:</legend>
				<div class="row">
					<div class="col-md-10">
			
					<div class="form-group">
						<label class="col-md-5 control-label">*First Name:</label>
						<div class="col-md-7">
						<input type="text" name="firstName" data-ng-model="bill.firstName" class="form-control" required>
					</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-5 control-label">*Last Name:</label>
						<div class="col-md-7">
						<input type="text" name="lastname" data-ng-model="bill.lastName" class="form-control" required>
					</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-5 control-label">*Title:</label>
						<div class="col-md-7">
						<input type="text" name="title" data-ng-model="bill.title" class="form-control" required>
					</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-5 control-label">*Direct E-mail:</label>
						<div class="col-md-7">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
						<input type="email" name="Email" data-ng-model="bill.email" class="form-control" required>
					</div>
					</div>
			</div>
					
					<div class="form-group">
				<label class="col-md-5 control-label">*Direct Telephone:</label>
				<div class="col-md-2" style="width: 16%;">
					<input type="number" name="telephcode" data-ng-model="bill.telephcode" class="form-control" required>
					<span class="error" ng-show="billinfo.telephcode.$error.number" style="color: red;">Not valid number!</span>
				</div>
				<p style="float: left;">-</p>
					<div class="col-md-4">
					<input type="number" name="telenumber" data-ng-model="bill.teleNumber" class="form-control" required>
					<span class="error" ng-show="billinfo.telenumber.$error.number" style="color: red;">Not valid number!</span>
				</div>
			</div>
			
				<div class="form-group">
				<label class="col-md-5 control-label">*Direct Fax:</label>
				<div class="col-md-2" style="width: 16%;">
					<input type="number" name="dirFaxcode" data-ng-model="bill.dirFaxcode" class="form-control" required>
					<span class="error" ng-show="billinfo.dirFaxcode.$error.number" style="color: red;">Not valid number!</span>
				</div>
				<p style="float: left;">-</p>
					<div class="col-md-4">
					<input type="number" name="dirFaxnumber" data-ng-model="bill.dirFaxNumber" class="form-control" required>
					<span class="error" ng-show="billinfo.dirFaxnumber.$error.number" style="color: red;">Not valid number!</span>
				</div>
			</div>
					
				<div class="form-group">
						<label class="col-md-5 control-label">Extension:</label>
						<div class="col-md-7">
						<input type="number" name="extenion" data-ng-model="bill.Extension" class="form-control" required>
						<span class="error" ng-show="billinfo.extenion.$error.number" style="color: red;">Not valid number!</span>
					</div>
					</div>	
					
				</div>
			    </div>
			   
			 </fieldset>
			 <br>
			</div>			
			
			<fieldset class="billinside">
  			<legend style="width: 50%;border-bottom: none;">Bank-to-Bank Wire Servicess</legend>
				<div class="row">
					<div class="col-md-10">
					<div class="col-md-12">
						<label>If you like to be paid via a bank wire, please enter your bank details:</label>		    	
		               </div>
		                <div class="form-group">
							<label class="col-md-7 control-label" style="text-align: left;margin-left: 4%;"> *We ask for the Bank-to-Bank Wire Service:  </label>
								<div class="col-md-4">
				
									<div style="float: left;margin-right: 4%;">
									<input type="radio" name="bank" data-ng-model="bill.service" value="true">
									&nbsp; Yes
									</div>
									<div>
									<input type="radio" name="bank" data-ng-model="bill.service" value="false">
									&nbsp; No
									</div> 
				
					</div>
			</div>		
		    
		    	    </div>
			    </div>
			</fieldset>
		
			<br>
			
		</div>
		<hr class="mtxxl mbxxl" style="border-color: black; float: left; width: 99%;">
		<div>
		<span ng-show="BillinfoSucccess" style="color: green;margin-left: 3%;">Billing Information Save Successfully</span>
		 <button type="submit" class="btn btn-primary" style="margin-left: 84%;">Save</button>
		 </div>
                
	</div>
	</fieldset>
</form>

<style>

 .billinside{
    padding: .35em .625em .75em;
     margin: 0 2px;
   border: 1px solid silver;
}
 
 
 .billBorder {
    padding: .35em .625em .75em;
margin: 0 2px;
border: 1px solid;
}

</style>
