<div class="panel panel-green">
	<div class="panel-heading clearfix">
		<span class="mts pull-left">HOTEL SUPPLIER PROFILE</span>
	</div>
	<div class="panel-body">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-12">
					<div class="tabbable tabs-left">
						<ul id="myTab2" class="nav nav-tabs">
							<li><a href="#profile0" data-toggle="tab">HOTEL
									GENERAL INFORMATION</a></li>
							<li><a href="#profile1" data-toggle="tab">HOTEL
									DESCRIPTION</a></li>
							<!-- <li><a href="#profile2" data-toggle="tab">HOTEL LOCATION</a></li> -->
							<li><a href="#profile2" data-toggle="tab">HOTEL INTERNAL
									INFORMATION</a></li>
							<li class="active"><a href="#profile3" data-toggle="tab">HOTEL CONTACT
									INFORMATION</a></li>
							<li><a href="#profile4" data-toggle="tab">HOTEL
									COMMUNICATION</a></li>
							<li><a href="#profile5" data-toggle="tab">BILLING
									INFORMATION</a></li>
							<!-- <li><a href="#profile6" data-toggle="tab">TAXES, FEES,
									SUPPLEMENTS</a></li> -->
							<li><a href="#profile7" data-toggle="tab">MEAL PLAN AND
									PRICES</a></li>
							<li><a href="#profile8" data-toggle="tab">HOTEL
									AMENITIES</a></li>
							<li><a href="#profile9" data-toggle="tab">HOTEL
									FEATURES</a></li>
							<!-- <li><a href="#profile10" data-toggle="tab">HOTEL LEISURE
									& SPORT</a></li> -->
							<li><a href="#profile10" data-toggle="tab">AREA
									ATTRACTIONS</a></li>
							<li><a href="#profile11" data-toggle="tab">TRANSPORTATION
									& DIRECTIONS</a></li>
							<li><a href="#profile12" data-toggle="tab">HEALTH &amp;
									SAFETY</a></li>
						</ul>
						<div id="myTabContent2" class="tab-content">
							<form method="post" name="contact" ng-submit="SaveContactinfo()" role="form" class="form-horizontal">
	<div class="col-md-12">
		<div class="col-md-12">
			
			<div class="form-group">
				<label class="col-md-3 control-label">*Main Contact Name:</label>
				<div class="col-md-9">
					<input type="text" name="cPersonName;" data-ng-model="contactInfo.cPersonName;" class="form-control"  required>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-md-3 control-label">*Designation:</label>
				<div class="col-md-9">
					<input type="text" name="cTitle" data-ng-model="contactInfo.cTitle" class="form-control" required>
				</div>
			</div>
			
			
						
			<div class="form-group">
				<label class="col-md-3 control-label">*Salutation :</label>
				<div class="col-md-9">
					<select class="form-control" name="salutationCode" data-ng-model="contactInfo.salutationCode" data-ng-options="salut.salutationId as salut.salutationValue for salut in salutation" required>
							<option>--choose one--</option>
							
					</select>
				</div>
			</div>
			
			
			<div class="form-group">
				<label class="col-md-3 control-label">*Direct Telephone:</label>
				<div class="col-md-2 setwidth">
					<input  type="text" name="dTelCode" data-ng-model="contactInfo.dTelCode" pattern="\d*" title="Please enter numbers" class="form-control" required>
					<!-- <span class="error" ng-show="contact.dTelCode.$error.number" style="color: red;">Not valid number!</span> -->
				</div>
				
					<div class="col-md-3">
					<input type="text" name="dTelNo" data-ng-model="contactInfo.dTelNo" pattern="\d*" title="Please enter numbers" class="form-control" required>
					<!-- <span class="error" ng-show="contact.dTelNo.$error.number" style="color: red;">Not valid number!</span> -->
				</div>
				<div class="col-md-4">
				(-Not Use character or special characters)
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">*Direct Fax :</label>
				<div class="col-md-2 setwidth">
					<input type="text" name="dFaxCode" data-ng-model="contactInfo.dFaxCode" pattern="\d*" title="Please enter numbers" class="form-control" required>
					<!-- <span class="error" ng-show="contact.dFaxCode.$error.number" style="color: red;">Not valid number!</span> -->
				</div>
				<div class="col-md-3">
					<input type="text" name="dFaxNo" data-ng-model="contactInfo.dFaxNo" pattern="\d*" title="Please enter numbers" class="form-control" required>
					<!-- <span class="error" ng-show="contact.dFaxNo.$error.number" style="color: red;">Not valid number!</span> -->
				</div>
				<div class="col-md-4">
				(-Not Use character or special characters)
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-md-3 control-label">Extension: </label>
				<div class="col-md-9">
					<input type="text" name="dExtNo" data-ng-model="contactInfo.dExtNo" pattern="\d*" title="Please enter numbers" class="form-control">
					<!-- <span class="error" ng-show="contact.dExtNo.$error.number" style="color: red;">Not valid number!</span> -->
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-md-3 control-label">Email</label>
				<div class="col-md-9">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
						<input type="email" data-ng-model="contactInfo.dEmailAddr" class="form-control">
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-md-3 control-label">Toll Free Tel:</label>
				<div class="col-md-9">
					<input type="text" name="dTollFreeTelNo" data-ng-model="contactInfo.dTollFreeTelNo" class="form-control">
				</div>
			</div>
			
			
						
		<hr class="mtxxl mbxxl" style="border-color: black">	
		</div>
		
		<div class="col-md-12">
			<label>If the reservation contact is the same as main contact check here: </label>
			<input type="checkbox" ng-model="contactInfo.reservationDetailSame" ng-checked="contactInfo.reservationDetailSame" ng-change="sameadd()">
			<div class="form-group">
				<label class="col-md-3 control-label">*Reservations Contact Name:</label>
				<div class="col-md-9">
					<input type="text" name="rContactName" data-ng-model="contactInfo.rContactName" class="form-control" required>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-md-3 control-label">*Designation:</label>
				<div class="col-md-9">
					<input type="text" name="rTitle" data-ng-model="contactInfo.rTitle" class="form-control" required>
				</div>
			</div>
			
				
			<div class="form-group">
				<label class="col-md-3 control-label">*Direct Telephone:</label>
				<div class="col-md-2 setwidth">
					<input type="text" name="rDirectTelCode" data-ng-model="contactInfo.rDirectTelCode" pattern="\d*" title="Please enter numbers" class="form-control" required>
					<!-- <span class="error" ng-show="contact.rDirectTelCode.$error.number" style="color: red;">Not valid number!</span> -->
				</div>
				
					<div class="col-md-3">
					<input type="text" name="rDirectTelNo" data-ng-model="contactInfo.rDirectTelNo" pattern="\d*" title="Please enter numbers" class="form-control" required>
					<!-- <span class="error" ng-show="contact.rDirectTelNo.$error.number" style="color: red;">Not valid number!</span> -->
				</div>
				<div class="col-md-4">
				(-Not Use character or special characters)
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-md-3 control-label">Email</label>
				<div class="col-md-9">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
						<input type="email" data-ng-model="contactInfo.rEmailAddr" class="form-control" required>
					</div>
				</div>
			</div>
			
			
			
			<div class="form-group">
				<label class="col-md-3 control-label">Extension :</label>
				<div class="col-md-9">
					<input type="text" name="rExtNo" data-ng-model="contactInfo.rExtNo" class="form-control number">
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-md-3 control-label">*Reservations Department Telephone:</label>
				<div class="col-md-2 setwidth">
					<input type="text" name="rDeptTelCode" data-ng-model="contactInfo.rDeptTelCode" pattern="\d*" title="Please enter numbers" class="form-control" required>
					<!-- <span class="error" ng-show="contact.rDeptTelCode.$error.number" style="color: red;">Not valid number!</span> -->
				</div>
				<div class="col-md-3">
					<input type="text" name="rDeptTelNo" data-ng-model="contactInfo.rDeptTelNo" pattern="\d*" title="Please enter numbers" class="form-control" required>
					<!-- <span class="error" ng-show="contact.rDeptTelNo.$error.number" style="color: red;">Not valid number!</span> -->
				</div>
				<div class="col-md-4">
				(-Not Use character or special characters)
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-md-3 control-label">*Reservations Department Fax:	</label>
				<div class="col-md-2 setwidth">
					<input type="text" name="rDeptFaxCode" data-ng-model="contactInfo.rDeptFaxCode" pattern="\d*" title="Please enter numbers" class="form-control" required>
					<!-- 	<span class="error" ng-show="contact.rDeptFaxCode.$error.number" style="color: red;">Not valid number!</span> -->
				</div>
				<div class="col-md-3">
					<input type="text" name="rDeptFaxNo" data-ng-model="contactInfo.rDeptFaxNo" pattern="\d*" title="Please enter numbers" class="form-control" required>
					<!-- <span class="error" ng-show="contact.rDeptFaxNo.$error.number" style="color: red;">Not valid number!</span> -->
				</div>
				<div class="col-md-4">
				(-Not Use character or special characters)
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-md-3 control-label">Extension :</label>
				<div class="col-md-9">
					<input type="text" name="deptExtNo" data-ng-model="contactInfo.deptExtNo" pattern="\d*" title="Please enter numbers" class="form-control">
					<!-- <span class="error" ng-show="contact.deptExtNo.$error.number" style="color: red;">Not valid number!</span> -->
				</div>
			</div>
			
			
						
		<hr class="mtxxl mbxxl" style="border-color: black">	
		</div>  
		
		
		
		<div class="form-group">
		<span ng-show="Contactinfosuccess" style="color: green;">Contact Information Save Successfully</span>
			<div class="col-md-2 col-md-offset-9">
		 <button type="submit" onclick="scroll(0,0)" class="btn btn-primary">Save</button>
		 </div>
		 </div>
                
	</div>
</form>

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
