
<!-- <link type="text/css" rel="stylesheet" href='@routes.Assets.at("app/css/style.css")'> -->

<div class="examples">
  


  <div id="testDiv3">
<form method="post" name="mealinfoform" data-ng-submit="savemealplan()"
	role="form" class="form-horizontal form-validate">
	<div class="main-text">
		Add New Meal Plan<br> <br>
	</div>
	<div class="row">
		<div class="col-md-12">
			<fieldset class="billBorder">
				<legend class="meal-fild">Add/Edit Meal</legend>
				<div>
					*Please define the period of time:<br> <br>
				</div>


				<div class="form-group">
					<label class="col-md-2 control-label">From:</label>
					<div class="col-md-2">
						<input id="date" name="fromPeriod"
							data-ng-model="mealpolicy.fromPeriod"
							class="input-filter form-control meal-font-text-size"
							data-provide="datepicker" data-date-autoclose="true"
							data-date-format="yyyy-mm-dd" required>

					</div>

					<label class="col-md-2 control-label">To and include:</label>
					<div class="col-md-2">
						<input id="date" name="toPeriod"
							data-ng-model="mealpolicy.toPeriod"
							class="input-filter form-control meal-font-text-size"
							data-provide="datepicker" data-date-autoclose="true"
							data-date-format="yyyy-mm-dd" required>

					</div>
					<br>
				</div>
				<div class="row">
					<div class="form-group">
						<label class="col-md-2 control-label">*Meal Type :</label>
						<div class="col-md-2">
							<select class="form-control meal-font-text-size"
								data-ng-model="mealpolicy.mealType"
								data-ng-options="meal.mealTypeId as meal.mealTypeNm for meal in MealTypes"
								required>
								<option>Select Country...</option>
							</select>
						</div>

						<label class="col-md-2 control-label">*Meal Name :</label>
						<div class="col-md-3">
							<input type="text" name="mealPlanNm"
								data-ng-model="mealpolicy.mealPlanNm"
								class="form-control meal-font-text-size" required>
						</div>

					</div>



					<br>

				</div>

				
				<fieldset class="billBorder">
					<legend class="meal-fild">ADULT RATE</legend>
					<div class="form-group">
						<label class="col-md-2 control-label">* Adult Rate:</label>
						<div class="col-md-2">
							<input type="text"
								name="rate" data-ng-model="mealpolicy.rate"
								class="form-control meal-font-text-size required number" required>

						</div>
						<div class="col-md-2">{{currencyname}}</div>
						<br> <br>
					</div>

					<div class="form-group">
						<div>
							<label class="col-md-2 control-label">Include Tax? </label>
							<div class="col-md-2">

								<div class="chargechild">
									<input type="radio" name="val" ng-click="ShowTax(true)"
										data-ng-model="mealpolicy.taxIncluded" value="true">
									&nbsp; Yes
								</div>
								<div>
									<input type="radio" name="val" ng-click="ShowTax(false)"
										data-ng-model="mealpolicy.taxIncluded" value="false">
									&nbsp; No
								</div>

							</div>
						</div>


						<div ng-show="taxQTY">
							<label class="col-md-1 control-label">*Tax:</label>
							<div class="col-md-2">
								<input type="text" name="taxvalue"
									data-ng-model="mealpolicy.taxvalue"
									class="form-control meal-font-text-size required number"> 
							</div>

							<div class="col-md-2">
								<select class="form-control meal-font-text-size"
									data-ng-model="mealpolicy.taxtype">
									<option>%</option>
									<option>{{currencyname}}</option>
								</select>
							</div>
						</div>
					</div>
					</fieldset>
					


		<br>

		<fieldset class="billBorder">
			<legend class="meal-fild">CHILD RATES</legend>

			<div style="width: 100%;">
				<div ng-app=''>


					<div class="billBorder" ng-repeat="cont in contacts">


						<div class="form-group">
							<div style="float: left; width: 30%;">
								<label class="col-md-6 control-label">From Age: </label>
								<div class="col-md-6">
									<select class="form-control meal-font-text-size"
										data-ng-model="cont.allowedChildAgeFrom" required>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
										<option>11</option>
										<option>12</option>
										<option>13</option>
										<option>14</option>
										<option>15</option>
										<option>16</option>
										<option>17</option>
										<option>18</option>


									</select>
								</div>
							</div>

							<div style="float: left; width: 30%;">
								<label class="col-md-5 control-label">To Age: </label>
								<div class="col-md-6">
									<select class="form-control meal-font-text-size"
										data-ng-model="cont.allowedChildAgeTo" required>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
										<option>11</option>
										<option>12</option>
										<option>13</option>
										<option>14</option>
										<option>15</option>
										<option>16</option>
										<option>17</option>
										<option>18</option>


									</select>

								</div>
							</div>
							<div style="float: left; width: 39%;">
								<label class="col-md-3 control-label">*Rate:</label>
								<div class="col-md-5">
									<input type="text" name="charge" data-ng-model="cont.charge"
										class="form-control meal-font-text-size required number" required>
								</div>
								<div class="col-md-4">
									<label>{{currencyname}}</label>
								</div>
							</div>
						</div>


						<div class="form-group">
							<br>
							<div>
								<div>
									<label class="col-md-2 control-label">Include Tax? </label>
									<div class="col-md-3">

										<div class="chargechild">
											<input type="radio" data-ng-model="cont.chargeType"
												value="true"> &nbsp; Yes
										</div>
										<div>
											<input type="radio" data-ng-model="cont.chargeType"
												value="false"> &nbsp; No
										</div>

									</div>
								</div>
							</div>


							<div ng-show="cont.chargeType == 'false'">
								<label class="col-md-1 control-label">*Tax:</label>
								<div class="col-md-2">
									<input type="text" name="taxvalue"
										data-ng-model="cont.childtaxvalue"
										class="form-control meal-font-text-size">
								</div>

								<div class="col-md-2">
									<select class="form-control meal-font-text-size"
										data-ng-model="cont.childtaxtype">
										<option>%</option>
										<option>{{currencyname}}</option>
									</select>
								</div>
							</div>
						</div>

					</div>



					<br>


				</div>
				<button type="button" class="btn btn-default"
					ng-click="newContact($event)">+ Add Child Rate</button>
				<span ng-show="contacts.length > 0">
					<button type="button" class="btn btn-default"
						ng-click="contacts.splice(contacts.length-1, 1)">Remove</button>
				</span>

			</div>
		</fieldset>
</fieldset>
		</div>
		<br>
		<div style="float: right; margin-right: 8%;">
<br><br>
			<span ng-show="mealPlanSuccessMsg"
				style="color: green; margin-left: 2%;"> Save Successfully</span>

			<button type="submit" class="btn btn-primary">Save</button>
			<button type="button" ng-click=" closeThisDialog()"
				class="btn btn-primary">Close</button>


		</div>
	</div>


</form>

</div>
</div>



<script type="text/javascript">
    $(function(){
     
      $('#testDiv3').slimScroll({
          color: '#00f'
      });
    
    });
</script>