<div class="panel panel-green">
	<div class="panel-heading clearfix">
		<span class="mts pull-left">HOTEL SUPPLIER PROFILE</span>
	</div>
	<div class="panel-body">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-12">
					<div class="tabbable tabs-left">
						<ul id="myTab2" class="nav nav-tabs">
							<li><a href="#profile0" data-toggle="tab">HOTEL
									GENERAL INFORMATION</a></li>
							<li><a href="#profile1" data-toggle="tab">HOTEL
									DESCRIPTION</a></li>
							<!-- <li><a href="#profile2" data-toggle="tab">HOTEL LOCATION</a></li> -->
							<li><a href="#profile2" data-toggle="tab">HOTEL INTERNAL
									INFORMATION</a></li>
							<li><a href="#profile3" data-toggle="tab">HOTEL CONTACT
									INFORMATION</a></li>
							<li><a href="#profile4" data-toggle="tab">HOTEL
									COMMUNICATION</a></li>
							<li><a href="#profile5" data-toggle="tab">BILLING
									INFORMATION</a></li>
							<li><a href="#profile6" data-toggle="tab">TAXES, FEES,
									SUPPLEMENTS</a></li>
							<li><a href="#profile7" data-toggle="tab">MEAL PLAN AND
									PRICES</a></li>
							<li class="active"><a href="#profile8" data-toggle="tab">HOTEL
									AMENITIES</a></li>
							<li><a href="#profile9" data-toggle="tab">BUSINESS
									FEATURES</a></li>
							<li><a href="#profile10" data-toggle="tab">HOTEL LEISURE
									& SPORT</a></li>
							<li><a href="#profile11" data-toggle="tab">AREA
									ATTRACTIONS</a></li>
							<li><a href="#profile12" data-toggle="tab">TRANSPORTATION
									& DIRECTIONS</a></li>
							<li><a href="#profile13" data-toggle="tab">HEALTH &amp;
									SAFETY</a></li>
						</ul>
						<div id="myTabContent2" class="tab-content"
							style="padding-top: 5px;">
							<form method="post" ng-submit="saveAmenities()" role="form" class="form-horizontal">
	<div class="row">
		<div class="col-md-12">
					
			<div>
		<label><b>Please check ALL that apply to your hotel:</b></label><br> 
		</div>
		<!-- ng-show="false" -->
		 <div>
			<br>
			
				<div>
				<label ng-repeat="amenitiesInfo in amenities" style="padding-right: 30px;width: 42%;">
				
				  <input
  				  type="checkbox"
  				    ng-click="amenitiesClicked($event,amenitiesInfo)"
  				   	ng-model="amenitiesInfo.isSelected">					
   					 {{amenitiesInfo.amenitiesNm}}</label>
    			</div>
				
				
		</div>					<br>
																
		
		
		</div>
				
		<hr class="mtxxl mbxxl" style="border-color: black; float: left; width: 99%;">
		
		
		     <div>
		        <span ng-show="amenitiesSuccess" style="color: green;margin-left: 3%;">Successfully Add Hotel Amenities</span>
                 <button type="submit" ng-init="amenitiesInfo.supplierCode = supplierCode" class="btn btn-primary" style="margin-left: 84%;">Save</button>
                 </div>
	</div>
</form>


						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
