<div class="panel panel-green">
	<div class="panel-heading clearfix">
		<span class="mts pull-left">HOTEL SUPPLIER PROFILE</span>
	</div>
	<div class="panel-body">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-12">
					<div class="tabbable tabs-left">
						<ul id="myTab2" class="nav nav-tabs">
							<li><a href="#profile0" data-toggle="tab">HOTEL
									GENERAL INFORMATION</a></li>
							<li><a href="#profile1" data-toggle="tab">HOTEL
									DESCRIPTION</a></li>
							<!-- <li><a href="#profile2" data-toggle="tab">HOTEL LOCATION</a></li> -->
							<li><a href="#profile2" data-toggle="tab">HOTEL INTERNAL
									INFORMATION</a></li>
							<li><a href="#profile3" data-toggle="tab">HOTEL CONTACT
									INFORMATION</a></li>
							<li class="active"><a href="#profile4" data-toggle="tab">HOTEL
									COMMUNICATION</a></li>
							<li><a href="#profile5" data-toggle="tab">BILLING
									INFORMATION</a></li>
							<!-- <li><a href="#profile6" data-toggle="tab">TAXES, FEES,
									SUPPLEMENTS</a></li> -->
							<li><a href="#profile7" data-toggle="tab">MEAL PLAN AND
									PRICES</a></li>
							<li><a href="#profile8" data-toggle="tab">HOTEL
									AMENITIES</a></li>
							<li><a href="#profile9" data-toggle="tab">HOTEL
									FEATURES</a></li>
							<!-- <li><a href="#profile10" data-toggle="tab">HOTEL LEISURE
									& SPORT</a></li> -->
							<li><a href="#profile10" data-toggle="tab">AREA
									ATTRACTIONS</a></li>
							<!-- <li><a href="#profile11" data-toggle="tab">TRANSPORTATION
									& DIRECTIONS</a></li> -->
							<li><a href="#profile12" data-toggle="tab">HEALTH &amp;
									SAFETY</a></li>
						</ul>
						<div id="myTabContent2" class="tab-content">
							<form method="post" ng-submit="savecommunciat()" role="form" class="form-horizontal">
	<div class="row">
		<div class="col-md-12">
					
			<div>
		<label>The Expedition will send all bookings, amendments and cancellation information<b> Via E-mail</b> as shown below:</label><br> 

		</div>
						
			<div class="form-group">
				<label class="col-md-3 control-label"><b>*E-mail:</b></label>
				<div class="col-md-9">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
						<input type="email" name="primaryEmailAddr" data-ng-model="comunicationhotel.primaryEmailAddr" class="form-control" required>
					</div>
				</div>
			</div>
					
			<!-- <div class="form-group">
				<label class="col-md-3 control-label"><b>*Reconfirm E-mail:</b></label>
				<div class="col-md-9">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
						<input type="email" name="Remail" data-ng-model="comunicationhotel.Remail" class="form-control" required>
					</div>
				</div>
			</div> -->
			<!-- <div class="col-md-3 col-md-offset-3">
			<span ng-show="comunicationhotel.primaryEmailAddr !== comunicationhotel.Remail" style="color: red;">E-mail have to match!</span>
			</div> -->
			<div class="col-md-12">
			<label style="float: left;"><b>*Do you need to copy anyone else on each booking?</b></label>
			 <div class="col-md-3">
							 <div style="position: relative;">
								<input type="radio" name="val" data-ng-model="comunicationhotel.booking" value="Yes">
								&nbsp; Yes
							</div></label>
							<label>
							
							<div style="position: relative;">
								<input type="radio" name="val" data-ng-model="comunicationhotel.booking" value="No">
								&nbsp; No
							</div></label>   
						
							
				</div>
			</div>
					
					
			<div>
			<label>You may also include a backup e-mail address. This e-mail address will be listed as copy - CC. If you choose to copy-CC, please advise your staff NOT to DUPLICATE reservations in your system. </label>
			<br>
			</div>	
			
			<div>
			<br>
			<label>Please provide the Copy-CC e-mail address to be used:</label>
			</div>	
			
			<div class="form-group">
				<label class="col-md-3 control-label"><b>*CC-Email: </b></label>
				<div class="col-md-9">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
						<input type="email" name="ccEmailAddr" data-ng-model="comunicationhotel.ccEmailAddr" class="form-control" required>
					</div>
				</div>
			</div>
						
				
			<!-- <div class="form-group">
				<label class="col-md-3 control-label"><b>*Reconfirm CC-Email: </b></label>
				<div class="col-md-9">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
						<input type="email" name="Rccmail" data-ng-model="comunicationhotel.Rccmail" class="form-control" required>
					</div>
				</div>
			</div> -->
			<!-- <div class="col-md-4 col-md-offset-3">
			<span ng-show="comunicationhotel.ccEmailAddr !== comunicationhotel.Rccmail" style="color: red;">CC-Email have to match!</span>
			</div> -->
		    </div>
	</div>
		     <hr class="mtxxl mbxxl" style="border-color: black;">
		     <div class="form-group">
		     <span ng-show="communciatsuccess" style="color: green;">Hotel Communication Save Successfully</span>
		     <div class="col-md-2 col-md-offset-9">
                 <button type="submit" onclick="scroll(0,0)" class="btn btn-primary">Save</button>
                 </div>
                 </div>
	
</form>


						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
