<div class="panel panel-green">
	<div class="panel-heading clearfix">
		<span class="mts pull-left">HOTEL SUPPLIER PROFILE</span>
	</div>
	<div class="panel-body">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-12">
					<div class="tabbable tabs-left">
						<ul id="myTab2" class="nav nav-tabs">
							<li><a href="#profile0" data-toggle="tab">HOTEL
									GENERAL INFORMATION</a></li>
							<li class="active" ><a href="#profile1"  data-toggle="tab">HOTEL
									DESCRIPTION</a></li>
							<!-- <li><a href="#profile2" data-toggle="tab">HOTEL LOCATION</a></li> -->
							<li><a href="#profile2" data-toggle="tab">HOTEL INTERNAL
									INFORMATION</a></li>
							<li><a href="#profile3" data-toggle="tab">HOTEL CONTACT
									INFORMATION</a></li>
							<li><a href="#profile4" data-toggle="tab">HOTEL
									COMMUNICATION</a></li>
							<li><a href="#profile5" data-toggle="tab">BILLING
									INFORMATION</a></li>
							<!-- <li><a href="#profile6" data-toggle="tab">TAXES, FEES,
									SUPPLEMENTS</a></li> -->
							<li><a href="#profile7" data-toggle="tab">MEAL PLAN AND
									PRICES</a></li>
							<li><a href="#profile8" data-toggle="tab">HOTEL
									AMENITIES</a></li>
							<li><a href="#profile9" data-toggle="tab">HOTEL
									FEATURES</a></li>
							<!-- <li><a href="#profile10" data-toggle="tab">HOTEL LEISURE
									& SPORT</a></li> -->
							<li><a href="#profile10" data-toggle="tab">AREA
									ATTRACTIONS</a></li>
							<!-- <li><a href="#profile11" data-toggle="tab">TRANSPORTATION
									& DIRECTIONS</a></li> -->
							<li><a href="#profile12" data-toggle="tab">HEALTH &amp;
									SAFETY</a></li>
						</ul>
						<div id="myTabContent2" class="tab-content hotel-profile-tab-content">
							
<form method="post" ng-submit="saveDescription()" role="form" class="form-horizontal">
	<div class="row">
		<div class="col-md-12">
				
				
			
			
			<div>
		<label><b>Hotel Description:</b></label><br> 
Please enter a short description of your property to highlight the main features and facilities. The text should be limited to a maximum of 1000 characters. The description in English is mandatory and other languages are optional. 
The text will be displayed the way it is entered and therefore avoid typing the entire description in capital letters.<br>
		</div>
		
				<div ng-show="false" class="col-md-9">
					<input type="text"  name="supplierCode" data-ng-model="generalInfo.supplierCode" placeholder="Hotel Name" class="form-control">
				</div>
			<div class="form-group">
			<br>
				<label class="col-md-3 control-label"><b>Profile description</b></label>
				<div class="col-md-9">
					<textarea id="message3" name="description" data-ng-model="descrip.description" name="message3" rows="6"
						class="form-control"  placeholder="Located on Sukumvit Road. 7 min from the Queen Sirikit National Convention Centre.4 mn walk from Emporium Shopping Mall, Royal National Park and Sky train station.4 food and beverage outlets. Fitness centre. Conference and seminar facilities.The Bangkok Hotel Lotus Sukhumvit is centrally located and offers free private parking, an outdoor swimming pool and sauna.Bangkok Hotel Lotus is situated near several shopping and entertainment venues.Phrom Phong Skytrain station is a short stroll away.Rooms are fitted with air conditioning, cable television and coffee/tea making facilities.Free Wi-Fi is available. 24-hour room service is provided.">					
						</textarea>
				</div>
			</div>	
			
		
		<div class="col-md-12">
		
			<!-- checklist-value="{{serv.serviceId}}"  -->
			
			<div class="form-group">
				<label class="col-md-12 control-label desc-con-label">The {{hotelName}} is a(Please tick the boxes that are applicable):</label>
				</div>
				
			<div class="col-md-12">
				<label ng-repeat="generalInfo in services" class="col-lg-3 col-md-6 col-sm-12 col-xs-12" style="padding:0px;">
				
				  <input
  				  type="checkbox" name="services"
  				    ng-click="serviceClicked($event,generalInfo)"
  				   	ng-model="generalInfo.isSelected">					
   					 {{generalInfo.serviceName}}</label>
    			</div>
				
				
		</div>
		<hr class="mtxxl mbxxl" style="border-color: black; float: left; width: 99%;">
																
								
								
			<div class="form-group col-md-12">
				<label class="col-md-4 col-sm-12 control-label"><b>*Hotel Located in</b> </label>
				<div class="col-md-8 col-sm-12">
					<select class="form-control required" name="hotelLocation" data-ng-model="descrip.hotelLocation" data-ng-options="location.locationId as location.locationNm for location in location" style="width: 65%;float: left;" required>
						<option value="">-- Choose One --</option>
					</select><label class="col-md-4 control-label"  style="text-align: left;"><b>area</b></label>
				</div>
			</div>
								
			<br>
			<div class="form-group col-md-12">
			<label class="col-md-4 col-sm-12 control-label"><b>Shopping is</b> </label>
				<div class="col-md-8 col-sm-12">
					<select class="form-control" name="shoppingFacilityCode" data-ng-model="descrip.shoppingFacilityCode" data-ng-options="shopping.id as shopping.shoppingArea for shopping in shoppingfacility" style="width: 65%;float: left;">
						<option>-- Choose One --</option>
					</select><label class="col-md-4 control-label"  style="text-align: left;"><b>and</b></label> 
				</div>
			</div>
			<br>
			<div class="form-group col-md-12">
			<label class="col-md-4 col-sm-12 control-label"><b>The nightlife/restaurants</b> </label>
				<div class="col-md-8 col-sm-12">
					<select class="form-control" name="nightLifeCode" data-ng-model="descrip.nightLifeCode" data-ng-options="night.nightLifeCode as night.nightLifeNm for night in nightlife" style="width: 65%;float: left;">
						<option>-- Choose One --</option>
					</select><label class="col-md-4 control-label"  style="text-align: left;"><b>the hotel.</b></label>
				</div>
			</div>
			
			
			
		</div>
				
		<hr class="mtxxl mbxxl" style="border-color: black; float: left; width: 99%;">
		
		<div class="col-md-12">
			<label><b>HOTEL LOCATION</b></label>
			
			<label class="col-md-12 control-label" style="margin-bottom: 3%;">Please enter 3 words ONLY that will give the user an idea of where your Property is located. . </label><br>
		 <div class="col-md-12">
			<div class="col-md-12">
				<div class="col-md-3 col-sm-12">
					<label class="col-md-12 control-label"><b>*Enter Here :</b></label>
					<div class="col-md-12 col-sm-12"></div>
				</div>
				<div class="col-md-3 col-sm-12">
					<div class="form-group">
				     	<div class="col-md-9">
					   		<input type="text" name="location1" data-ng-model="descrip.location1" class="form-control" style="text-transform: capitalize;" required>
				    	</div>
			    	</div>
					<div class="col-md-12 form-group">(Hyde Park)</div>
			    </div>
				<div class="col-md-3 col-sm-12">
					<div class="form-group">
						<div class="col-md-9">
							<input type="text" name="location2" data-ng-model="descrip.location2" class="form-control" style="text-transform: capitalize;" required>
						</div>
				    </div>
					<div class="col-md-12 form-group">(Piccadilly)</div>
				</div>
				<div class="col-md-3 col-sm-12">
				   <div class="form-group">
					 	<div class="col-md-9">
							<input type="text" name="location3" data-ng-model="descrip.location3" class="form-control" style="text-transform: capitalize;" required>
					 	</div>
			     	</div>
					<div class="col-md-12 form-group">(Buckingham Palace)</div>
				</div>
				
			</div>
				
			<div class="col-md-12">
			</div>
		</div> 
		            <br>    
	</div col-md-12 col-sm-12>
	<hr class="mtxxl mbxxl" style="border-color: black; float: left; width: 99%;">
		<div col-md-12 col-sm-12>
     		<span ng-show="Descriptinsuccess" style="color: green;margin-left: 3%;">Genral Description Save Successfully</span>
        	<button type="submit" class="btn btn-primary" onclick="scroll(0,0)" style="float: right;margin-right: 20px;">Save</button>
    	</div>
	</div>
</form>

<style>
table.ex1 {
    border-collapse: separate;
    border-spacing: 35px;
}

</style>

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
