
<form method="post" ng-submit="saveDescription()" role="form" class="form-horizontal">
	<div class="row">
		<div class="col-md-12">
					
			<div>
		<label><b>Hotel Description:</b></label><br> 
Please enter a short description of your property to highlight the main features and facilities. The text should be limited to a maximum of 1000 characters. The description in English is mandatory and other languages are optional. 
The text will be displayed the way it is entered and therefore avoid typing the entire description in capital letters.<br>
		</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Profile description</label>
				<div class="col-md-9">
					<textarea id="message3" data-ng-model="descrip.description" name="message3" rows="6"
						class="form-control"  placeholder="Located on Sukumvit Road. 7 min from the Queen Sirikit National Convention Centre.4 mn walk from Emporium Shopping Mall, Royal National Park and Sky train station.4 food and beverage outlets. Fitness centre. Conference and seminar facilities.The Bangkok Hotel Lotus Sukhumvit is centrally located and offers free private parking, an outdoor swimming pool and sauna.Bangkok Hotel Lotus is situated near several shopping and entertainment venues.Phrom Phong Skytrain station is a short stroll away.Rooms are fitted with air conditioning, cable television and coffee/tea making facilities.Free Wi-Fi is available. 24-hour room service is provided." >					
						</textarea>
				</div>
			</div>	
			
		
		<div>
			
			
			<div class="form-group">
				<label class="col-md-12 control-label" style="text-align: left;color: blue;">The {{generalInfo.companyName}} is a(Please tick the boxes that are applicable):</label>
				</div><br>
				
				<div>
				<label ng-repeat="serv in services" style="padding-right: 30px;width: 24%;">
			  <input
  				  type="checkbox"
  				  	checklist-value="{{serv.serviceId}}"
   					checklist-model="generalInfo.selected"> {{serv.serviceName}}</label>
    			</div>
				
				
		</div>					<br>
																
								
								
					<div class="form-group">
						<label class="col-md-3 control-label">Hotel Located in </label>
				<div class="col-md-9">
					<select class="form-control" data-ng-model="descrip.location" data-ng-options="location.locationId as location.locationNm for location in location" style="width: 70%;float: left;">
						<option>-- Choose One --</option>
					</select><label class="col-md-3 control-label"  style="text-align: left;">area</label>
					
				</div>
				
			</div>
								
								<br>
							<div class="form-group">
							<label class="col-md-3 control-label">Shopping is </label>
				<div class="col-md-9">
					<select class="form-control" data-ng-model="descrip.shopping" data-ng-options="shopping.id as shopping.shoppingArea for shopping in shoppingfacility" style="width: 70%;float: left;">
						<option>-- Choose One --</option>
					</select><label class="col-md-3 control-label"  style="text-align: left;">and</label> 
				</div>
			</div>
							<br>
							<div class="form-group">
							<label class="col-md-3 control-label">the nightlife/restaurants </label>
				<div class="col-md-9">
					<select class="form-control" data-ng-model="descrip.night" data-ng-options="night.nightLifeCode as night.nightLifeNm for night in nightlife" style="width: 70%;float: left;">
						<option>-- Choose One --</option>
					</select><label class="col-md-3 control-label"  style="text-align: left;">the hotel.</label>
				</div>
			</div>
			
			
			
		</div>
				
		<hr class="mtxxl mbxxl" style="border-color: black; float: left; width: 99%;">
		
		<div>
			<label><b>HOTEL LOCATION</b></label>
			
			<label class="col-md-12 control-label" style="margin-bottom: 3%;">Please enter 3 words ONLY that will give the user an idea of where your Property is located. . </label><br>
			<div>
			
			<table style="width: 96%;">
			<tr>
			<td></td>
			<td>Hyde Park</td>
			<td>Piccadilly</td>
			<td>Buckingham Palace</td>
			</tr>
			<tr>
			<td></td>
			<td>1</td>
			<td>2</td>
			<td>3</td>
			</tr>
			<tr>
			<tr>
			<td style="width: 115px;float: left;">
				<label class="col-md-12 control-label">*Enter Here :</label>
				</td>
				<td>
					<div class="form-group">
				     <div class="col-md-9">
					   <input type="text" name="hydepark" data-ng-model="descrip.hydepark" class="form-control">
				    </div>
			    </div>
			    </td>
				<td>
				<div class="form-group">
					<div class="col-md-9">
						<input type="text" name="piccadilly" data-ng-model="descrip.piccadilly" class="form-control">
					</div>
			    </div>
				</td>
				<td>
				   <div class="form-group">
					 <div class="col-md-9">
						<input type="text" name="Buckinghampalace" data-ng-model="descrip.Buckinghampalace" class="form-control">
					 </div>
			     </div>
				</td>
				
				</tr>
			</div>
						
			</table>
			
			
		</div>
                
	</div>
		     
                 <button type="submit" ng-init="descrip.code = supp" class="btn btn-primary" style="margin-left: 84%;">Save</button>
	</div>
</form>

<style>
table.ex1 {
    border-collapse: separate;
    border-spacing: 35px;
}

</style>
