
<form method="post" ng-submit="saveAmenities()" role="form" class="form-horizontal">
	<div class="row">
		<div class="col-md-12">
					
			<div>
		<label><b>Please check ALL that apply to your hotel:</b></label><br> 
		</div>
		<!-- ng-show="false" -->
		 <div>
			<br>
				
				<div>
				<label ng-repeat="amenitiesInfo in amenities" style="padding-right: 30px;width: 38%;">
				
				  <input
  				  type="checkbox"
  				    ng-click="amenitiesClicked($event,amenitiesInfo)"
  				   	ng-model="amenitiesInfo.isSelected">					
   					 {{amenitiesInfo.amenitiesNm}}</label>
    			</div>
				
				
		</div>					<br>
																
		
		
		</div>
				
		<hr class="mtxxl mbxxl" style="border-color: black; float: left; width: 99%;">
		
		
		     <div>
		        <span ng-show="amenitiesSuccess" style="color: green;margin-left: 3%;">Successfully Add Hotel Amenities</span>
                 <button type="submit" ng-init="amenitiesInfo.supplierCode = supplierCode" class="btn btn-primary" style="margin-left: 84%;">Save</button>
                 </div>
	</div>
</form>

