
<form method="post" name="myForm" ng-submit="saveInternalInfo()" role="form" class="form-horizontal">
	<div class="row">
	<div>
				<div class="col-md-12">
			
					
		<div class="form-group">
				<label class="col-md-3 control-label">Year Hotel Was Built:</label>
				<div class="col-md-3">
					<input type="number" name="hotelbuilt" id="hotelbuilt" min="0" max="99" data-ng-model="internalInfo.Built" class="form-control" required>
					 <span class="error" ng-show="myForm.hotelbuilt.$error.number" style="color: red;">Not valid number!</span>
				</div>
				
				<label class="col-md-3 control-label">Last Renovated:</label>
				<div class="col-md-3">
					<input type="number" name="lastRenov" data-ng-model="internalInfo.lastRenov" class="form-control" required>
					 <span class="error" ng-show="myForm.lastRenov.$error.number" style="color: red;">Not valid number!</span>
					<p>(year, e.g. 2001)</p>
					
				</div>
			</div>
		
		
		<div class="form-group">
				<label class="col-md-5 control-label" style="text-align: left;margin-left: 4%;">*Is your hotel fire safety compliant?</label>
				<div class="col-md-5">
				
				<div style="float: left;margin-right: 5%;">
						<input type="radio" name="val" data-ng-model="internalInfo.safety" value="Yes">
						&nbsp; Yes
					</div>
					<div>
						<input type="radio" name="val" data-ng-model="internalInfo.safety" value="No">
						&nbsp; No
					</div> 
				
					</div>
			</div>		
			
			<div class="form-group">
				<label class="col-md-3 control-label">*Number of Floors:</label>
				<div class="col-md-3">
					<input type="number" name="floors" data-ng-model="internalInfo.noFloors" class="form-control" required>
					 <span class="error" ng-show="myForm.floors.$error.number" style="color: red;">Not valid number!</span>
				</div>
				
				<label class="col-md-3 control-label">*Number of Rooms:</label>
				<div class="col-md-3">
					<input type="number" name="noroom" data-ng-model="internalInfo.room" class="form-control" required>
					 <span class="error" ng-show="myForm.noroom.$error.number" style="color: red;">Not valid number!</span>
				</div>
			</div>
			
	
	      <div class="form-group">
				<label class="col-md-3 control-label">*Guest Telephone:</label>
				<div class="col-md-2" style="width: 13%;">
					<input type="number" name="GuestTele" data-ng-model="internalInfo.GuestTele" class="form-control" required>
					 <span class="error" ng-show="myForm.GuestTele.$error.number" style="color: red;">Not valid number!</span>
				</div>
				<p style="float: left;">-</p>
				<div class="col-md-3">
					<input type="number" name="GuestTelenum" data-ng-model="internalInfo.GuestTelenumber" class="form-control" required>
					 <span class="error" ng-show="myForm.GuestTelenum.$error.number" style="color: red;">Not valid number!</span>
				</div>
			</div>
			
			
				
			<div class="form-group">
				<label class="col-md-3 control-label">Guest Fax:</label>
				<div class="col-md-2" style="width: 13%;">
					<input type="number" name="guestfaxcode" data-ng-model="internalInfo.GuestfaxCode" class="form-control" required>
					 <span class="error" ng-show="myForm.guestfaxcode.$error.number" style="color: red;">Not valid number!</span>
				</div>
				<p style="float: left;">-</p>
				<div class="col-md-3">
					<input type="number" name="Guestfaxnumber" data-ng-model="internalInfo.Guestfaxnumber" class="form-control" required>
					<span class="error" ng-show="myForm.Guestfaxnumber.$error.number" style="color: red;">Not valid number!</span>
				</div>
			</div>	
         
         <div class="form-group">
				<label class="col-md-3 control-label">Hotel Web Site:</label>
				<div class="col-md-9">
					<input type="text" name="website" data-ng-model="internalInfo.websit" class="form-control" required>
				</div>
		</div>
       
      <!--  <div class="form-group">
				<label class="col-md-3 control-label">Hotel E-mail:</label>
				<div class="col-md-9">
					<input type="text" name="email" data-ng-model="internalInfo.email" class="form-control">
				</div>
			</div>	 -->
			
					
			 <div class="form-group">
				<label class="col-md-3 control-label">*Direct Telephone:</label>
				<div class="col-md-2" style="width: 13%">
					<input type="number" name="DirectteleCode" data-ng-model="internalInfo.DirectteleCode" class="form-control" required>
					<span class="error" ng-show="myForm.DirectteleCode.$error.number" style="color: red;">Not valid number!</span>
				</div>
				<p style="float: left;">-</p>
				<div class="col-md-3">
					<input type="number" name="Directnumber" data-ng-model="internalInfo.Directnumber" class="form-control" required>
					<span class="error" ng-show="myForm.Directnumber.$error.number" style="color: red;">Not valid number!</span>
				</div>
			</div>	
			
			<div class="form-group">
				<label class="col-md-3 control-label">Direct Fax:</label>
				<div class="col-md-2" style="width: 13%">
					<input type="number" name="dirFaxCode" data-ng-model="internalInfo.dirFaxCode" class="form-control" required>
					<span class="error" ng-show="myForm.dirFaxCode.$error.number" style="color: red;">Not valid number!</span>
				</div>
				<p style="float: left;">-</p>
				<div class="col-md-3">
					<input type="number" name="dirFaxnumber" data-ng-model="internalInfo.dirFaxnumber" class="form-control" required>
					<span class="error" ng-show="myForm.dirFaxnumber.$error.number" style="color: red;">Not valid number!</span>
				</div>
			</div>	
						
			
			<div class="form-group">
				<label class="col-md-3 control-label">*Hotel General Manager:</label>
				<div class="col-md-9">
					<input type="text" name="generalManager" data-ng-model="internalInfo.generalManager" class="form-control" required>
				</div>
			</div>	
			
			<div class="form-group">
				<label class="col-md-3 control-label">*General Mgr. E-mail:</label>
				<div class="col-md-9">
					<input type="text" name="generalManager" data-ng-model="internalInfo.GMemail" class="form-control" required>
				</div>
			</div>
			</div>
		 
		</div>
		<hr class="mtxxl mbxxl" style="border-color: black; float: left; width: 99%;">
		<div>
		<span ng-show="InternalInfoSuccess" style="color: green;margin-left: 3%;">Internal Information Save Successfully</span>
		 <button type="submit" class="btn btn-primary" style="margin-left: 84%;">Save</button>
             </div>   
	</div>
</form>
