
<form method="post" name="myForm" ng-submit="saveInternalInfo()" role="form" class="form-horizontal">
	<div class="row">
	<div>
				<div class="col-md-12">
			
					
		<div class="form-group">
				<label class="col-md-3 control-label">Year Hotel Was Built:</label>
				<div class="col-md-3">
					<input type="number" name="builtYear" id="builtYear" data-ng-model="internalInfo.builtYear" class="form-control" required>
					 <span class="error" ng-show="myForm.builtYear.$error.number" style="color: red;">Not valid number!</span>
				</div>
				
				<label class="col-md-3 control-label">Last Renovated:</label>
				<div class="col-md-3">
					<input type="number" name="renovationYear" data-ng-model="internalInfo.renovationYear" class="form-control" required>
					 <span class="error" ng-show="myForm.renovationYear.$error.number" style="color: red;">Not valid number!</span>
					<p>(year, e.g. 2001)</p>
					
				</div>
			</div>
		
		
		<div class="form-group">
				<label class="col-md-5 control-label" style="text-align: left;margin-left: 4%;">*Is your hotel fire safety compliant?</label>
				<div class="col-md-5">
				
				<div style="float: left;margin-right: 5%;">
						<input type="radio" name="safetyCompliance" data-ng-model="internalInfo.safetyCompliance" value="Yes">
						&nbsp; Yes
					</div>
					<div>
						<input type="radio" name="safetyCompliance" data-ng-model="internalInfo.safetyCompliance" value="No">
						&nbsp; No
					</div> 
				
					</div>
			</div>		
			
			<div class="form-group">
				<label class="col-md-3 control-label">*Number of Floors:</label>
				<div class="col-md-3">
					<input type="number" name="noOffloor" data-ng-model="internalInfo.noOffloor" class="form-control" required>
					 <span class="error" ng-show="myForm.noOffloor.$error.number" style="color: red;">Not valid number!</span>
				</div>
				
				<label class="col-md-3 control-label">*Number of Rooms:</label>
				<div class="col-md-3">
					<input type="number" name="noOfRoom" data-ng-model="internalInfo.noOfRoom" class="form-control" required>
					 <span class="error" ng-show="myForm.noOfRoom.$error.number" style="color: red;">Not valid number!</span>
				</div>
			</div>
			
	
	      <div class="form-group">
				<label class="col-md-3 control-label">*Guest Telephone:</label>
				<div class="col-md-2" style="width: 13%;">
					<input type="number" name="guestTelCode" data-ng-model="internalInfo.guestTelCode" class="form-control" required>
					 <span class="error" ng-show="myForm.guestTelCode.$error.number" style="color: red;">Not valid number!</span>
				</div>
				<p style="float: left;">-</p>
				<div class="col-md-3">
					<input type="number" name="guestTel" data-ng-model="internalInfo.guestTel" class="form-control" required>
					 <span class="error" ng-show="myForm.guestTel.$error.number" style="color: red;">Not valid number!</span>
				</div>
			</div>
			
			
				
			<div class="form-group">
				<label class="col-md-3 control-label">Guest Fax:</label>
				<div class="col-md-2" style="width: 13%;">
					<input type="number" name="guestFaxCode" data-ng-model="internalInfo.guestFaxCode" class="form-control" required>
					 <span class="error" ng-show="myForm.guestFaxCode.$error.number" style="color: red;">Not valid number!</span>
				</div>
				<p style="float: left;">-</p>
				<div class="col-md-3">
					<input type="number" name="guestFax" data-ng-model="internalInfo.guestFax" class="form-control" required>
					<span class="error" ng-show="myForm.guestFax.$error.number" style="color: red;">Not valid number!</span>
				</div>
			</div>	
         
         <div class="form-group">
				<label class="col-md-3 control-label">Hotel Web Site:</label>
				<div class="col-md-9">
					<input type="text" name="webSiteUrl" data-ng-model="internalInfo.webSiteUrl" class="form-control" required>
				</div>
		</div>
       
      <!--  <div class="form-group">
				<label class="col-md-3 control-label">Hotel E-mail:</label>
				<div class="col-md-9">
					<input type="text" name="email" data-ng-model="internalInfo.email" class="form-control">
				</div>
			</div>	 -->
			
					
			 <div class="form-group">
				<label class="col-md-3 control-label">*Direct Telephone:</label>
				<div class="col-md-2" style="width: 13%">
					<input type="number" name="directTelCode" data-ng-model="internalInfo.directTelCode" class="form-control" required>
					<span class="error" ng-show="myForm.directTelCode.$error.number" style="color: red;">Not valid number!</span>
				</div>
				<p style="float: left;">-</p>
				<div class="col-md-3">
					<input type="number" name="directTelNo" data-ng-model="internalInfo.directTelNo" class="form-control" required>
					<span class="error" ng-show="myForm.directTelNo.$error.number" style="color: red;">Not valid number!</span>
				</div>
			</div>	
			
			<div class="form-group">
				<label class="col-md-3 control-label">Direct Fax:</label>
				<div class="col-md-2" style="width: 13%">
					<input type="number" name="directFaxNo" data-ng-model="internalInfo.directFaxNo" class="form-control" required>
					<span class="error" ng-show="myForm.directFaxNo.$error.number" style="color: red;">Not valid number!</span>
				</div>
				<p style="float: left;">-</p>
				<div class="col-md-3">
					<input type="number" name="directFaxCode" data-ng-model="internalInfo.directFaxCode" class="form-control" required>
					<span class="error" ng-show="myForm.directFaxCode.$error.number" style="color: red;">Not valid number!</span>
				</div>
			</div>	
						
			
			<div class="form-group">
				<label class="col-md-3 control-label">*Hotel General Manager:</label>
				<div class="col-md-9">
					<input type="text" name="genMgrName" data-ng-model="internalInfo.genMgrName" class="form-control" required>
				</div>
			</div>	
						
			<div class="form-group">
				<label class="col-md-3 control-label">*General Mgr. E-mail:</label>
				<div class="col-md-9">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
						<input type="email" name="genMgrEmail" data-ng-model="internalInfo.genMgrEmail" class="form-control" required>
					</div>
				</div>
			</div>
			
			
			</div>
		 
		</div>
		<hr class="mtxxl mbxxl" style="border-color: black; float: left; width: 99%;">
		<div>
		<span ng-show="InternalInfoSuccess" style="color: green;margin-left: 3%;">Internal Information Save Successfully</span>
		 <button type="submit" class="btn btn-primary" style="margin-left: 84%;">Save</button>
             </div>   
	</div>
</form>
