<div class="panel panel-green">
	<div class="panel-heading clearfix">
		<span class="mts pull-left">HOTEL SUPPLIER PROFILE</span>
	</div>
	<div class="panel-body">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-12">
					<div class="tabbable tabs-left">
						<ul id="myTab2" class="nav nav-tabs">
							<li><a href="#profile0" data-toggle="tab">HOTEL
									GENERAL INFORMATION</a></li>
							<li><a href="#profile1" data-toggle="tab">HOTEL
									DESCRIPTION</a></li>
							<!-- <li><a href="#profile2" data-toggle="tab">HOTEL LOCATION</a></li> -->
							<li><a href="#profile2" data-toggle="tab">HOTEL INTERNAL
									INFORMATION</a></li>
							<li><a href="#profile3" data-toggle="tab">HOTEL CONTACT
									INFORMATION</a></li>
							<li><a href="#profile4" data-toggle="tab">HOTEL
									COMMUNICATION</a></li>
							<li><a href="#profile5" data-toggle="tab">BILLING
									INFORMATION</a></li>
							<li><a href="#profile6" data-toggle="tab">TAXES, FEES,
									SUPPLEMENTS</a></li>
							<li class="active"><a href="#profile7" data-toggle="tab">MEAL PLAN AND
									PRICES</a></li>
							<li><a href="#profile8" data-toggle="tab">HOTEL
									AMENITIES</a></li>
							<li><a href="#profile9" data-toggle="tab">BUSINESS
									FEATURES</a></li>
							<li><a href="#profile10" data-toggle="tab">HOTEL LEISURE
									& SPORT</a></li>
							<li><a href="#profile11" data-toggle="tab">AREA
									ATTRACTIONS</a></li>
							<li><a href="#profile12" data-toggle="tab">TRANSPORTATION
									& DIRECTIONS</a></li>
							<li><a href="#profile13" data-toggle="tab">HEALTH &amp;
									SAFETY</a></li>
						</ul>
						<div id="myTabContent2" class="tab-content">

<form method="post"  ng-submit="Savebillinginfo()" role="form" class="form-horizontal">
<fieldset class="billBorder overF">
  <legend class="meal-fieldset">Meal</legend>
	<div class="row">
		<div class="col-md-12">
			
	
			
			<div class="form-group">
				<label class="col-md-6">Do you have meal rates?   </label>
				<div class="col-md-5">
				
				<div class="chargechild">
						<input type="radio" name="val" ng-click="showMeal(true)" value="true">
						&nbsp; Yes
					</div>
					<div>
						<input type="radio" name="val" ng-click="showMeal(false)" value="false">
						&nbsp; No
					</div> 
				
					</div>
					<br>
			</div>	
			<div></div>	
			<div>
			
			<label>The Payable Rates for this Meals will apply in THB - Thai Baht. </label>
			<br>
			</div>
			<div ng-show="mealRate">
			 <table ng-table="tableParams" border="1" style="width: 100%;font-size: small;">
                	<thead style="background-color: #488c6c;>
                    	<tr>
                            <th><a style="color: white;"></a></th>
                            <th><a style="color: white;">Meal Name</a></th>
                            <th><a style="color: white;">Meal Type</a></th>
                            <th><a style="color: white;">Period</a></th>
                            <th><a style="color: white;">Rates</a></th> 
                            <th><a style="color: white;">Manage</a></th>
                            
                        <tr>
                    </thead>
                	<tbody>
                	
                    	<tr ng-repeat="meal in MealType">
          					 <td>{{meal.mealPlanNm}}</td>
                           <td>{{meal.mealType.mealTypeNm}}</td>
                            <td>From Date: {{meal.fromPeriod}}<br>To Date: {{meal.toPeriod}}</td>
                            <td>
                            <table>
                            <tr style="background-color: #488c6c;  color: white;">
                            <td>ADULT RATE:</td>
                            <td>{{meal.rate}}</td>
                            
                            </tr>
                            <tr>
                            <td>Includes tax:</td>
                            <td>{{meal.taxIncluded}}</td>
                            
                            </tr>
                            <tr style="background-color: #488c6c;  color: white;">
                            <td>CHILD RATE 1 - 11 years:</td>
                            <td>{{meal.rate}}</td>
                            </tr>
                            <tr>
                            <td>Includes tax:</td>
                            <td>{{meal.taxIncluded}}</td>
                            
                            </tr>
                            </table></td> 
                                                    
                           
                            <td>
                            <a ng-click="editdata(meal)" style="cursor: pointer; margin-left: 31%;"  data-toggle="modal"><img src="/assets/images/editico.gif"></a><br><br>
                            <a ng-click="setDeleteId(meal)" style="cursor: pointer; margin-left: 31%;" data-toggle="modal"><img src="/assets/images/delete1.gif"></a>
                                             
                            </tr>
                           
                    	</tbody>
                </table>		
			
			</div>
		<!--<a> <img src="../images/editico.gif" alt="HTML tutorial" style="width:42px;height:42px;border:0"></a>  -->
			
			  
	
			
			 <div>
			
		</div> 
			<br>
			
		</div>
		 <div class="col-md-6 col-md-offset-9">
		<input name="" type="button" class="btn btn-primary" value="Create" ng-click="addnew()" class="btnblue"  data-toggle="modal"  />
		</div>
	</div>
	</fieldset>

</form>

		
		
<script type="text/ng-template" id="manage">
<form method="post" name="mealinfoform" data-ng-submit="savemealplan()" role="form" class="form-horizontal">
<div class="main-text">Add New Meal Plan<br><br></div>
<div class="row">
		<div class="col-md-12">
<fieldset class="billBorder">
  <legend class="gen-img">Add/Edit Meal</legend>
 <div>*Please define the period of time:<br><br></div>
		<div class="form-group">
				<label class="col-md-2 control-label">From:</label>
				<div class="col-md-2">
                   <input id = "date" name="fromPeriod" data-ng-model="mealpolicy.fromPeriod" class="input-filter form-control meal-font-text-size" data-provide="datepicker" data-date-format="yyyy-mm-dd" required>
					
				</div>
		
				<label class="col-md-2 control-label">To and include:</label>
				<div class="col-md-2">
					<input id = "date" name="toPeriod" data-ng-model="mealpolicy.toPeriod" class="input-filter form-control meal-font-text-size" data-provide="datepicker" data-date-format="yyyy-mm-dd" required>
					
				</div>
<br>
			</div>

		<div class="form-group">
				<label class="col-md-2 control-label">*Meal Type :</label>
				<div class="col-md-2">
					<select class="form-control meal-font-text-size" data-ng-model="mealpolicy.mealType" data-ng-options="meal.mealTypeId as meal.mealTypeNm for meal in MealTypes" required>
						<option>Select Country...</option>
					</select>
				</div>
<br>
			</div>

		<div class="form-group">
				<label class="col-md-2 control-label">*Meal Name :</label>
				<div class="col-md-3">
					<input type="text" name="mealPlanNm" data-ng-model="mealpolicy.mealPlanNm" class="form-control meal-font-text-size" required>
				</div>
<br>
			</div>

<div></div>
		<fieldset class="billBorder">
  			<legend class="gen-img">ADULT RATE</legend>
               <div class="form-group">
				<label class="col-md-3 control-label">* Adult Rate:</label>
				<div class="col-md-2">
					<input ng-pattern="/^(?=.+)(?:[1-9]\d*|0)?(?:\.\d+)?$/" name="rate" data-ng-model="mealpolicy.rate" class="form-control meal-font-text-size" required>
					
				</div><div class="col-md-2">THB</div>
<br><br>
			</div>
        
<div  class="form-group">
			<div>
				<label class="col-md-2 control-label">Include Tax?  </label>
				<div class="col-md-2">
				
				<div class="chargechild">
						<input type="radio" name="val" ng-click="ShowTax(true)" data-ng-model="mealpolicy.taxIncluded" value="true">
						&nbsp; Yes
					</div>
					<div>
						<input type="radio" name="val" ng-click="ShowTax(false)" data-ng-model="mealpolicy.taxIncluded" value="false">
						&nbsp; No
					</div> 
				
					</div>
			     </div>	
							
          
			<div  ng-show="taxQTY">
				<label class="col-md-1 control-label">*Tax:</label>
				<div class="col-md-2">
					<input type="text" name="taxvalue" data-ng-model="mealpolicy.taxvalue" class="form-control meal-font-text-size">
					<span class="error" ng-show="mealinfoform.taxvalues.$error.float" style="color: red;font-size: small;">Not valid number!</span>
				</div>
			
				<div class="col-md-2">
					<select class="form-control meal-font-text-size" data-ng-model="mealpolicy.taxtype">
						<option>%</option>
						<option>THB</option>
					</select>
				</div>
			</div>
</div>
		
       </div>

			
         
		</fieldset>

      <fieldset class="billBorder" style="margin: 2%;">
  			<legend class="gen-img">CHILD RATES</legend>
 
         <div style="width: 100%;" >
      <div ng-app=''>
		
		
			<div class="billBorder" ng-repeat="cont in contacts">
				
			    	 
				  <div class="form-group">
				<label class="col-md-2 control-label">From Age:	</label>
				<div class="col-md-2">
					<select class="form-control meal-font-text-size" data-ng-model="cont.allowedChildAgeFrom" required>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
						<option>11</option>
						<option>12</option>
						<option>13</option>
						<option>14</option>
						<option>15</option>
						<option>16</option>
						<option>17</option>
						<option>18</option>


					</select>
				</div>
			

	
				<label class="col-md-2 control-label">To Age:	</label>
				<div class="col-md-2">
					<select class="form-control meal-font-text-size" data-ng-model="cont.allowedChildAgeTo" required>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
						<option>11</option>
						<option>12</option>
						<option>13</option>
						<option>14</option>
						<option>15</option>
						<option>16</option>
						<option>17</option>
						<option>18</option>


					</select>

				</div>
<br>
			</div>


 				  <div class="form-group">
				<div>
				<label class="col-md-2 control-label">* Rate:</label>
				<div class="col-md-3">
					<input type="text" name="charge" data-ng-model="cont.charge" class="form-control meal-font-text-size" required>
				</div><div class="col-md-2"><label>THB</label></div>
			</div>
<br><br>
			<div>
			<div>
				<label class="col-md-2 control-label">Include Tax?  </label>
				<div class="col-md-2">
				
				<div class="chargechild">
						<input type="radio" data-ng-model="cont.chargeType" value="true">
						&nbsp; Yes
					</div>
					<div>
						<input type="radio" data-ng-model="cont.chargeType" value="false">
						&nbsp; No
					</div> 
				
					</div>
			     </div>	
			</div>
							
          
			<div ng-show="cont.chargeType == 'false'">
				<label class="col-md-1 control-label">*Tax:</label>
				<div class="col-md-2">
					<input type="text" name="taxvalue" data-ng-model="cont.childtaxvalue" class="form-control meal-font-text-size">
				</div>
			
				<div class="col-md-2">
					<select class="form-control meal-font-text-size" data-ng-model="cont.childtaxtype">
						<option>%</option>
						<option>THB</option>
					</select>
				</div>
			</div>
</div>
		
       </div>

		
           		
			<br>
			
			
		</div>
                		<button type="button" class="btn btn-default" ng-click="newContact($event)">+ Add Child Rate</button>
           			<span ng-show="contacts.length > 0">
                        <button type="button" class="btn btn-default" ng-click="contacts.splice(contacts.length-1, 1)">remove</button>
                    </span> 
 
	</div>
 
</fieldset>
	
<br>
<div style="float: right; margin-right: 8%;">
 
     <span ng-show="mealPlanSuccessMsg" style="color: green;margin-left: 2%;"> Save Successfully</span>   
	
	 <button type="submit" class="btn btn-primary">Save</button>
	 <button type="button" ng-click=" closeThisDialog()" class="btn btn-primary">Close</button>

	
</div>
</div>
      		


</div>

</div>


</div>	
   			

		
    </form>

</script>
 
 <script type="text/ng-template" id="editing">
<form method="post" data-ng-submit="updatemealplan()" role="form" class="form-horizontal">
<div class="main-text">Edit Meal Plan<br><br></div>
<div class="row">
		<div class="col-md-12">
<fieldset class="billBorder">
  <legend class="gen-img">Add/Edit Meal</legend>
 <div>*Please define the period of time:<br><br></div>
		<div class="form-group">
				<label class="col-md-2 control-label">From:</label>
				<div class="col-md-2">
                   <input id = "date" name="fromPeriod" data-ng-model="mealdata.fromPeriod" class="input-filter form-control meal-font-text-size" data-provide="datepicker" data-date-format="yyyy-mm-dd" required>
					
				</div>
		
				<label class="col-md-2 control-label">To and include:</label>
				<div class="col-md-2">
					<input id = "date" name="toPeriod" data-ng-model="mealdata.toPeriod" class="input-filter form-control meal-font-text-size" data-provide="datepicker" data-date-format="yyyy-mm-dd" required>
					
				</div>
<br>
			</div>

		<div class="form-group">
				<label class="col-md-2 control-label">*Meal Type :</label>
				<div class="col-md-2">
					<select class="form-control meal-font-text-size" data-ng-model="mealdata.mealType" data-ng-options="meal.mealTypeId as meal.mealTypeNm for meal in MealTypes" required>
						<option ng-selected="mealdata.mealType" value="{{meal.mealTypeId}}">{{meal.mealTypeNm}}</option>
						<option>Select Country...</option>
					</select>
				</div>
<br>
			</div>


		<div class="form-group">
				<label class="col-md-2 control-label">*Meal Name :</label>
				<div class="col-md-3">
					<input type="text" name="mealPlanNm" data-ng-model="mealdata.mealPlanNm" class="form-control meal-font-text-size" required>
				</div>
<br>
			</div>

<div></div>
		<fieldset class="billBorder">
  			<legend class="gen-img">ADULT RATE</legend>
               <div class="form-group">
				<label class="col-md-3 control-label">* Adult Rate:</label>
				<div class="col-md-2">
					<input type="text" name="rate" data-ng-model="mealdata.rate" class="form-control meal-font-text-size" required>
				</div>THB
<br><br>
			</div>
       
<div  class="form-group">
			<div>
				<label class="col-md-2 control-label">Include Tax?  </label>
				<div class="col-md-2">
				
				<div class="chargechild">
						<input type="radio" name="val" ng-click="ShowTax(true)" data-ng-model="mealdata.taxIncluded" value="true">
						&nbsp; Yes
					</div>
					<div>
						<input type="radio" name="val" ng-click="ShowTax(false)" data-ng-model="mealdata.taxIncluded" value="false">
						&nbsp; No
					</div> 
				
					</div>
			     </div>	
							
          
			<div  ng-show="mealdata.taxIncluded == 'false'">
				<label class="col-md-1 control-label">*Tax:</label>
				<div class="col-md-2">
					<input type="text" name="taxvalue" data-ng-model="mealdata.taxvalue" class="form-control meal-font-text-size">
				</div>
			
				<div class="col-md-2">
					<select class="form-control meal-font-text-size" data-ng-model="mealdata.taxtype">
						<option>%</option>
						<option>THB</option>
					</select>
				</div>
			</div>
</div>
		
       </div>

			
         
		</fieldset>

      <fieldset class="billBorder" style="margin: 2%;">
  			<legend class="gen-img">CHILD RATES</legend>
 
         <div style="width: 100%;" >
      <div ng-app=''>
		
		
			<div class="billBorder" ng-repeat="cont in mealdata.child">
				
			    	 
				  <div class="form-group">
				<label class="col-md-2 control-label">From Age:	</label>
				<div class="col-md-2">
					<select class="form-control meal-font-text-size" data-ng-model="cont.allowedChildAgeFrom" required>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
						<option>11</option>
						<option>12</option>
						<option>13</option>
						<option>14</option>
						<option>15</option>
						<option>16</option>
						<option>17</option>
						<option>18</option>


					</select>
				</div>
			

	
				<label class="col-md-2 control-label">To Age:	</label>
				<div class="col-md-2">
					<select class="form-control meal-font-text-size" data-ng-model="cont.allowedChildAgeTo" required>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
						<option>11</option>
						<option>12</option>
						<option>13</option>
						<option>14</option>
						<option>15</option>
						<option>16</option>
						<option>17</option>
						<option>18</option>


					</select>

				</div>
<br>
			</div>


 				  <div class="form-group">
				<div>
				<label class="col-md-2 control-label">* Rate:</label>
				<div class="col-md-3">
					<input type="text" name="charge" data-ng-model="cont.charge" class="form-control meal-font-text-size" required>
				</div><div><label>THB</label></div>
			</div>
<br><br>
			<div  class="form-group">
			<div>
				<label class="col-md-2 control-label">Include Tax?  </label>
				<div class="col-md-2">
				
				<div class="chargechild">
						<input type="radio" name="chargeType" data-ng-model="cont.chargeType" value="true">
						&nbsp; Yes
					</div>
					<div>
						<input type="radio" name="chargeType" data-ng-model="cont.chargeType" value="false">
						&nbsp; No
					</div> 
				
					</div>
			     </div>	
							
           <div ng-show="cont.chargeType == 'false'">
				<label class="col-md-1 control-label">*Tax:</label>
				<div class="col-md-2">
					<input type="text" name="taxvalue" data-ng-model="cont.childtaxvalue" class="form-control meal-font-text-size">
				</div>
			
				<div class="col-md-2">
					<select class="form-control meal-font-text-size" data-ng-model="cont.childtaxtype">
						<option>%</option>
						<option>THB</option>
					</select>
				</div>
			</div>
</div>
		
       </div>

		           		
			<br>
			
			
		</div>
                		<button type="button" class="btn btn-default" ng-click="newContact($event)">+ Add Child Rate</button>
           			
                        <button type="button" class="btn btn-default" ng-click="childDeleteId()">remove</button>
                     
 
	</div>
 
</fieldset>
	<br>
	<div style="float: right; margin-right: 8%;">

	<span ng-show="mealPlanUpdateSuccessMsg" style="color: green;margin-left: 2%;">Update Successfully</span>
	<button type="submit" class="btn btn-primary">Update</button> 
	<button type="button" ng-click=" closeThisDialog()" class="btn btn-primary">Close</button>


	 
   </div>
</div>
      		


</div>

</div>


</div>	
   			

		
    </form>
</script>
 
 
 
 
 
<!--  
<style>

/*  .billinside{
    padding: .35em .625em .75em;
     margin: 0 2px;
   border: 1px solid silver;
} */
 .ngdialog-content{
width: 861px !important;
}
 

 .billBorder {
    padding: .35em .625em .75em;
margin: 0 2px;
border: 1px solid;
}

</style> -->

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

