 <!-- <script src="assets/app/js/googlemap.js"></script> -->
  <!--  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqPKtW_XvpO0gKcuW-nOGd44O1RgM2j&sensor=false&v=3.exp"></script> --> 
 <!--  <script>
var directionsDisplay;
var directionsService = new google.maps.DirectionsService();
var map;

function initialize() {
    var mapOptions = {
      center: { lat: -34.397, lng: 150.644},
      zoom: 8
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);
  }

function findmap() {
  var start = document.getElementById('start').value;
  var end = document.getElementById('end').value;
  var request = {
      origin:start,
      destination:end,
      travelMode: google.maps.TravelMode.DRIVING
  };
  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    }
  });
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>   -->
    
 


<form method="post" ng-submit="savetranspotDire()" role="form" class="form-horizontal">
	<div class="row">
		<div class="col-md-12">
					
			<div>
		<label>Please use this example when filling the Directions fields: North I-95 Road Exit 12. 
When using the Distance Km/Miles area and you need to use Decimal like 0.5 use Point/Period.</label><br>
		<br> 
		</div>
	
		<div>
		<label><b>Find Location Name</b></label><br>
		<br> 
		</div>
		
		<div class="form-group">
				<div>
				<label style="margin-left: 6%;">Loaction</label>
				<label style="margin-left: 17%;">Loaction Address</label>
				<label style="margin-left: 12%;">Get Map</label>
				
				</div>
				</div>
		
			
			
				 
				 <!--  <div id="panel">
    <b>Start: </b>
    <select id="start" onchange="findmap();">
      <option value="chicago, il">Chicago</option>
      <option value="st louis, mo">St Louis</option>
      <option value="joplin, mo">Joplin, MO</option>
      <option value="oklahoma city, ok">Oklahoma City</option>
      <option value="amarillo, tx">Amarillo</option>
      <option value="gallup, nm">Gallup, NM</option>
      <option value="flagstaff, az">Flagstaff, AZ</option>
      <option value="winona, az">Winona</option>
      <option value="kingman, az">Kingman</option>
      <option value="barstow, ca">Barstow</option>
      <option value="san bernardino, ca">San Bernardino</option>
      <option value="los angeles, ca">Los Angeles</option>
    </select>
    <b>End: </b>
    <select id="end" onchange="findmap();">
      <option value="chicago, il">Chicago</option>
      <option value="st louis, mo">St Louis</option>
      <option value="joplin, mo">Joplin, MO</option>
      <option value="oklahoma city, ok">Oklahoma City</option>
      <option value="amarillo, tx">Amarillo</option>
      <option value="gallup, nm">Gallup, NM</option>
      <option value="flagstaff, az">Flagstaff, AZ</option>
      <option value="winona, az">Winona</option>
      <option value="kingman, az">Kingman</option>
      <option value="barstow, ca">Barstow</option>
      <option value="san bernardino, ca">San Bernardino</option>
      <option value="los angeles, ca">Los Angeles</option>
    </select>
    </div>  -->
				
				 
				
				 <div class="form-group" ng-repeat="find in locationsearch.findLocation">
			
				<div class="col-md-3">
					<input type="text" name="Name" data-ng-model="find.locationName" class="form-control">
				</div>
				
				<div class="col-md-4">
					<input type="text" name="Name" data-ng-model="find.locationAddr" class="form-control">
				</div>
				
				<div class="col-md-1">
				<a ng-click="findmap()" style="cursor: pointer;"  data-toggle="modal"><img src="assets/images/map.jpg" style="width: 100%;float: left;"></a><br><br>
				</div>
				
			
				
				<div>
				   <button class="btn btn-default" ng-click="newLocation($event)">+</button>
           			<span ng-show="locationsearch.findLocation.length > 1">
                        <button class="btn btn-default" ng-click="locationsearch.findLocation.splice($index, 1)">-</button>
                        </span>
				</div>
				
				<br>
					
					</div>
					<br>
					<span ng-show="locationfind" style="color: green;">Location Save successfully</span>
					<span ng-show="locationnotfind" style="color: red;">Any one Location allready exists</span>
					<br>
		 </div>
			
		 
				
		<hr class="mtxxl mbxxl" style="border-color: black; float: left; width: 99%;">
		
		
		     
                 <button type="submit" class="btn btn-primary" style="margin-left: 84%;">Save</button>
	</div>
</form>

<!-- 
<style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
    </style>
    -->