@CHARSET "ISO-8859-1";
.hotel-profile-tab-content
{
	padding: 5px 15px 20px;
}
.hotel-profile-def-policy label
{
	padding-left:25px;
}
.hotel-profile-def-policy input
{
	margin-left:10px !important;
}
.desc-con-label
{
	text-align: left !important;
	color: blue;
	font-size: 14px;
}
.billinside {
	padding: .35em .625em .75em;
	margin: 0 2px;
	border: 1px solid silver;
}

.billBorder {
	padding: .35em .625em .75em;
	margin: 0 2px;
	border: 1px solid;
}
.allot-firldset{
	 width: 190px;
	 border-bottom: none;
}
.descr-fieldset{
	 width: 106px;
	 border-bottom: none;
}

.specify-allotment-radio{
    float: left;
    margin-left: 15px;
}
