@CHARSET "ISO-8859-1";
.hotel-profile-tab-content
{
	padding: 5px 15px 20px;
}
.hotel-profile-def-policy label
{
	padding-left:25px;
}
.hotel-profile-def-policy input
{
	margin-left:10px !important;
}
.desc-con-label
{
	text-align: left !important;
	color: blue;
	font-size: 14px;
}
.billinside {
	padding: .35em .625em .75em;
	margin: 0 2px;
	border: 1px solid silver;
}

.billBorder {
	padding: .35em .625em .75em;
	margin: 0 2px;
	border: 1px solid;
}
.allot-firldset{
	 width: 190px;
	 border-bottom: none;
}
.descr-fieldset{
	 width: 106px;
	 border-bottom: none;
}
.meal-fieldset{
	 width: 51px;
	 border-bottom: none;
}
 .ngdialog-content{
width: 861px !important;
}
.gen-img{
	 width: 142px;
	 border-bottom: none;
}
.lobby-room-img{
	 width: 117px;
	 border-bottom: none;
}
.ameniti-img{
	 width: 232px;
	 border-bottom: none;
}
.map-img{
	 width: 163px;
	 border-bottom: none;
}
.leisure-img{
	 width: 240px;
	 border-bottom: none;
}

.specify-allotment-radio{
    float: left;
    margin-left: 15px;
}
.menu-li{
	height: 34px;
}
.select-a-menu{
	padding: 7px 5px;
}
.chargechild{
	float: left; 
	margin-right: 5%; 
}
.childDiv{
	border: 1px solid;
	float: left;
	width: 100%;
	margin-bottom: 2%;
}
.manageGenButton{
	margin-top: 10%;
}
.mapSize{
	width: 100%;
	float: left;
}

.meal-font-text-size{
	height: 25px;
	font-size: 11px;
}
.main-text{
	text-align: center;
	font-size: x-large;
}

.manageImgButton{
	margin-top: 14%;
}
.setwidth{
	width: 100px;
}
.manageButton{
	float: left;
	margin-top: 9%;
	margin-left: 29%;
}
 html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }