<div class="panel panel-green">
	<div class="panel-heading clearfix">
		<span class="mts pull-left">Supplier Agreement</span>
	</div>
	<div class="panel-body">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-12">
					<div class="tabbable tabs-left">
						
						<div id="myTabContent2" class="tab-content">
							
	<div class="row">
		
		<div ng-show="uploadpdf" class="col-md-12">
			 <!--  <label class="col-md-1 control-label" style="text-align: left;">please Click on Images</label> -->
			<div ng-show="imageShow" class="col-md-4">
		  <a ng-click="showpdf = 'true'"><img src="/assets/images/pdfImages.jpg" style="cursor: pointer;"></a><br><br>
				</div>
				<div ng-show="labelShow" class="col-md-4">
		   <label class="col-md-4 control-label">Supplier Agreement Not Available</label>
				</div>
				
				 <div class="col-md-6" style="margin-top: 10%;">
					   <label class="col-md-1 control-label" style="text-align: left;"> File:</label>
						<div class="col-md-6">
					 <input ng-file-select="selectProfilePdf($files)" name="" type="file" />
			             
			             </div>		
			               <button type="submit" ng-click="PdfUpload()" class="btn btn-primary">Upload PDF File</button>
			           </div>	             
			         	          
			        
			       
			        
				
		
			
		</div>
		<div class="col-md-12" style="margin-left: 8%;">  <!-- ng-show="showpdf" -->
			
		 
  			
				
				 <OBJECT data="{{pdfFile}}" TYPE="application/pdf" WIDTH=850 HEIGHT=900> 
				
			 
			
			
		</div>
				
		
	</div>

			
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
