<div class="panel panel-green">
	<div class="panel-heading clearfix">
		<span class="mts pull-left">Manage Hotel Images</span>
	</div>
	<div class="panel-body">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-12">
					<div class="tabbable tabs-left">
						
						<div id="myTabContent2" class="tab-content">
							
	<div class="row">
		<div class="col-md-12">
					
		
		<form method="post" ng-submit="savegeneralPic()" role="form" class="form-horizontal">
		<fieldset class="billBorder">
		 
  			<legend class="gen-img">General Image</legend>
				<div class="row">
					<div class="col-md-10">
					<div class="col-md-12">
						<label>Hotel General Picture, please choose an exterior picture.</label>		    	
		               </div>
		               
		                <div class="form-group">
		                <div class="col-md-4">
		                     <img data-ng-src="{{img}}" alt="" style="width: 254px;"> 
		                </div>
		                <div  ng-show="opengeneralPic1" class="manageButton">
		                <input type="button" class="btn btn-primary" value="Replace Picture" ng-click="opengeneralImg()">
		               
		               </div>
		               <div ng-show="opengeneralPic" class="manageGenButton">
					   <label class="col-md-1 control-label"> File:</label>
						<div class="col-md-3">
					       <input ng-file-select="selectGeneralPicImage($files)" name="" type="file" />
			             
			             </div>	
			              <br>
			             <div class="col-md-8">
										<label class="col-md-2 control-label">Description</label>

										<div class="col-md-7">
											<textarea id="description" name="description" data-ng-model="savegeneral.description" rows="3"
												class="form-control" maxlength="240"></textarea>
										</div>
									</div>  
			              <div class="col-md-4" style="margin-left: 22px;margin-top: 14px;">
			             <button type="submit" class="btn btn-primary">Show</button>
			                <input type="button" class="btn btn-primary" value="Reset" ng-click="opengeneralpic1()">
			             </div>	
			             </div>
			           </div>	
			           
		    
		    	    </div>
			    </div>
			    
			</fieldset>	
			</form>
			
			<form method="post" ng-submit="saveHotelLobbyImage()" role="form" class="form-horizontal">
			<fieldset class="billBorder">
  			<legend class="lobby-room-img">Hotel Lobby</legend>
				<div class="row">
					<div class="col-md-10">
					<div class="col-md-12">
						<label>Please choose the BEST image of your hotel Lobby. This will be displayed next to your hotel text description.</label>		    	
		               </div>
		                   
		               <div class="form-group">
		               <div class="col-md-4">
		                  <img data-ng-src="{{imgLobby}}" alt="" style="width: 254px;"> 
		               </div>
		               <div ng-show="openLobbyPic1" class="manageButton">
		               <input type="button" class="btn btn-primary" value="Replace Picture" ng-click="openLobbyImg()">
		               </div>
		                <div ng-show="openLobbyPic" class="manageImgButton">
					   <label class="col-md-1 control-label"> File:</label>
						<div class="col-md-3">
					 <input ng-file-select="selectHotelLobbyImage($files)" name="" type="file" />
			             
			             </div>	
			               <br>
			             <div class="col-md-8">
										<label class="col-md-2 control-label">Description</label>

										<div class="col-md-7">
											<textarea id="description" name="description" data-ng-model="saveLobbyImage.description" rows="3"
												class="form-control" maxlength="240"></textarea>
										</div>
									</div> 
			             
			             <div class="col-md-4">
			             <button type="submit" class="btn btn-primary">Show</button>
			                <input type="button" class="btn btn-primary" value="Reset" ng-click="openLobbyspic1()">
			             </div>
			             </div>	
			             
			           </div>	
			            
		                
		    
		    	    </div>
		    	    
			    </div>
			</fieldset>								
			</form>
			<form method="post" ng-submit="saveHotelRoomImage()" role="form" class="form-horizontal">
			<fieldset class="billBorder">
  			<legend class="lobby-room-img">Hotel Room</legend>
				<div class="row">
					<div class="col-md-10">
					<div class="col-md-12">
						<label>Please choose the BEST image of your hotel room. This will be an additional image to be displayed next to your hotel text description.</label>		    	
		               </div>
		                   
		               <div class="form-group">
		               <div class="col-md-4">
		                  <img data-ng-src="{{imgRoom}}" alt="" style="width: 254px;"> 
		               </div>
		               <div ng-show="openRoomPic1" class="manageButton">
		               <input type="button" class="btn btn-primary" value="Replace Picture" ng-click="openRoomImg()">
		               </div>
		                <div ng-show="openRoomPic" class="manageImgButton">
					   <label class="col-md-1 control-label"> File:</label>
						<div class="col-md-3">
					 <input ng-file-select="selectHotelRoomImage($files)" name="" type="file" />
			             
			             </div>	
			              <br>
			             <div class="col-md-8">
										<label class="col-md-2 control-label">Description</label>

										<div class="col-md-7">
											<textarea id="description" name="description" data-ng-model="saveRoomImage.description" rows="3"
												class="form-control" maxlength="240"></textarea>
										</div>
									</div> 
			             <div class="col-md-4">
			             <button type="submit" class="btn btn-primary">Show</button>
			                <input type="button" class="btn btn-primary" value="Reset" ng-click="openRoompic1()">
			             </div>
			             </div>	
			             
			           </div>	
			            
		                
		    
		    	    </div>
		    	    
			    </div>
			</fieldset>								
			</form>
			<form method="post" ng-submit="saveHotelAmenitiesServices()" role="form" class="form-horizontal">
			<fieldset class="billBorder">
  			<legend class="ameniti-img">Amenities And Services</legend>
				<div class="row">
					<div class="col-md-10">
					<div class="col-md-12">
						<label>Please choose an image that shows amenities and services offered by your hotel. This can include room service, F&B, SPA, e.g.</label>		    	
		               </div>
		                   
		               <div class="form-group">
		               <div class="col-md-4">
		                  <img data-ng-src="{{imgAmenitiesServices}}" alt="" style="width: 254px;"> 
		               </div>
		               <div ng-show="openAmenitiesServices1" class="manageButton">
		               <input type="button" class="btn btn-primary" value="Replace Picture" ng-click="openAmenitiesServicesImg()">
		               </div>
		                <div ng-show="openAmenitiesServices" class="manageImgButton">
					   <label class="col-md-1 control-label"> File:</label>
						<div class="col-md-3">
					 <input ng-file-select="selectAmenitiesServicesImage($files)" name="" type="file" />
			             
			             </div>
			             <br>
			             <div class="col-md-8">
										<label class="col-md-2 control-label">Description</label>

										<div class="col-md-7">
											<textarea id="description" name="description" data-ng-model="saveAmenitiesServicesImage.description" rows="3"
												class="form-control" maxlength="240"></textarea>
										</div>
									</div> 
			             
			             	
			             <div class="col-md-4">
			            
			             <button type="submit" class="btn btn-primary">Show</button>
			             
			                <input type="button" class="btn btn-primary" value="Reset" ng-click = "openAmenitiespic1()">
			             
			             </div>	
			             
			           </div>	
			            
		                
		    
		    	    </div>
		    	    
			    </div>
			</fieldset>								
			</form>
			<form method="post" ng-submit="saveHotelLeisureorSports()" role="form" class="form-horizontal">
			<fieldset class="billBorder">
  			<legend class="leisure-img">Leisure Or Sports Facility</legend>
				<div class="row">
					<div class="col-md-10">
					<div class="col-md-12">
						<label>Please choose an image of a leisure or sports facility.</label>		    	
		               </div>
		                   
		               <div class="form-group">
		               <div class="col-md-4">
		                  <img data-ng-src="{{imgLeisureorSports}}" alt="" style="width: 254px;"> 
		               </div>
		               <div ng-show="openLeisureorSports1" class="manageButton">
		               <input type="button" class="btn btn-primary" value="Replace Picture" ng-click="openLeisureorSportsImg()">
		               </div>
		                <div ng-show="openLeisureorSports" class="manageImgButton">
					   <label class="col-md-1 control-label"> File:</label>
						<div class="col-md-3">
					 <input ng-file-select="selectLeisureorSportsImage($files)" name="" type="file" />
			             
			             </div>	
						<br>
			             <div class="col-md-8">
										<label class="col-md-2 control-label">Description</label>

										<div class="col-md-7">
											<textarea id="description" name="description" data-ng-model="saveLeisureorSportsImage.description" rows="3"
												class="form-control" maxlength="240"></textarea>
										</div>
									</div> 
									             
			             
			             
			             <div class="col-md-4">
			             <button type="submit" class="btn btn-primary">Show</button>
			              <input type="button" class="btn btn-primary" value="Reset" ng-click="openLeisurepic1()">
			             </div>
			             </div>	
			             
			           </div>	
			            
		                
		    
		    	    </div>
		    	    
			    </div>
			</fieldset>								
			</form>
			<form method="post" ng-submit="saveHotelMapImage()" role="form" class="form-horizontal">
			<fieldset class="billBorder">
  			<legend class="map-img">Hotel Map Image</legend>
				<div class="row">
					<div class="col-md-10">
					<div class="col-md-12">
						<label>Please upload your hotel Map image in JPG file.</label>		    	
		               </div>
		                   
		               <div class="form-group">
		               <div class="col-md-4">
		                  <img data-ng-src="{{imgMap}}" alt="" style="width: 254px;"> 
		               </div>
		               <div ng-show="openMapPic1" class="manageButton">
		               <input type="button" class="btn btn-primary" value="Replace Picture" ng-click="opeMapImg()">
		               </div>
		                <div ng-show="openMapPic" class="manageImgButton">
					   <label class="col-md-1 control-label"> File:</label>
						<div class="col-md-3">
					 <input ng-file-select="selectHotelMapImage($files)" name="" type="file" />
			             
			             </div>
			             <br>
			             <div class="col-md-8">
										<label class="col-md-2 control-label">Description</label>

										<div class="col-md-7">
											<textarea id="description" name="description" data-ng-model="saveMapImage.description" rows="3"
												class="form-control" maxlength="240"></textarea>
										</div>
									</div> 
			             
			             	
			             <div class="col-md-4">
			             <button type="submit" class="btn btn-primary">Show</button>
			             <input type="button" class="btn btn-primary" value="Reset" ng-click="opeMappic1()">
			             </div>
			             </div>	
			             
			           </div>	
			            
		                
		    
		    	    </div>
		    	    
			    </div>
			</fieldset>								
			</form>
			
		</div>
				
		
	</div>

			
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
