
<div ng-init="callfuntion()" class="panel panel-green">
	<div class="panel-heading clearfix">
		<span class="mts pull-left">Allotment</span>
	</div>
	
		
		<div class="panel-body">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-12">
					<div class="tabbable tabs-left">
						
						<div id="myTabContent2">
							
	<div class="row">
		<div class="col-md-12"> 
		
		<form method="post" data-ng-submit="saveallotment()" role="form" class="form-horizontal">
		
	<div class="panel-body">   <!-- ng-show="showContract" -->  
		 
		
		<div class="row">
		 <div class="col-md-6">
		  <div class="form-group">
			<label class="col-md-7 col-md-offset-1"><b>Please Choose Room Type:</b></label>
				<div class="col-md-9 col-md-offset-1">
					<select class="form-control" data-ng-model="allotmentMarket.roomId" ng-change="selectType()"
						data-ng-options="hotelRoomTypes.roomId as hotelRoomTypes.roomType for hotelRoomTypes in hotelRoomTypes">
						<option>Select Room Type...</option>
					</select>
				</div>
				</div>
			</div>
			<div class="col-md-6">
			  <div class="form-group">
				<label class="col-md-7 col-md-offset-1"><b>Please Choose Currency:</b></label>
				<div class="col-md-8 col-md-offset-1">
					<select class="form-control" ng-change="onCurrencyChange()" data-ng-model="allotmentMarket.currencyName" data-ng-options="currencyname.currencyName as currencyname.currencyName for currencyname in currency" required>
						<option>Select Currency...</option>
					</select>
				</div>
				</div>
			</div>
		</div>
		
		<div class="row">
		 <div class="col-md-6">
		<div class="form-group">
			<label class="col-md-7 col-md-offset-1"><b>Please Choose Period:</b></label>
				<div class="col-md-9 col-md-offset-1">
			
					<select class="form-control" ng-model="allotmentMarket.datePeriodId" ng-change="onDateChoose(allotmentMarketallotmentMarket1)">
			    		 <option ng-repeat=" allotM in allotmentMarket1" value="{{allotM.fromPeriod}}@{{allotM.toPeriod}}">From : {{allotM.fromPeriod}} - To : {{allotM.toPeriod}}</option>
			    		
			    	</select>
			    	</div>
		</div>
		</div>
		<!--  <div class="col-md-6">
		<div class="form-group">
			<label class="col-md-7 col-md-offset-1"><b>Please Select Rate:</b></label>
				<div class="col-md-8 col-md-offset-1">
					<select class="form-control" data-ng-model="allotmentMarket.rate" data-ng-options="rates.id as rates.name for rates in rate" multiple required>
						<option>Select Rate.</option>
					</select>
				</div>
		</div>
		</div> -->
		
		</div>
		
	
		<div class="form-group">
			 <div class="col-md-6 col-md-offset-9">
		<input type="button" class="btn btn-primary" value="Search" ng-click="searchAllotment()">
	 	</div>
	 	</div>
	 	
		
		
	 	
	 	
	 	
	 	
	</div>
	
	<hr class="mtxxl mbxxl" style="border-color: black;">
	
	<div class="panel-body" > 
		<div ng-show="showallotent">
		<div ng-repeat="allot in allotmentM">
		<fieldset class="billinside">
	
			<legend class="allot-firldset">Allotment Market {{$index+1}}</legend>
			
				<!-- <div class="row">			
			<div class="form-group">
			<div class="col-md-12">
			 <div class="col-md-4">
				<label>How do you want to specify allotment?:  </label>
				</div>
				<div class="col-md-5">
				
				<div class="specify-allotment-radio">
						<input type="radio" name="specifyAllot" ng-click="showspecifyAllot(true)" data-ng-model="allot.specifyAllot" value="parRoomtype">
						&nbsp; Per Room Type
					</div>
					<div class="specify-allotment-radio">
						<input type="radio" name="specifyAllot" ng-click="showspecifyAllot(false)" data-ng-model="allot.specifyAllot" value="perOccupancy">
						&nbsp; Per Occupancy
					</div> 
				
					</div>
					</div>
			</div>	
			</div> -->
						<div class="form-group col-md-12">	
						
						<div class="col-md-12">
				
						<div>
						<input type="radio" data-ng-model="allot.allocation" ng-click="selectFreesell(allot)" value="1">
						&nbsp; Free Sall
						</div>
						
				
					</div>
						<div ng-show="allot.allocation == 1">
							<label class="col-md-2 control-label">Release Period </label>
							<div class="col-md-3">
								<select class="form-control" data-ng-model="allot.period" required>
									<option>-- Choose One --</option>
									<option>Same day up to check-in</option>
									<option>Same day up to 8 PM</option>
									<option>Same day up to 11 PM</option>
									<option>24 hours prior to check-in</option>
									<option>48 hours prior to check-in</option>
									<option>72 hours prior to check-in</option>
									<option>1 week</option>
									<option>2 week</option>
									<option>3 week</option>
									<option>4 week</option>
									<option>5 week</option>
									<option>6 week</option>
									<option>7 week</option>
									<option>8 week</option>
									<option>9 week</option>
									<option>10 week</option>
									<option>11 week</option>
									<option>12 week</option>


								</select>
							</div>
							</div>
						
						</div>						
						<br>
						<div class="form-group col-md-12"">	
						
						<div class="col-md-3">
				
						<input type="radio" data-ng-model="allot.allocation" ng-click="selectstopsell(allot)" value="2">
						&nbsp; Stop Sell
												
				
					</div>
													
						
						</div>
						
						<div class="form-group col-md-12"">	
						
						<div class="col-md-12">
				
						<div>
						<input type="radio" data-ng-model="allot.allocation" value="3">
						&nbsp; On request
						</div>
						
				
					</div>
						<div ng-show="allot.allocation == 3">
						<label class="col-md-2 control-label">Please choose: </label>
							<div class="col-md-3">
								<select class="form-control" data-ng-model="allot.choose" required>
									<option>-- Choose One --</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6</option>
									<option>7</option>
									<option>8</option>
									<option>9</option>
									<option>10</option>
									<option>11</option>
									<option>12</option>
									<option>13</option>
									<option>14</option>
									<option>15</option>
									<option>16</option>
									<option>17</option>
									<option>18</option>


								</select>
							</div>
							<label class="col-md-2 control-label">Release Period </label>
							<div class="col-md-3">
								<select class="form-control" data-ng-model="allot.period" required>
									<option>-- Choose One --</option>
									<option>Same day up to check-in</option>
									<option>Same day up to 8 PM</option>
									<option>Same day up to 11 PM</option>
									<option>24 hours prior to check-in</option>
									<option>48 hours prior to check-in</option>
									<option>72 hours prior to check-in</option>
									<option>1 week</option>
									<option>2 week</option>
									<option>3 week</option>
									<option>4 week</option>
									<option>5 week</option>
									<option>6 week</option>
									<option>7 week</option>
									<option>8 week</option>
									<option>9 week</option>
									<option>10 week</option>
									<option>11 week</option>
									<option>12 week</option>


								</select>
							</div>
							</div>
						
						</div>		
						
						<div class="row">
		                 <div class="col-md-6">
		                 <div class="form-group">
						<label class="col-md-7 col-md-offset-1"><b>Please Select Rate:</b></label>
							<div class="col-md-8 col-md-offset-1">
							<select class="form-control" data-ng-model="allot.rate" multiple required>
								<option ng-repeat="rates in rate" value="{{rates.id}}" ng-selected="rates.isSelected == ($parent.$index+1)" ng-show="rates.isSelected == ($parent.$index+1) || rates.isSelected == 0" ng-click="changeIsSelected($parent.$index,$index)">{{rates.rateName}}</option>
							</select>
							</div>
					</div>
						</div>
						<div>
						
						</div>
					
						 <div class="col-md-6">
		                 <div class="form-group">
		                  <div class="col-md-10">
						<label><b>Apply to all Markets?<br>
			<label>(Based on Passenger Nationality)</label>
					<input type="radio" data-ng-model="allot.applyMarket" value="false" ng-click="showAllotmentMarketTable(allot)">No
					<input type="radio" data-ng-model="allot.applyMarket" value="true" ng-click="showAllotmentMarketTable(allot)">Yes
				</b></label><br>
				</div>
			
				<div multi-select input-model="allot.allocatedCities"
					button-label="icon name" item-label="icon name maker"
					tick-property="ticked" orientation="vertical"
					group-property="multiSelectGroup"
					on-open="msOpen( data )">
					
				</div>
				
					
				<!-- <div class="col-md-2 col-md-offset-9">
					<input type="button" class="btn btn-success" ng-click="setSelection(allot);" value="Submit">
				</div> -->
				</div>
				</div>
							</div>
			
					
						
						
					<div class="row">
		            <div class="col-md-6">
		            <div class="form-group">
					      <input type="button" class="btn btn-default col-md-offset-1" value="Remove this Allotment Market" ng-click="allotmentMDeleteId(allot,$index)">   <!--  allotmentM.splice($index,1)--> 
					</div>
					</div>
					</div>
					
						
			
		</fieldset>		
		</div>
		<hr>
		     <div class="form-group">
		        <div class="col-md-6 col-md-offset-4">
					<button class="btn btn-default" ng-click="newallotmentM($event)">Add Additional Allotment Market</button>
				</div>
				</div>
				</div>
		<hr class="mtxxl mbxxl" style="border-color: black;">
		
				<div class="col-md-3 col-md-offset-5">
					<input type="button" class="btn btn-primary" value="Go Back" ng-click="showContractPage()">
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
		
	</div>
	</form>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
</div>
	
</div>
