@(hotel: com.fasterxml.jackson.databind.JsonNode) 

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
  <html> 
<head>
    <title>Travelo | Responsive HTML5 Travel Template</title>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Travelo | Responsive HTML5 Travel Template">
    <meta name="author" content="SoapTheme">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	@include_css()
</head>
<body data-ng-app="travel-business" data-ng-controller="hotelDetailsController">
    <div id="page-wrapper">
        @header()
        <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">Hotel Detailed</h2>
                </div>
                <ul class="breadcrumbs pull-right">
                    <li><a href="/">HOME</a></li>
                    <li class="active">HOTEL DETAILED</li>
                </ul>
            </div>
        </div>
       <section id="content" ng-init="init(@hotel)">
            <div class="container">
                <div class="row">
                  <div id="main" class="col-md-9">
                        <div class="tab-container style1" id="hotel-main-content">
                            <ul class="tabs">
                                <li class="active"><a data-toggle="tab" href="#photos-tab">photos</a></li>
                               <!--  <li><a data-toggle="tab" href="#map-tab">map</a></li>
                                <li><a data-toggle="tab" href="#steet-view-tab">street view</a></li>
                                <li><a data-toggle="tab" href="#calendar-tab">calendar</a></li> -->
                                <!-- <li class="pull-right"><a class="button btn-small yellow-bg white-color" href="#">TRAVEL GUIDE</a></li> -->
                            </ul>
                            <div class="tab-content">
                                <div id="photos-tab" class="tab-pane fade in active">
                                    <div class="photo-gallery style1" data-animation="slide" data-sync="#photos-tab .image-carousel">
                                      
                                
                                        <ul class="slides">
                                      
                               	<li ng-repeat="img in imgArray"><img src="{{img}}" alt="" /></li>
                                          
                                        </ul>
                                    </div>
                                    <div class="image-carousel style1" data-animation="slide" data-item-width="70" data-item-margin="10" data-sync="#photos-tab .photo-gallery">
                                        <ul class="slides">
                                            <li ng-repeat="img in imgArray"><img src="{{img}}" alt="" /></li>
                                           <!--  <li><img src="/searchHotelGenImg/getHotelGenImg/41160/0" alt="" /></li>
                                            <li><img src="{{RoomImg}}" alt="" /></li>
                                            <li><img src="{{LobbyImg}}" alt="" /></li>
                                            <li><img src="{{MapImg}}" alt="" /></li>
                                            <li><img src="{{LSImp}}" alt="" /></li> -->
                                        </ul>
                                    </div>
                                </div>
                                <div id="map-tab" class="tab-pane fade">
                                </div>
                                <div id="steet-view-tab" class="tab-pane fade" style="height: 500px;">
                                </div>
                            </div>
                        </div>
                        <div id="hotel-features" class="tab-container">
                            <ul class="tabs">
                                <li class="active"><a href="#hotel-availability" data-toggle="tab" ng-click="availability()">Availability</a></li>
                                <li><a href="#hotel-descr" data-toggle="tab">Description</a></li>
                                <li><a href="#hotel-amenities" data-toggle="tab"  ng-click="hotel_amenities();business_amenities();sport_amenities()">Hotel Amenities</a></li>
                               <!--  <li><a href="#hotel-reviews" data-toggle="tab">Reviews</a></li>
                                <li><a href="#hotel-faqs" data-toggle="tab">FAQs</a></li> -->
                              <li><a href="#hotel-useful-info" data-toggle="tab">Useful Info</a></li>
                                 <!--  <li><a href="#hotel-sport-amenities" data-toggle="tab" ng-click="sport_amenities()">Leisure & Sport Amenities</a></li> -->
                            </ul>
                            <div class="tab-content">
                            	<div class="tab-pane fade" id="hotel-descr">
                                   
                                    <div class="long-description">
                                        <h2>About {{hotel.hotelNm}}</h2>
                                        <p>
                                            {{hotel.hoteldescription}}
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade in active" id="hotel-availability">
                                 
                                    <h2>Available Rooms</h2>
                                 
                                    <div class="hotel-list listing-style3 hotel">
                                    <article class="box" style="border: 2px solid #C8C6C6;" ng-repeat="roomInfo in hotel.hotelbyRoom | limitTo: noOfRoomShow">   <!-- ng-repeat="hotelInfo in hotellistInfo" -->
                                    <div class="col-md-12" style="border-bottom: 2px solid #C8C6C6;">
                                    <figure class="col-sm-5 col-md-4" style="padding-left:0;">
                                     <!-- <img data-ng-src="{{img}}" alt="">  -->
                                        <a title="" ng-click="ShowFull($index)" class="hover-effect " style="background: gainsboro;"><img width="270" height="160" alt="" data-ng-src="{{roomInfo.roomimgPaths}}"></a>  <!-- popup-gallery -->
                                        <!-- <a title="" ng-click="ShowFullImg($index)" class="hover-effect popup-gallery"><img width="270" height="160" alt="" data-ng-src="{{hotelInfo.imgPaths}}"></a> -->
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div style="border-right: none;" class="col-md-12">
                                                <h4 class="box-title"><span class="col-md-11">{{roomInfo.roomName}}</span><small class="col-md-5" style="color: #01b7f2;padding-right: 1px;width: 83px;">MAX GUESTS:</small><small class="col-md-4" style="padding-left: 1px;">{{roomInfo.hotelRoomRateDetail[0].adult_occupancy}} PERSONS</small></h4>
                                            </div>
                                             
                                            <div style="padding-left: 0;padding-bottom: 0;">
                                               <div class="amenities col-md-12" style="width: 141px;">
                                                <div  ng-repeat="ameni in roomInfo.amenities"> 
                                            	  <div class="col-md-3" ng-if="ameni.amenityId == 1">
                                                    <i title="In Room Wireless Internet" class="soap-icon-wifi circle"></i>
                                                    </div>
                                                    <div class="col-md-3" ng-if="ameni.amenityId == 4">
                                                    <i title="Golf Resort" class="soap-icon-fitnessfacility circle"></i>
                                                    </div> 
                                                    <div class="col-md-3" ng-if="ameni.amenityId == 3">
                                                    <i title="Golf Resort" class="soap-icon-fork circle"></i>
                                                    </div>
                                                    <div class="col-md-3" ng-if="ameni.amenityId == 82">
                                                    <i title="Interactive web TV" class="soap-icon-television circle"></i>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <p>{{roomInfo.description}}</p>
                                             <div style="width: 150px;">
                                                 <a class="button btn-small full-width text-center" ng-click="dateWiseInfo(roomInfo.roomId)" style="background: #98ce44;">Book Now</a>
                                                 <span class="ng-scope"><a ng-click="roomWiseInfo(roomInfo)" style="cursor: pointer;">Room Info</a></span>
												 <!-- <span ng-show="roomInfo.pcount == 1" class="ng-scope"><a ng-click="showPromotion(roomInfo)"> Special Promotion<i title="Special Promotion between date" class="soap-icon-plane-left takeoff-effect1 circle" style="background: #01b7f2;color: white;"></i></a></span> -->
                                            </div> 
                                        </div>
                                    </div>
		 							</div>
                                   <div class="row" ng-repeat="adultRate in roomInfo.hotelRoomRateDetail[0].rateDetailsNormal | orderBy: 'adult'" style="margin-bottom: 1px;">
                                    <div class="details col-sm-12 col-md-12" style="padding-bottom: 0;padding-top: 0;">  
                                    <div style="border-bottom: 1px solid #f5f5f5 !important;float: left;width: 98%;margin-top: 5px;">
                                         <div class="col-md-6" style="width:50% !important;border-bottom: none !important;border-right: none;">  <!-- style="width: 106px;" -->
                                         <!-- <i class="soap-icon-check-1" style="color: #7db921;"></i> -->
                                         <h4 class="box-title col-md-6" style="margin-top: 15px;"><span>{{adultRate.adult  | limitTo: 1}} GUESTS</span><span style="margin-left: 8px;"><i ng-repeat="adultRate in roomInfo.hotelRoomRateDetail[0].rateDetailsNormal | limitTo:$index+1" class="soap-icon-user"></i></span></h4>
                                           <div class="amenities col-md-6">   
                                             <div  ng-repeat="ameniti in roominfo.amenities"> 
                                             <div class="col-md-3" ng-if="ameniti.amenityId == 1">
                                                    <i class="soap-icon-wifi circle"></i>
                                                   </div>
                                                    <div class="col-md-3" ng-if="ameniti.amenityId == 4">
                                                    <i class="soap-icon-fitnessfacility circle"></i>
                                                   </div>
                                                    <div class="col-md-3" ng-if="ameniti.amenityId == 3">
                                                    <i class="soap-icon-fork circle"></i>
                                                    </div>
                                                     <div class="col-md-3" ng-if="ameniti.amenityId == 82">
                                                    <i class="soap-icon-television circle"></i>
                                                 </div>
                                                    </div>  
                                                </div>
                                         </div>
                                         <div class="col-md-6" style="width:50% !important;border-bottom: none !important;">
                                        <div class="col-md-5"> <!-- ng-if="roominfo.hotelRoomRateDetail[0].rateDetailsNormal[0].rateAvg != null" -->
                                          <span class="price"><small>Per Room Per Night</small>{{adultRate.rateAvg}} <sup style="font-size: small;color: chocolate;top: -3px;">{{hotel.currencyShort}}</sup></span>
                                         </div>
                                         <div class="col-md-4"  ng-if="adultRate.mealTypeName != null">
                                        <span class="price"><small>Included</small><sup style="font-size: small;color: chocolate;top: 9px;">{{adultRate.mealTypeName}}</sup></span>
                                         </div>
                                         
                                          <div class="col-md-4"  ng-if="adultRate.mealTypeName == null">
                                        <span class="price"><sup style="font-size: small;color: chocolate;top: 9px;">Room only</sup></span>
                                         </div> 
                                       
                                         </div>
                                         </div>
                                     </div>
                                   </div>
                                     <div class="col-md-9 col-md-offset-1">
                                     <div ng-if="roomInfo.nonRefund == true">
                                     <label style="color: #01B7F2;" tooltip="a tooltip comment ">Non Refund</label>  
                                     </div>
                                     <div ng-if="roomInfo.nonRefund == false">
                                   
                                     <label style="color: #01B7F2;" tooltip="a tooltip comment ">Cancellation Policy</label>     
                                     <div ng-repeat="cancal in roomInfo.hotelRoomRateDetail[0].cancellation">
                                      <label ng-if="cancal.penaltyCharge == true">* prior {{cancal.days}} the penalty charges will be {{cancal.nights}} charges</label>
                                      <label ng-if="cancal.penaltyCharge == false">* prior {{cancal.days}} the penalty charges will be {{cancal.percentage}} % of total stay</label>
                                     </div>                                
                                     </div>
                                   <!-- <div class="form-group col-sm-3 col-md-3 col-md-offset-10">
                                     <a class="button btn-small full-width text-center" ng-click="dateWiseInfo(roomInfo.roomId)" style="background: #98ce44;margin-top: 2%;margin-left: 49%;" title="">BOOK NOW</a>
                                     </div> -->
                                   </div>  
                                </article>
                                <a class="button btn-small full-width text-center" ng-if="hotel.hotelbyRoom.length > noOfRoomShow" ng-click="showAllRooms()" style="background: #333;">Show More Available Room</a>
                                   </div> 
                                </div>
                                <div class="tab-pane fade" id="hotel-amenities">                                                      
                                    <h2>Hotel Amenities</h2>
                                    <ul class="amenities clearfix style2">
                                    	<div  ng-repeat="hotelamenities in amenities_check">
                                        <li class="col-md-4 col-sm-6">  <!-- ng-if="hotelamenities.amenitiesCode == 30" -->
                                            <div class="icon-box style2"><i class="{{hotelamenities.amenitiesIcon}} circle"></i>{{hotelamenities.amenitiesName}}</div>
                                        </li>
                                        </div>
                                    </ul>
                                    
                                     <h2>Hotel Business Amenities</h2>
                                    <ul class="amenities clearfix style2">
                                    	<div  ng-repeat="Bamenities in business_check">
                                        <li class="col-md-4 col-sm-6" >   <!--  ng-if="Bamenities.amenitiesCode == 4" -->
                                            <div class="icon-box style2"><i class="{{Bamenities.amenitiesIcon}} circle"></i>{{Bamenities.amenitiesName}}</div>
                                        </li>
                                        </div>
                                    </ul>
                                    
                                    <h2>Hotel Sport Amenities</h2>
                                    <ul class="amenities clearfix style2">
                                    	<div  ng-repeat="lsportamenities in leisure_sport_check">
                                        <li class="col-md-4 col-sm-6">  
                                            <div class="icon-box style2" style="margin-top: 4%;"><i class="{{lsportamenities.amenitiesIcon}} circle"></i>{{lsportamenities.amenitiesName}}</div>
                                        </li>
                                        </div>
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="hotel-reviews">
                                    <div class="intro table-wrapper full-width hidden-table-sms">
                                        <div class="rating table-cell col-sm-4">
                                            <span class="score">3.9/5.0</span>
                                            <div class="five-stars-container"><div class="five-stars" style="width: 78%;"></div></div>
                                            <a href="#" class="goto-writereview-pane button green btn-small full-width">WRITE A REVIEW</a>
                                        </div>
                                        <div class="table-cell col-sm-8">
                                            <div class="detailed-rating">
                                                <ul class="clearfix">
                                                    <li class="col-md-6"><div class="each-rating"><label>service</label><div class="five-stars-container"><div class="five-stars" style="width: 78%;"></div></div></div></li>
                                                    <li class="col-md-6"><div class="each-rating"><label>Value</label><div class="five-stars-container"><div class="five-stars" style="width: 78%;"></div></div></div></li>
                                                    <li class="col-md-6"><div class="each-rating"><label>Sleep Quality</label><div class="five-stars-container"><div class="five-stars" style="width: 78%;"></div></div></div></li>
                                                    <li class="col-md-6"><div class="each-rating"><label>Cleanliness</label><div class="five-stars-container"><div class="five-stars" style="width: 78%;"></div></div></div></li>
                                                    <li class="col-md-6"><div class="each-rating"><label>location</label><div class="five-stars-container"><div class="five-stars" style="width: 78%;"></div></div></div></li>
                                                    <li class="col-md-6"><div class="each-rating"><label>rooms</label><div class="five-stars-container"><div class="five-stars" style="width: 78%;"></div></div></div></li>
                                                    <li class="col-md-6"><div class="each-rating"><label>swimming pool</label><div class="five-stars-container"><div class="five-stars" style="width: 78%;"></div></div></div></li>
                                                    <li class="col-md-6"><div class="each-rating"><label>fitness facility</label><div class="five-stars-container"><div class="five-stars" style="width: 78%;"></div></div></div></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="guest-reviews">
                                        <h2>Guest Reviews</h2>
                                        <div class="guest-review table-wrapper">
                                            <div class="col-xs-3 col-md-2 author table-cell">
                                                <a href="#"><img src="http://placehold.it/270x263" alt="" width="270" height="263"></a>
                                                <p class="name">Jessica Brown</p>
                                                <p class="date">NOV, 12, 2013</p>
                                            </div>
                                            <div class="col-xs-9 col-md-10 table-cell comment-container">
                                                <div class="comment-header clearfix">
                                                    <h4 class="comment-title">We had great experience while our stay and Hilton Hotels!</h4>
                                                    <div class="review-score">
                                                        <div class="five-stars-container"><div class="five-stars" style="width: 80%;"></div></div>
                                                        <span class="score">4.0/5.0</span>
                                                    </div>
                                                </div>
                                                <div class="comment-content">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="guest-review table-wrapper">
                                            <div class="col-xs-3 col-md-2 author table-cell">
                                                <a href="#"><img src="http://placehold.it/270x263" alt="" width="270" height="263"></a>
                                                <p class="name">David Jhon</p>
                                                <p class="date">NOV, 12, 2013</p>
                                            </div>
                                            <div class="col-xs-9 col-md-10 table-cell comment-container">
                                                <div class="comment-header clearfix">
                                                    <h4 class="comment-title">I love the speediness of their services.</h4>
                                                    <div class="review-score">
                                                        <div class="five-stars-container"><div class="five-stars" style="width: 64%;"></div></div>
                                                        <span class="score">3.2/5.0</span>
                                                    </div>
                                                </div>
                                                <div class="comment-content">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="guest-review table-wrapper">
                                            <div class="col-xs-3 col-md-2 author table-cell">
                                                <a href="#"><img src="http://placehold.it/270x263" alt="" width="270" height="263"></a>
                                                <p class="name">Kyle Martin</p>
                                                <p class="date">NOV, 12, 2013</p>
                                            </div>
                                            <div class="col-xs-9 col-md-10 table-cell comment-container">
                                                <div class="comment-header clearfix">
                                                    <h4 class="comment-title">When you look outside from the windows its breath taking.</h4>
                                                    <div class="review-score">
                                                        <div class="five-stars-container"><div class="five-stars" style="width: 76%;"></div></div>
                                                        <span class="score">3.8/5.0</span>
                                                    </div>
                                                </div>
                                                <div class="comment-content">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="button full-width btn-large">LOAD MORE REVIEWS</a>
                                </div>
                                <div class="tab-pane fade" id="hotel-faqs">
                                    <h2>Frquently Asked Questions</h2>
                                    <div class="topics">
                                        <ul class="check-square clearfix">
                                            <li class="col-sm-6 col-md-4"><a href="#">address &amp; map</a></li>
                                            <li class="col-sm-6 col-md-4"><a href="#">messaging</a></li>
                                            <li class="col-sm-6 col-md-4"><a href="#">refunds</a></li>
                                            <li class="col-sm-6 col-md-4"><a href="#">pricing</a></li>
                                            <li class="col-sm-6 col-md-4 active"><a href="#">reservation requests</a></li>
                                            <li class="col-sm-6 col-md-4"><a href="#">your reservation</a></li>
                                        </ul>
                                    </div>
                                    <p>Maecenas vitae turpis condimentum metus tincidunt semper bibendum ut orci. Donec eget accumsan est. Duis laoreet sagittis elit et vehicula. Cras viverra posuere condimentum. Donec urna arcu, venenatis quis augue sit amet, mattis gravida nunc. Integer faucibus, tortor a tristique adipiscing, arcu metus luctus libero, nec vulputate risus elit id nibh.</p>
                                    <div class="toggle-container">
                                        <div class="panel style1 arrow-right">
                                            <h4 class="panel-title">
                                                <a class="collapsed" href="#question1" data-toggle="collapse">How do I know a reservation is accepted or confirmed?</a>
                                            </h4>
                                            <div class="panel-collapse collapse" id="question1">
                                                <div class="panel-content">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel style1 arrow-right">
                                            <h4 class="panel-title">
                                                <a class="collapsed" href="#question2" data-toggle="collapse">What do I do after I receive a reservation request from a guest?</a>
                                            </h4>
                                            <div class="panel-collapse collapse" id="question2">
                                                <div class="panel-content">
                                                    <p>Sed a justo enim. Vivamus volutpat ipsum ultrices augue porta lacinia. Proin in elementum enim. <span class="skin-color">Duis suscipit justo</span> non purus consequat molestie. Etiam pharetra ipsum sagittis sollicitudin ultricies. Praesent luctus, diam ut tempus aliquam, diam ante euismod risus, euismod viverra quam quam eget turpis. Nam <span class="skin-color">tristique congue</span> arcu, id bibendum diam. Ut hendrerit, leo a pellentesque porttitor, purus arcu tristique erat, in faucibus elit leo in turpis vitae luctus enim, a mollis nulla.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel style1 arrow-right">
                                            <h4 class="panel-title">
                                                <a class="" href="#question3" data-toggle="collapse">How much time do I have to respond to a reservation request?</a>
                                            </h4>
                                            <div class="panel-collapse collapse in" id="question3">
                                                <div class="panel-content">
                                                    <p>Sed a justo enim. Vivamus volutpat ipsum ultrices augue porta lacinia. Proin in elementum enim. <span class="skin-color">Duis suscipit justo</span> non purus consequat molestie. Etiam pharetra ipsum sagittis sollicitudin ultricies. Praesent luctus, diam ut tempus aliquam, diam ante euismod risus, euismod viverra quam quam eget turpis. Nam <span class="skin-color">tristique congue</span> arcu, id bibendum diam. Ut hendrerit, leo a pellentesque porttitor, purus arcu tristique erat, in faucibus elit leo in turpis vitae luctus enim, a mollis nulla.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel style1 arrow-right">
                                            <h4 class="panel-title">
                                                <a class="collapsed" href="#question4" data-toggle="collapse">Why can’t I call or email hotel or host before booking?</a>
                                            </h4>
                                            <div class="panel-collapse collapse" id="question4">
                                                <div class="panel-content">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel style1 arrow-right">
                                            <h4 class="panel-title">
                                                <a class="collapsed" href="#question5" data-toggle="collapse">Am I allowed to decline reservation requests?</a>
                                            </h4>
                                            <div class="panel-collapse collapse" id="question5">
                                                <div class="panel-content">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel style1 arrow-right">
                                            <h4 class="panel-title">
                                                <a class="collapsed" href="#question6" data-toggle="collapse">What happens if I let a reservation request expire?</a>
                                            </h4>
                                            <div class="panel-collapse collapse" id="question6">
                                                <div class="panel-content">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel style1 arrow-right">
                                            <h4 class="panel-title">
                                                <a class="collapsed" href="#question7" data-toggle="collapse">How do I set reservation requirements?</a>
                                            </h4>
                                            <div class="panel-collapse collapse" id="question7">
                                                <div class="panel-content">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             	<div class="tab-pane fade" id="hotel-useful-info">
                                      <div>
                                        <div class="col-sm-12 col-lg-12 features table-cell">
                                            <ul>
                                          
                                                <li class="col-sm-12"><label class="col-sm-4" style="color: #01b7f2;">Check-In From:</label>{{hotel.checkInTime}}</li>
                                                <li class="col-sm-12"><label class="col-sm-4" style="color: #01b7f2;">Check-Out Until:</label>{{hotel.checkOutTime}}</li>
                                                <li class="col-sm-12"><label class="col-sm-4" style="color: #01b7f2;">Year Hotel Built:</label>{{hotel.hotelBuiltYear}}</li>
                                                 <li class="col-sm-12"><label class="col-sm-4" style="color: #01b7f2;">Room Voltage:</label>{{hotel.roomVoltage}}</li>
                                             
                                               
                                            </ul>
                                        </div>
                                      
                                    </div> 
                             	</div>
                             <!-- 	<div class="tab-pane fade" id="hotel-sport-amenities">
                                    <h2>Hotel Sport Amenities</h2>
                                    <ul class="amenities clearfix style2">
                                    	<div  ng-repeat="lsportamenities in leisure_sport_check">
                                        <li class="col-md-4 col-sm-6">  
                                            <div class="icon-box style2" style="margin-top: 4%;"><i class="{{lsportamenities.amenitiesIcon}} circle"></i>{{lsportamenities.amenitiesName}}</div>
                                        </li>
                                        </div>
                                    </ul>
                             	</div> -->
                        	</div>
                        </div>	
                    </div>
                    <div class="sidebar col-md-3">
                    <article class="detailed-logo">
                     <figure>
                                <img width="114" height="85" src="{{imgArray[0]}}" alt="">
                            </figure>
                          <div class="details">
                                <h2 class="box-title">{{hotel.hotelNm}}<small><i class="soap-icon-departure yellow-color"></i><span class="fourty-space">{{hotel.hotelAddr}}</span></small></h2>
                                 <span class="price clearfix">
                                    <small class="pull-left">Min/start</small>
                                    <span class="pull-right">{{hotel.minRate}}<sup style="font-size: small;color: chocolate;top: -3px;">{{hotel.currencyShort}}</sup></span>
                                </span> 
                                 <div class="feedback clearfix">
                                 <div star-rating rating-value="hotel.stars" max="hotel.stars" on-rating-selected=""></div>
                                   <!--  <div title="" class="five-stars-container" data-toggle="tooltip" data-placement="bottom" data-original-title="4 stars"><span class="five-stars" style="width: {{hotel.startRatingWidth}}%;"></span></div> -->
                                   <!--  <span class="review pull-right">270 reviews</span> -->
                                </div>
                                <p class="description">{{hotel.imgDescription}}</p>
                            </div>
                        </article>
                        <div class="travelo-box contact-box">
                            <h4>Need Travelo Help?</h4>
                            <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                            <address class="contact-details">
                                <span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123-HELLO</span>
                                <br>
                                <a class="contact-email" href="#">helptravelocom</a>
                            </address>
                        </div>
                        <div class="travelo-box">
                            <h4>Similar Listings</h4>
                        </div>
                        <div class="travelo-box book-with-us-box">
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#modify-search-panel" class="collapsed">Modify Search</a>
                                    </h4>
                                    <div id="modify-search-panel" class="panel-collapse">
                                        <div class="panel-content">
                                          <form action="/searchAgainHotelInfo" method="post">  <!-- action="/searchAgainHotelInfo"   ng-submit="searchAgainHotel()"  -->
                                                <div class="form-group">
                                                    <label>Country</label>
                                                   <div class="selector">
                                                    <select class="full-width" name="countryCode1" data-ng-model="searchby.countryCode" ng-change="onCountryChange()" placeholder="Country"> 
                                                        <option ng-repeat="country in searchCountries" value="{{country.countryCode}}">{{country.countryName}}</option>                                                       
                                                    </select><span class="custom-select full-width">{{searchby.countryName}}</span>
                                                    <input type="text" name="countryCode" data-ng-model="searchby.countryCode" value="searchby.countryCode" style="display: none"/>
                                      
                                                   </div>
                                                </div>
                                                 <div class="form-group">
                                                 	<label>City</label>
                                                    <div class="selector">
                                                    <select class="full-width" name="cityCode1" data-ng-model="searchby.cityCode" ng-change="onCityChange()">
                                                           <option ng-repeat="city in searchCities" value="{{city.cityCode}}">{{city.cityName}}</option>
                                                    </select><span class="custom-select full-width">{{searchby.cityName}}</span>
                                                     <input type="text" name="cityCode" data-ng-model="searchby.cityCode" value="searchby.cityCode" style="display: none"/>
                                                    </div>
                                                 </div>
                                                <div class="form-group">
                                                    <label>Check In</label>
                                                    <div class="datepicker-wrap">
                                                    <input type="text" name="checkIn" data-ng-model="searchby.checkIn" class="input-text full-width" placeholder="dd/mm/yyyy" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                   <label>Check Out</label>
                                                   <div class="datepicker-wrap">
                                                    <input type="text" name="checkOut" data-ng-model="searchby.checkOut" class="input-text full-width" placeholder="dd/mm/yyyy" />
                                                  
                                                   </div>
                                                </div>
                                                 <div class="form-group">
                                                   <label>Nationality</label>
                                                   <div class="selector">
                                                    <select class="full-width"  name="nationalityCode1" data-ng-model="searchby.nationalityCode" placeholder="dd/mm/yyyy">
                                                        <option ng-repeat="nationality in searchNationality" value="{{nationality.nationalityCode}}">{{nationality.nationality}}</option>
                                                    </select><span class="custom-select full-width">{{searchby.nationalityName}}</span>
                                                      <input type="text" name="nationalityCode" data-ng-model="searchby.nationalityCode" value="searchby.nationalityCode" style="display: none"/>
                                                    </div>
                                                 </div>
                                                <br />
                                                <button type="submit" class="btn-medium icon-check uppercase full-width">search again</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
            </div>
          </div>
        </section>
    </div>
    @include_js()
    <style>
    [class^="soap-icon"]:before, [class*=" soap-icon"]:before{
		line-height: inherit;
		}
     #booking .booking-info .info{
               width: 110px !important;
        }
        #loading-id{
         display: none;
        }
        
  </style>
</body>
</html>
  