@(hotel: com.fasterxml.jackson.databind.JsonNode)

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->
<head>
    <!-- Page Title -->
    <title>Travelo | Responsive HTML5 Travel Template</title>
    
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Travelo | Responsive HTML5 Travel Template">
    <meta name="author" content="SoapTheme">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	@include_css()
    
    <!-- CSS for IE -->
    <!--[if lte IE 9]>
        <link rel="stylesheet" type="text/css" href="assets/resources/css/ie.css" />
    <![endif]-->
    
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type='text/javascript' src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
</head>

<body data-ng-app="travel-business" data-ng-controller="hotelBookingController">
    
    <div id="page-wrapper">
        @header()
        <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">Hotel Detailed</h2>
                </div>
                <ul class="breadcrumbs pull-right">
                    <li><a href="/">HOME</a></li>
                    <li class="active">HOTEL DETAILED</li>
                </ul>
            </div>
        </div>
      
       <section id="content" ng-init="init(@hotel)">  
            <div class="container">
                <div class="row">
                 <div id="main" class="col-sms-6 col-sm-8 col-md-9">
                        <div class="booking-section travelo-box">
                            
                            <form class="booking-form" method="post" data-ng-submit="savetravellerinfo()">
                                <div class="person-information">
                                    <h2>Booking Information</h2>
                                    <div class="form-group row">
                                        <div class="col-sm-2 col-md-1">
                                            <label>.</label>
                                             <div class="selector">
                                                <select class="full-width" name="salutation" data-ng-model="traveller.salutation" placeholder="Country" > 
                                                        <option ng-repeat="salut in salutation" value="{{salut.salutationId}}">{{salut.salutationValue}}</option>                                                       
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-3">
                                            <label>*passenger first name</label>
                                            <input type="text" data-ng-model="traveller.firstname" class="input-text full-width" value="" placeholder="" required>
                                        </div>
                                       <div class="col-sm-4 col-md-3">
                                            <label>passenger Middle name</label>
                                            <input type="text" data-ng-model="traveller.middlename" class="input-text full-width" value="" placeholder="">
                                        </div>
                                        <div class="col-sm-4 col-md-3">
                                            <label>*passenger last name</label>
                                            <input type="text" data-ng-model="traveller.lastname" class="input-text full-width" value="" placeholder="" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-md-5">
                                            <label>*Country of passport</label>
                                            <div class="selector">
                                                <select class="full-width" name="countryCode" data-ng-model="traveller.country" ng-change="onCountryChange()" placeholder="Country" > 
                                                        <option ng-repeat="country in searchCountries" value="{{country.countryCode}}">{{country.countryName}}</option>                                                       
                                                </select>
                                            </div>
                                        </div>
                                         <div class="col-sm-6 col-md-5">
                                            <label>*Passport No</label>
                                            <input type="text" data-ng-model="traveller.passportNo" class="input-text full-width" value="" placeholder="" required>
                                        </div>
                                       <!--  <div class="col-sm-6 col-md-5">
                                            <label>*Addresss</label>
                                            <textarea data-ng-model="traveller.address" class="input-text full-width" value="" placeholder="" required></textarea>
                                        </div> -->
                                    </div> 
                                   <!--  <div class="form-group row">
                                        <div class="col-sm-6 col-md-5">
                                            <label>passenger/Guest email address</label>
                                            <input type="email" data-ng-model="traveller.email" class="input-text full-width" value="" placeholder="">
                                        </div>
                                         <div class="col-sm-6 col-md-5">
                                            <label>passenger/Guest Phone number</label>
                                            <input type="text" data-ng-model="traveller.phnaumber" class="input-text full-width" value="" placeholder="">
                                        </div>
                                    
                                    </div>  -->
                                     
                                    <!-- <div class="form-group row">
                                     
                                         <div class="col-sm-6 col-md-5">
                                             <div class="checkbox">
                                            <label>
                                                <input type="checkbox" data-ng-model="showSpecialReq"> Special Requests(Optional)
                                            </label>
                                        </div>
                                        </div>
                                         <div class="col-sm-6 col-md-5">
                                             <div class="checkbox">
                                            <label>
                                                <input type="checkbox" data-ng-model="roomRegist"> Room Registration
                                            </label>
                                        </div>
                                        </div>
                                        
                                    </div>  -->
                                    
                                   
                                </div>
                                <hr>
                               
                              <!--  <div class="person-information" ng-if="showSpecialReq == true">
                                    <h2>Special Requests</h2>
                                     <div class="row">
                                      <div class="form-group col-sm-12 col-md-11">
                                    	<label>Special Requests are subject to each property&lsquo;s availability and cannot be guaranteed.</label>
                                      </div> 
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6 col-md-5">
                                            <div class="checkbox" ng-class="traveller.nonSmokingRoom?'checked':''">
                                            <label>
                                                <input type="checkbox" data-ng-model="traveller.nonSmokingRoom"> Non-Smoking Room
                                            </label>
                                          </div>
                                        </div>
                                        <div class="form-group col-sm-6 col-md-5">
                                        	<div class="checkbox" ng-class="traveller.smokingRoom?'checked':''">
                                            <label>
                                                <input type="checkbox" data-ng-model="traveller.smokingRoom" value="smokingRoom"> Smoking Room
                                            </label>
                                          </div>
                                            <div class="checkbox"  ng-class="traveller.twinBeds?'checked':''">
                                            <label>
                                                <input type="checkbox" data-ng-model="traveller.twinBeds"> Twin Beds
                                            </label>
                                        </div>
                                        </div>
                                    </div>
                                   <div class="row">
                                        <div class="form-group col-sm-6 col-md-5">
                                            <div class="checkbox" ng-class="traveller.lateCheckin?'checked':''">
                                            <label>
                                                <input type="checkbox" data-ng-model="traveller.lateCheckout" value="lateCheckout"> Late Check-Out
                                            </label>
                                          </div>
                                        </div>
                                        <div class="form-group col-sm-6 col-md-5">
                                            <div class="checkbox" ng-class="traveller.largeBed?'checked':''">
                                            <label>
                                                <input type="checkbox" data-ng-model="traveller.largeBed" value="largeBed"> Large Bed
                                            </label>
                                        </div>
                                        </div>
                                    </div>  
                                    
                                     <div class="row">
                                        <div class="form-group col-sm-6 col-md-5">
                                            <div class="checkbox" ng-class="traveller.highFloor?'checked':''">
                                            <label>
                                                <input type="checkbox" data-ng-model="traveller.highFloor" value="highFloor"> High Floor
                                            </label>
                                          </div>
                                        </div>
                                        <div class="form-group col-sm-6 col-md-5">
                                            <div class="checkbox"  ng-class="traveller.twinBeds?'checked':''">
                                            <label>
                                                <input type="checkbox" data-ng-model="traveller.twinBeds"> Twin Beds
                                            </label>
                                        </div>
                                        </div>
                                    </div> 
                                  <hr style="border: 1px dotted;">
                                   <div class="row">
                                        <div class="form-group col-sm-6 col-md-5">
                                            <div class="checkbox" ng-class="traveller.earlyCheckin?'checked':''">
                                            <label>
                                                <input type="checkbox" data-ng-model="traveller.earlyCheckin" value="earlyCheckin"> Early check-in 
                                            </label>
                                          </div>
                                        </div>
                                        
                                        <div class="form-group col-sm-6 col-md-5">
                                    		<div class="checkbox" ng-class="traveller.handicappedRoom?'checked':''">
                                            <label>
                                                <input type="checkbox" data-ng-model="traveller.handicappedRoom" value="handicappedRoom"> Handicapped Room
                                            </label>
                                          </div>
                                        </div>
                                       
                                    </div> 
                                    
                                     <div class="row">
                                        <div class="form-group col-sm-6 col-md-5">
                                            <div class="checkbox" ng-class="traveller.wheelchair?'checked':''">
                                            <label>
                                                <input type="checkbox" data-ng-model="traveller.wheelchair" value="wheelchair"> Wheel-Chair
                                            </label>
                                          </div>
                                        </div>
                                        
                                        <div class="form-group col-sm-6 col-md-5">
                                    		
                                        </div>
                                       
                                    </div> 
                                   
                                    
                                     <div class="row">
                                        <div class="form-group col-sm-12 col-md-11">
                                            <div class="checkbox" ng-class="traveller.airportTransfer?'checked':''">
                                            <label>
                                                <input type="checkbox" data-ng-model="traveller.airportTransfer" value="airportTransfer"> Airport transfer
                                            </label>
                                          </div>
                                        </div>
                                       
                                    </div> 
                                    <div class="row" ng-if="traveller.earlyCheckin == true || traveller.airportTransfer == true">
                                      <div class="form-group col-sm-12 col-md-11">
                                    	<label><b>Note:</b> Early Check-in or Airport Transfer may require an additional payment. Please contact the property to confirm.</label>
                                      </div> 
                                    </div>
                                    
                                    <div class="row" ng-if="traveller.airportTransfer == true">
                                     <div class="form-group col-sm-12 col-md-11">
                                     <textarea name="airportTransferInfo" data-ng-model="traveller.airportTransferInfo" rows="2"
										class="form-control"  placeholder="Enter flight number and arrival time. Transfers are not guaranteed so please confirm your request with the property">					
									</textarea>
                                    </div>
                                    </div>
                                    <hr style="border: 1px dotted;">
                                    
                                    <div class="row">
                                      <div class="form-group col-sm-12 col-md-11">
                                    	<label>Please enter comments in <b>English</b>.</label>
                                      </div> 
                                    </div>
                                    
                                    <div class="row">
                                     <div class="form-group col-sm-12 col-md-11">
                                     <textarea name="enterComments" data-ng-model="traveller.enterComments" rows="4"
										class="form-control">					
									</textarea>
                                    </div>
                                    </div>
                                    <hr>
                                </div> -->
                                
                               <!--  <div class="person-information" ng-if="roomRegist == true">
                                	 
                                	 
                                	  <h2>{{hotel.hotelbyRoom[0].roomName}}</h2>
                                	   <div class="row" ng-repeat="rooms in hotel.hotelBookingDetails.passengerInfo">
                                        <div class="form-group col-sm-3 col-md-2">
                                            <label>Room {{$index+1}}</label>
                                        </div>
                                        <div class="form-group col-sm-6 col-md-5">
                                               <input type="text" data-ng-model="rooms.regiterBy" class="input-text full-width" value="" placeholder="">
                                        </div>
                                         <div class="form-group col-sm-6 col-md-5">
                                         <label class="col-sm-4 col-md-3" style="padding: 0px;width: 60px;">({{rooms.adult}}</label><label style="padding: 0px;" ng-if="rooms.noOfchild == null" class="col-sm-2 col-md-1">)</label>  <label class="col-sm-4 col-md-3" style="padding: 0px;" ng-if="rooms.noOfchild != null">, {{rooms.noOfchild}} child)</label>
                                         </div>
                                        
                                    </div>  
                                </div> -->
                                 <div class="toggle-container filters-container">
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title" style="background-color: #01b7f2;">
                                        <a data-toggle="collapse" href="#room-regi" class="collapsed" style="color: white;">Room Registration</a>
                                    </h4>
                                    
                                    <div id="room-regi" class="panel-collapse collapse">
                                        <h2>{{hotel.hotelbyRoom[0].roomName}}</h2>
                                	   <div class="row" ng-repeat="rooms in hotel.hotelBookingDetails.passengerInfo">
                                        <div class="form-group col-sm-3 col-md-2">
                                            <label>Room {{$index+1}}</label>
                                        </div>
                                        <div class="form-group col-sm-6 col-md-5">
                                               <input type="text" data-ng-model="rooms.regiterBy" class="input-text full-width" value="" placeholder="">
                                        </div>
                                         <div class="form-group col-sm-6 col-md-5">
                                         <label class="col-sm-4 col-md-3" style="padding: 0px;width: 60px;">({{rooms.adult}}</label><label style="padding: 0px;" ng-if="rooms.noOfchild == null" class="col-sm-2 col-md-1">)</label>  <label class="col-sm-4 col-md-3" style="padding: 0px;" ng-if="rooms.noOfchild != null">, {{rooms.noOfchild}} child)</label>
                                         </div>
                                        
                                    </div>  
                                    </div>
                                </div>
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title" style="background-color: #01b7f2;">
                                        <a data-toggle="collapse" href="#special_req" class="collapsed" style="color: white;">Special Requests(Optional)</a>
                                    </h4>
                                    
                                    <div id="special_req" class="panel-collapse collapse">
                                     <div class="row">
                                      <div class="form-group col-sm-12 col-md-11">
                                    	<label>Special Requests are subject to each property&lsquo;s availability and cannot be guaranteed.</label>
                                      </div> 
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6 col-md-5">
                                            <div class="checkbox" ng-class="traveller.nonSmokingRoom?'checked':''">
                                            <label>
                                                <input type="checkbox" data-ng-model="traveller.nonSmokingRoom"> Non-Smoking Room
                                            </label>
                                          </div>
                                        </div>
                                        <div class="form-group col-sm-6 col-md-5">
                                        	<div class="checkbox" ng-class="traveller.smokingRoom?'checked':''">
                                            <label>
                                                <input type="checkbox" data-ng-model="traveller.smokingRoom" value="smokingRoom"> Smoking Room
                                            </label>
                                          </div>
                                            <!-- <div class="checkbox"  ng-class="traveller.twinBeds?'checked':''">
                                            <label>
                                                <input type="checkbox" data-ng-model="traveller.twinBeds"> Twin Beds
                                            </label>
                                        </div> -->
                                        </div>
                                    </div>
                                   <div class="row">
                                        <div class="form-group col-sm-6 col-md-5">
                                            <div class="checkbox" ng-class="traveller.lateCheckin?'checked':''">
                                            <label>
                                                <input type="checkbox" data-ng-model="traveller.lateCheckout" value="lateCheckout"> Late Check-Out
                                            </label>
                                          </div>
                                        </div>
                                        <div class="form-group col-sm-6 col-md-5">
                                            <div class="checkbox" ng-class="traveller.largeBed?'checked':''">
                                            <label>
                                                <input type="checkbox" data-ng-model="traveller.largeBed" value="largeBed"> Large Bed
                                            </label>
                                        </div>
                                        </div>
                                    </div>  
                                    
                                     <div class="row">
                                        <div class="form-group col-sm-6 col-md-5">
                                            <div class="checkbox" ng-class="traveller.highFloor?'checked':''">
                                            <label>
                                                <input type="checkbox" data-ng-model="traveller.highFloor" value="highFloor"> High Floor
                                            </label>
                                          </div>
                                        </div>
                                        <div class="form-group col-sm-6 col-md-5">
                                            <div class="checkbox"  ng-class="traveller.twinBeds?'checked':''">
                                            <label>
                                                <input type="checkbox" data-ng-model="traveller.twinBeds"> Twin Beds
                                            </label>
                                        </div>
                                        </div>
                                    </div> 
                                  <hr style="border: 1px dotted;">
                                   <div class="row">
                                        <div class="form-group col-sm-6 col-md-5">
                                            <div class="checkbox" ng-class="traveller.earlyCheckin?'checked':''">
                                            <label>
                                                <input type="checkbox" data-ng-model="traveller.earlyCheckin" value="earlyCheckin"> Early check-in 
                                            </label>
                                          </div>
                                        </div>
                                        
                                        <div class="form-group col-sm-6 col-md-5">
                                    		<div class="checkbox" ng-class="traveller.handicappedRoom?'checked':''">
                                            <label>
                                                <input type="checkbox" data-ng-model="traveller.handicappedRoom" value="handicappedRoom"> Handicapped Room
                                            </label>
                                          </div>
                                        </div>
                                       
                                    </div> 
                                    
                                     <div class="row">
                                        <div class="form-group col-sm-6 col-md-5">
                                            <div class="checkbox" ng-class="traveller.wheelchair?'checked':''">
                                            <label>
                                                <input type="checkbox" data-ng-model="traveller.wheelchair" value="wheelchair"> Wheel-Chair
                                            </label>
                                          </div>
                                        </div>
                                        
                                        <div class="form-group col-sm-6 col-md-5">
                                    		
                                        </div>
                                       
                                    </div> 
                                   
                                    
                                    <!--  <div class="row">
                                        <div class="form-group col-sm-12 col-md-11">
                                            <div class="checkbox" ng-class="traveller.airportTransfer?'checked':''">
                                            <label>
                                                <input type="checkbox" data-ng-model="traveller.airportTransfer" value="airportTransfer"> Airport transfer
                                            </label>
                                          </div>
                                        </div>
                                       
                                    </div>  -->
                                    <div class="row" ng-if="traveller.earlyCheckin == true || traveller.airportTransfer == true">
                                      <div class="form-group col-sm-12 col-md-11">
                                    	<label><b>Note:</b> Early Check-in or Airport Transfer may require an additional payment. Please contact the property to confirm.</label>
                                      </div> 
                                    </div>
                                    
                                   <!--  <div class="row" ng-if="traveller.airportTransfer == true">
                                     <div class="form-group col-sm-12 col-md-11">
                                     <textarea name="airportTransferInfo" data-ng-model="traveller.airportTransferInfo" rows="2"
										class="form-control"  placeholder="Enter flight number and arrival time. Transfers are not guaranteed so please confirm your request with the property">					
									</textarea>
                                    </div>
                                    </div> -->
                                    <hr style="border: 1px dotted;">
                                    
                                    <div class="row">
                                      <div class="form-group col-sm-12 col-md-11">
                                    	<label>Please enter comments in <b>English</b>.</label>
                                      </div> 
                                    </div>
                                    
                                    <div class="row">
                                     <div class="form-group col-sm-12 col-md-11">
                                     <textarea name="enterComments" data-ng-model="traveller.enterComments" rows="4"
										class="form-control">					
									</textarea>
                                    </div>
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <hr>
                                  <div class="form-group row">
                                     <div class="col-sm-10 col-md-9" ng-if="hotel.hotelbyRoom[0].nonRefund == true">
                                     <label style="color: chocolate;" tooltip="a tooltip comment ">Non Refund</label>  
                                     </div>
                                     <div  ng-if="hotel.hotelbyRoom[0].nonRefund == false"> 
                                   
                                     <label class="col-sm-10 col-md-9" style="color: chocolate;" tooltip="a tooltip comment ">Cancellation Policy</label>     
                                     <div class="col-sm-10 col-md-9" ng-repeat="cancal in hotel.hotelbyRoom[0].hotelRoomRateDetail[0].cancellation">
                                      <label ng-if="cancal.penaltyCharge == true" style="color: chocolate;">* prior {{cancal.days}} the penalty charges will be {{cancal.nights}} charges</label>
                                      <label ng-if="cancal.penaltyCharge == false" style="color: chocolate;">* prior {{cancal.days}} the penalty charges will be {{cancal.percentage}} % of total stay</label>
                                     </div>                                
                                     </div>
                                    
                                   </div>  
                                 <hr>
                                <div class="form-group row">
                                     
                                         <div class="col-sm-10 col-md-9">
                                             <div class="checkbox">
                                            <label>
                                                <input type="checkbox" data-ng-model="termsAndConditions"> I accept to all the terms and conditions and cancellation policy
                                            </label>
                                        </div>
                                        </div>
                                    </div>    
                              
                               <div class="form-group row" ng-if="termsAndConditions == false">
                                    <div class="col-sm-6 col-md-5">
                                        <button type="button" class="full-width btn-large" disabled="disabled" style="background-color: gainsboro;">CONFIRM BOOKING</button>
                                    </div>
                                </div>
                               
                               
                                <div class="form-group row" ng-if="termsAndConditions == true">
                                    <div class="col-sm-6 col-md-5">
                                        <button type="submit" class="full-width btn-large">CONFIRM BOOKING</button>
                                    </div>
                                </div>
                                <div class="form-group row" ng-show="flagA == 1">
									<label style="color:red;">abcdefghijklm </label>
                                </div>
                            </form>
                        </div>
                    </div>
                   <div class="sidebar col-sms-6 col-sm-4 col-md-3">
                        <div class="booking-details travelo-box">
                            <h4>Booking Details</h4>
                            <article class="image-box hotel listing-style1">
                                <figure class="clearfix">
                                    <a href="" class="hover-effect middle-block" style="position: relative;"><img class="middle-item" width="270" height="160" alt=""  data-ng-src="{{hotel.imgPaths}}" style="position: absolute; top: 50%; margin-top: -37.5px; left: 50%; margin-left: -63.5px;"></a>
                                    <div class="travel-title">
                                        <h5 class="box-title">{{hotel.hotelNm}}<small>{{hotel.hotelAddr}}</small></h5>
                                       <!--  <a href="hotel-detailed.html" class="button">EDIT</a> -->
                                    </div>
                                </figure>
                                <div class="details">
                                    <div class="feedback">
                                        <div star-rating rating-value="hotel.stars" max="hotel.stars" on-rating-selected=""></div>
                                        <!-- <span class="review">270 reviews</span> -->
                                    </div>
                                    <div class="constant-column-3 timing clearfix">
                                        <div class="check-in">
                                            <label>Check in</label>
                                            <span>{{checkIn}}</span>
                                        </div>
                                        <div class="duration text-center">
                                            <i class="soap-icon-clock"></i>
                                            <span>{{hotel.datediff}} Nights</span>
                                        </div>
                                        <div class="check-out">
                                            <label>Check out</label>
                                            <span>{{checkOut}}</span>
                                        </div>
                                    </div>
                                   <!--  <div class="guest">
                                        <small class="uppercase">1 Standard family room for <span class="skin-color">3 Persons</span></small>
                                    </div> -->
                                </div>
                            </article>
                            
                            <h4>Other Details</h4>
                            <dl class="other-details">
                                <dt class="feature">room Type:</dt><dd class="value">{{hotel.hotelbyRoom[0].roomName}}</dd>
                                <dt class="feature">No Of Room:</dt><dd class="value">{{hotel.hotelBookingDetails.noOfroom}}</dd>
                                 <dt class="feature">Per Room price:</dt><dd class="value">{{hotel.hotelBookingDetails.totalParPerson}}<sup style="color: chocolate;top: -2px;" class="ng-binding">{{hotel.currencyShort}}</sup></dd>
                                 <dt class="feature">Total Room price:</dt><dd class="value">{{hotel.hotelBookingDetails.noOfroom}} * {{hotel.hotelBookingDetails.totalParPerson}}<sup style="color: chocolate;top: -2px;" class="ng-binding">{{hotel.currencyShort}}</sup></dd>
                               <!--  <dt class="feature"></dt><dd class="value">{{hotel.hotelBookingDetails.total}}<sup style="color: chocolate;top: -2px;" class="ng-binding">{{hotel.currencyShort}}</sup></dd> -->
                                <!-- <dt class="feature">taxes and fees:</dt><dd class="value">$10</dd> -->
                                <dt class="total-price">Total Price</dt><dd class="total-price-value">{{hotel.hotelBookingDetails.total}}<sup style="color: chocolate;top: -2px;" class="ng-binding">{{hotel.currencyShort}}</sup></dd>
                            </dl>
                        </div>
                        
                        <div class="travelo-box contact-box">
                            <h4>Need Travelo Help?</h4>
                            <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                            <address class="contact-details">
                                <span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123-HELLO</span>
                                <br>
                                <a class="contact-email" href="#">helravelocom</a>
                            </address>
                        </div>
                    </div>
            </div>
          </div>
        </section>
                        
        
        
    </div>
    @include_js()
    
    <!-- Google Map Api -->
    <!-- <script type='text/javascript' src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script type="text/javascript" src="js/gmap3.min.js"></script> -->


   <!--  <script type="text/javascript" src="assets/resources/javascripts/travelbusiness/searchHotel/app.js"></script>
	<script type="text/javascript" src="assets/resources/javascripts/travelbusiness/searchHotel/controller.js"></script>
	 -->
   <!--  <script type="text/javascript">
        tjq(document).ready(function() {
            tjq("#price-range").slider({
                range: true,
                min: 0,
                max: 1000,
                values: [ 100, 800 ],
                slide: function( event, ui ) {
                    tjq(".min-price-label").html( "$" + ui.values[ 0 ]);
                    tjq(".max-price-label").html( "$" + ui.values[ 1 ]);
                }
            });
            tjq(".min-price-label").html( "$" + tjq("#price-range").slider( "values", 0 ));
            tjq(".max-price-label").html( "$" + tjq("#price-range").slider( "values", 1 ));
            
            tjq("#rating").slider({
                range: "min",
                value: 40,
                min: 0,
                max: 50,
                slide: function( event, ui ) {
                    
                }
            });
        });
    </script> -->
    <style>
    [class^="soap-icon"]:before, [class*=" soap-icon"]:before{
		line-height: inherit;
		}
     #booking .booking-info .info{
               width: 110px !important;
        }
        
        .toggle-container .panel.style1 .panel-title > a {
  				line-height: 5px;
  		}
  </style>
</body>
</html>
  