<!-- Theme Styles -->
    <link rel="stylesheet" href="assets/resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/resources/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/resources/css/animate.min.css">

<!-- Current Page Styles -->
    <link rel="stylesheet" type="text/css" href="assets/resources/components/revolution_slider/css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="assets/resources/components/revolution_slider/css/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="assets/resources/components/jquery.bxslider/jquery.bxslider.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="assets/resources/components/flexslider/flexslider.css" media="screen" />
    
    <!-- Main Style -->
    <link id="main-style" rel="stylesheet" href="assets/resources/css/style.css">
    
    <!-- Custom Styles -->
    <link rel="stylesheet" href="assets/resources/css/custom.css">

    <!-- Updated Styles -->
    <link rel="stylesheet" href="assets/resources/css/updates.css">
    
    <!-- Responsive Styles -->
    <link rel="stylesheet" href="assets/resources/css/responsive.css">
    
    <link rel="stylesheet" href="assets/resources/css/appBus.css">
    <link rel="stylesheet" href="assets/resources/css/pnotify_css/pnotify.buttons.css"> 
<link rel="stylesheet" href="assets/resources/css/pnotify_css/pnotify.core.css">
<link rel="stylesheet" href="assets/resources/css/prettify.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/resources/css/star-rating.css">
    
      <!-- <link type="text/css" href="assets/resources/components/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" type="text/css" media="all" /> --> 
    <!-- ngDialog -->
    <link type="text/css" href="assets/resources/components/ng-dialog/css/ngDialog.min.css" rel="stylesheet" type="text/css" media="all" />
<link type="text/css" href="assets/resources/components/ng-dialog/css/ngDialog-theme-default.min.css" rel="stylesheet" type="text/css" media="all" />
     <span id="loading-id"><img src='@routes.Assets.at("resources/images/loading.gif")'/></span>  
        
       <style>
        #loading-id {
position: absolute;
z-index: 100;
top: 50%;
left: 50%;
}   
       </style>
     
