<!-- Theme Styles -->
    <link rel="stylesheet" href="assets/resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/resources/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/resources/css/animate.min.css">

<!-- Current Page Styles -->
    <link rel="stylesheet" type="text/css" href="assets/resources/components/revolution_slider/css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="assets/resources/components/revolution_slider/css/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="assets/resources/components/jquery.bxslider/jquery.bxslider.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="assets/resources/components/flexslider/flexslider.css" media="screen" />
    
    <!-- Main Style -->
    <link id="main-style" rel="stylesheet" href="assets/resources/css/style.css">
    
    <!-- Custom Styles -->
    <link rel="stylesheet" href="assets/resources/css/custom.css">

    <!-- Updated Styles -->
    <link rel="stylesheet" href="assets/resources/css/updates.css">
    
    <!-- Responsive Styles -->
    <link rel="stylesheet" href="assets/resources/css/responsive.css">
        