<div class="panel panel-green">
	<div class="panel-heading clearfix">
		<span class="mts pull-left">HOTEL DESCRIPTION</span>
	</div>
	<div class="panel-body">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-12">
					<div class="tabbable tabs-left">
						
						<div id="myTabContent2" class="tab-content"
							style="padding-top: 5px;">
							
	<div class="row">
		<div class="col-md-12">
					
		
		<form method="post" ng-submit="savegeneralPic()" role="form" class="form-horizontal">
		<fieldset class="billBorder">
		 
  			<legend style="width: 16%;border-bottom: none;">Description</legend>
				<div class="row">
					<div class="col-md-12">
					<div class="col-md-12">
						<label style="margin-bottom: 3%;"><b>About The Hotel</b></label>		    	
		               </div>
		              
		                <div class="form-group">
		                <div class="col-md-4">
		                     <img data-ng-src="{{imgAmenitiesServices}}" alt=""> 
		                </div>
		                
		               <div style="margin-top: 9%;margin-left: 29%;">
					   <label class="col-md-10 control-label" style="text-align: left;margin-left: 9%;">{{description}}</label>
						
			            
			             </div>
			           </div>	
			            <div class="form-group">
		                	                
		               <div style="margin-top: 8%;">
					   <label class="col-md-6 control-label" style="text-align: left;margin-left: 9%;">{{description}}</label>
					    
			             </div>
			             <div class="col-md-4">
		                     <img data-ng-src="{{imgAmenitiesServices}}" alt=""> 
		                </div>
			           </div>
			           <div>
			           	<hr class="mtxxl mbxxl" style="border-color: black; float: left; width: 99%;">
		    			<label style="margin-bottom: 3%;"><b>Hotel Amenities</b></label>
		    			 
		    			 <div>
					   <label  ng-repeat="amenitiesInfo in amenities_check" class="col-md-6 control-label" style="text-align: left;margin-left: 33%;">* {{amenitiesInfo.amenitiesNm}}</label>
					    
			             </div>
			             </div>
			             
			             <div>
			             	<hr class="mtxxl mbxxl" style="border-color: black; float: left; width: 99%;">
		    			<label style="margin-bottom: 3%;float: left;width: 100%;"><b>Leisure & Sport Amenities</b></label>
		    			 
		    			 <div>
					   <label  ng-repeat="Leisure in leisure_sport_check" class="col-md-6 control-label" style="text-align: left;margin-left: 33%;">* {{Leisure.amenitiesNm}}</label>
					    
			             </div>
			             </div>
			             
			             <div>
			             <hr class="mtxxl mbxxl" style="border-color: black; float: left; width: 99%;">
		    			<label style="margin-bottom: 3%;float: left;width: 100%;"><b>Business Features & Amenities:</b></label>
		    			 
		    			 <div>
					   <label  ng-repeat="business in business_check" class="col-md-6 control-label" style="text-align: left;margin-left: 33%;">* {{business.amenitiesNm}}</label>
					    
			             </div>
			             </div>
			             
			             <div>
			              <hr class="mtxxl mbxxl" style="border-color: black; float: left; width: 99%;">
		    			<label style="margin-bottom: 3%;float: left;width: 100%;"><b>Area Attractions:</b></label>
		    			 
		    			 <div>
					   <label  ng-repeat="area in areaAtt" class="col-md-6 control-label" style="text-align: left;margin-left: 20%;">* {{area.name}} {{area.distance}} {{km}} or {{area.minutes}} minutes away from the hotel</label>
					    
			             </div>
			             </div>
			             
			             
			             
			             
		    	    </div>
			    </div>
			    
			</fieldset>	
			</form>
			
			
			
		</div>
				
		
	</div>

			<style>

 .billinside{
    padding: .35em .625em .75em;
     margin: 0 2px;
   border: 1px solid silver;
}
 
 
 .billBorder {
    padding: .35em .625em .75em;
margin: 0 2px;
border: 1px solid;
}

</style>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
