<div class="panel panel-green">
	<div class="panel-heading clearfix">
		<span class="mts pull-left">HOTEL DESCRIPTION</span>
	</div>
	<div class="panel-body">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-12">
					<div class="tabbable tabs-left">
						
						<div id="myTabContent2" class="tab-content">
							
	<div class="row">
		<div class="col-md-12">
					
		
		<form method="post" ng-submit="savegeneralPic()" role="form" class="form-horizontal">
		<fieldset class="billBorder">
		 
  			<legend class="descr-fieldset">Description</legend>
				<div class="row">
					<div class="col-md-12">
					<div class="col-md-12">
						<label><b>About The Hotel</b></label>		    	
		               </div>
		              
		                <div class="form-group">
		                <div class="col-md-4">
		                     <img data-ng-src="{{img}}" alt=""> 
		                </div>
		                
		               <div class="col-md-8">
					   <label class="col-md-10">{{gDescription}}</label>
			             </div>
			           </div>
			           <hr>	
			            <div class="form-group">
		                	                
		               <div>
					   <label class="col-md-7">{{lDescription}}</label>
					    
			             </div>
			             <div class="col-md-4">
		                     <img data-ng-src="{{imgLobby}}" alt=""> 
		                </div>
			           </div>
			           <hr class="mtxxl mbxxl" style="border-color: black;">
			           <div class="form-group">
			           	
		    			<div class="col-md-12">
		    			<label><b>Hotel Amenities</b></label>
		    			 </div>
		    			 <div>
					   <label  ng-repeat="amenitiesInfo in amenities_check" class="col-md-8 col-md-offset-3">* {{amenitiesInfo.amenitiesNm}}</label>
					    
			             </div>
			             </div>
			             
			             	<hr class="mtxxl mbxxl" style="border-color: black;">
			             <div>
			             
			             <div class="form-group">
			             <div class="col-md-12">
		    			<label><b>Leisure & Sport Amenities</b></label>
		    			 </div>
		    			 <div>
					   <label  ng-repeat="Leisure in leisure_sport_check" class="col-md-8 col-md-offset-3">* {{Leisure.amenitiesNm}}</label>
					    
			             </div>
			             </div>
			             
			             <hr class="mtxxl mbxxl" style="border-color: black;">
			             
			             <div class="form-group">
			             <div class="col-md-12">
		    			<label><b>Business Features & Amenities:</b></label>
		    			 </div>
		    			 <div>
					   <label  ng-repeat="business in business_check" class="col-md-8 col-md-offset-3">* {{business.amenitiesNm}}</label>
					    
			             </div>
			             </div>
			             
			             <hr class="mtxxl mbxxl" style="border-color: black;">
			             
			             <div class="form-group">
			              <div class="col-md-12">
		    			<label><b>Area Attractions:</b></label>
		    			 </div>
		    			 <div>
					   <label  ng-repeat="area in areaAtt" class="col-md-8 col-md-offset-3">* {{area.name}} {{area.distance}} {{km}} or {{area.minutes}} minutes away from the hotel</label>
					    
			             </div>
			             </div>
			             
			             
			             
			             
		    	    </div>
			    </div>
			    
			</fieldset>	
			</form>
			
			
			
		</div>
				
		
	</div>

			
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
