@(message: String)(hotelGeneralInfo: com.travelportal.vm.HotelGeneralInfoVM)
@layout(message) {

<script>
	
</script>


        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
                <div class="row">
					<div class="col-lg-12">
                        <div class="panel panel-green">
                            <div class="panel-heading clearfix"><span class="mts pull-left">HOTEL SUPPLIER PROFILE</span>                                
                            </div>
                            <div class="panel-body">
								<div class="col-lg-12">
                        <div class="row">
                            
                            <div class="col-lg-12">
                                <div class="tabbable tabs-left">
                                    <ul id="myTab2" class="nav nav-tabs">
                                        <li class="active"><a href="#profile0" data-toggle="tab">HOTEL GENERAL INFORMATION</a></li>
                                        <li><a href="#profile1" data-toggle="tab">HOTEL DESCRIPTION</a></li>
                                        <li><a href="#profile2" data-toggle="tab">HOTEL LOCATION</a></li>
                                        <li><a href="#profile3" data-toggle="tab">HOTEL INTERNAL INFORMATION</a></li>
                                        <li><a href="#profile4" data-toggle="tab">HOTEL CONTACT INFORMATION</a></li>
                                        <li><a href="#profile5" data-toggle="tab">HOTEL COMMUNICATION</a></li>
                                        <li><a href="#profile6" data-toggle="tab">BILLING INFORMATION</a></li>
                                        <li><a href="#profile7" data-toggle="tab">TAXES, FEES, SUPPLEMENTS</a></li>
                                        <li><a href="#profile8" data-toggle="tab">MEAL PLAN AND PRICES</a></li>
                                        <li><a href="#profile9" data-toggle="tab">HOTEL AMENITIES</a></li>
                                        <li><a href="#profile10" data-toggle="tab">BUSINESS FEATURES</a></li>
                                        <li><a href="#profile11" data-toggle="tab">HOTEL LEISURE & SPORT</a></li>
                                        <li><a href="#profile12" data-toggle="tab">AREA ATTRACTIONS</a></li>
                                        <li><a href="#profile13" data-toggle="tab">TRANSPORTATION & DIRECTIONS</a></li>
                                        <li><a href="#profile14" data-toggle="tab">HEALTH &amp; SAFETY</a></li>
                                    </ul>
                                    <div id="myTabContent2" class="tab-content" style="padding-top: 5px;">
                                        <div id="profile0" 	class="tab-pane fade in active">
                                        	@com.travelportal.views.html.general_info(hotelGeneralInfo)
                                        </div>
                                        <div id="profile1" 	class="tab-pane fade">
                                        	@com.travelportal.views.html.hotel_description()
                                        </div>
                                        <div id="profile2" 	class="tab-pane fade">
                                        	@com.travelportal.views.html.hotel_location()
                                        </div>
                                        <div id="profile3" 	class="tab-pane fade">
                                        	@com.travelportal.views.html.internal_information()
                                        </div>
                                        <div id="profile4" 	class="tab-pane fade">
                                        	@com.travelportal.views.html.contact_info()
                                        </div>
                                        <div id="profile5" 	class="tab-pane fade">
                                       		@com.travelportal.views.html.hotel_communication()
                                       	</div>
                                        <div id="profile6" 	class="tab-pane fade">
                                        	@com.travelportal.views.html.billing_information()
                                        </div>
                                        <div id="profile7" 	class="tab-pane fade">
                                        	@com.travelportal.views.html.addi_information()
                                        </div>
                                        <div id="profile8" 	class="tab-pane fade">
                                        	@com.travelportal.views.html.meal_plan()
                                        </div>
                                        <div id="profile9" 	class="tab-pane fade">
                                        	@com.travelportal.views.html.hotel_amenities()
                                        </div>
                                        <div id="profile10" class="tab-pane fade"></div>
                                        <div id="profile11" class="tab-pane fade"></div>
                                        <div id="profile12" class="tab-pane fade"></div>
                                        <div id="profile13" class="tab-pane fade"></div>
                                        <div id="profile14" class="tab-pane fade"></div>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            <!--END CONTENT--><!--BEGIN CONTENT QUICK SIDEBAR-->
            <div class="quick-sidebar">
                <div class="header-quick-sidebar">
                    <ul class="nav nav-tabs nav-justified ul-edit">
                        <li class="active dropdown"><a id="tab-quick-sidebar" href="#" data-toggle="dropdown" class="dropdown-toggle">Change logs
                            &nbsp;<i class="fa fa-angle-down"></i></a>
                            <ul role="menu" aria-labelledby="tab-quick-sidebar" class="dropdown-menu">
                                <li><a href="#tab-version-1-1" tabindex="-1" data-toggle="tab">Version 1.1</a></li>
                                <li><a href="#tab-version-1-2" tabindex="-1" data-toggle="tab">Version 1.2</a></li>
                                <li><a href="#tab-version-2-0" tabindex="-1" data-toggle="tab">Version 2.0</a></li>
                                <li><a href="#tab-version-2-1" tabindex="-1" data-toggle="tab">Version 2.1</a></li>
                                <li class="active"><a href="#tab-version-3-0" tabindex="-1" data-toggle="tab">Version 3.0</a></li>
                            </ul>
                        </li>
                        <li><a href="#tab-hot-features" data-toggle="tab">Hot features</a></li>
                    </ul>
                    <div class="content-quick-sidebar tab-content">
                        <div id="tab-version-1-1" class="tab-pane fade"><h4>Version 1.1 - 04 July 2014</h4>
                            <ul class="list-update list-unstyled">
                                <li><span class='label label-success'>N</span>

                                    <div>Add new: Bordered style</div>
                                </li>
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: Data Grids menu using jPList plugin
                                        <ul class="sub-list-update">
                                            <li>Layout Examples
                                                <ul class="sub-list-update">
                                                    <li>DIVs Layout</li>
                                                    <li>Table Demo1</li>
                                                    <li>Table Demo2</li>
                                                    <li>2 Tables on the Page</li>
                                                    <li>UL/LI</li>
                                                </ul>
                                            </li>
                                            <li>Actions Examples
                                                <ul class="sub-list-update">
                                                    <li>Filters With UL/LI</li>
                                                    <li>Filters With SELECT</li>
                                                    <li>Double Sort</li>
                                                    <li>Deep Linking</li>
                                                    <li>Pagination Only</li>
                                                    <li>Without "Items per Page"</li>
                                                    <li>Hidden Sort</li>
                                                </ul>
                                            </li>
                                            <li>jPList with jQuery UI
                                                <ul class="sub-list-update">
                                                    <li>Ranger Slider</li>
                                                    <li>Date Picker Filter</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: 2 options in timeline page
                                        <ul class="sub-list-update">
                                            <li>One column</li>
                                            <li>Full Responsive</li>
                                        </ul>
                                    </div>
                                </li>
                                <li><span class='label label-info'>U</span>

                                    <div>Upgrade: chat form in sidebar and dashboard page</div>
                                </li>
                                <li><span class='label label-info'>U</span>

                                    <div>Upgrade: checkall in datatable</div>
                                </li>
                                <li><span class='label label-danger'>B</span>

                                    <div>Fix: Minor bug</div>
                                </li>
                            </ul>
                        </div>
                        <div id="tab-version-1-2" class="tab-pane fade"><h4>Version 1.2 - 08 July 2014</h4>
                            <ul class="list-update list-unstyled">
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: 2 new style navigation
                                        <ul class="sub-list-update">
                                            <li>Menu with big icon & flat design</li>
                                            <li>Menu with color transition</li>
                                        </ul>
                                    </div>
                                </li>
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: jQuery introjs. Introduce tips about this template</div>
                                </li>
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: Set up responsive tabs for pages
                                        <ul class="sub-list-update">
                                            <li>Redesign for tab direction</li>
                                            <li>Mobile & Tablet version for tabs accordion</li>
                                        </ul>
                                    </div>
                                </li>
                                <li><span class='label label-info'>U</span>

                                    <div>Upgrade: Improve jquery cookie
                                        <ul class="sub-list-update">
                                            <li>User can make best theme by mix the style and color</li>
                                            <li>Remember user's favourite theme and apply it to all pages</li>
                                        </ul>
                                    </div>
                                </li>
                                <li><span class='label label-info'>U</span>

                                    <div>Upgrade: Apply styles(Squared, Rounded, Bordered) for all pages in Datagrid menu</div>
                                </li>
                                <li><span class='label label-info'>U</span>

                                    <div>Upgrade: Reconstruct menu on layout-horizontal-menu page</div>
                                </li>
                                <li><span class='label label-danger'>B</span>

                                    <div>Fix: bug on layout-header-topbar page</div>
                                </li>
                                <li><span class='label label-danger'>B</span>

                                    <div>Fix: Set up Animation page run on Firefox browser</div>
                                </li>
                            </ul>
                        </div>
                        <div id="tab-version-2-0" class="tab-pane fade"><h4>Version 2.0 - 18 July 2014</h4>
                            <ul class="list-update list-unstyled">
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: Update Bootstrap 3.2</div>
                                </li>
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: DataTalbes
                                        <ul class="sub-list-update">
                                            <li>Using own table template</li>
                                            <li>Filter feature</li>
                                            <li>Sorter</li>
                                            <li>Search</li>
                                            <li>Paging</li>
                                            <li>Edit and Export features are coming soon.</li>
                                        </ul>
                                    </div>
                                </li>
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: Fixed menu featured</div>
                                </li>
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: Introduction part for some pages</div>
                                </li>
                                <li><span class='label label-info'>U</span>

                                    <div>Upgrade: New effect on search form</div>
                                </li>
                                <li><span class='label label-info'>U</span>

                                    <div>Upgrade: Badge on collapsed menu</div>
                                </li>
                                <li><span class='label label-danger'>B</span>

                                    <div>Fix: Topbar welcome section on Firefox</div>
                                </li>
                                <li><span class='label label-danger'>B</span>

                                    <div>Fix: Footer animation page on Firefox</div>
                                </li>
                            </ul>
                        </div>
                        <div id="tab-version-2-1" class="tab-pane fade"><h4>Version 2.1 - 23 July 2014</h4>
                            <ul class="list-update list-unstyled">
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: Jeditable</div>
                                </li>
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: Table Export
                                        <ul class="sub-list-update">
                                            <li>Type of file support: JSON, XML, SQL, CSV, TXT, Word, Excel, Powerpoint and PDF</li>
                                        </ul>
                                    </div>
                                </li>
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: User List Page in Extras menu</div>
                                </li>
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: Dropdown Select in UI-Element</div>
                                </li>
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: Advanced News Ticker</div>
                                </li>
                                <li><span class='label label-info'>U</span>

                                    <div>Upgrade: Sco.message in UI-Element menu</div>
                                </li>
                                <li><span class='label label-info'>U</span>

                                    <div>Upgrade: Export Tool in Datatables</div>
                                </li>
                                <li><span class='label label-info'>U</span>

                                    <div>Upgrade: search form style and theme setting style</div>
                                </li>
                                <li><span class='label label-danger'>B</span>

                                    <div>Fix: iCheck in Datatables page</div>
                                </li>
                            </ul>
                        </div>
                        <div id="tab-version-3-0" class="tab-pane fade in active"><h4>Version 3.0 - 28 July 2014</h4>
                            <ul class="list-update list-unstyled">
                                <li><span class='label label-success'>N</span>

                                    <div>Important - Add new: Frontend one page with 16 versions:
                                        <ul class="sub-list-update">
                                            <li>4 versions light style:
                                                <ul class="sub-list-update">
                                                    <li><a href="frontend/one-page.html" target="_blank">Image background</a></li>
                                                    <li><a href="frontend/one-page_2.html" target="_blank">Slider background</a></li>
                                                    <li><a href="frontend/one-page_3.html" target="_blank">Color solid background</a></li>
                                                    <li><a href="frontend/one-page_4.html" target="_blank">Video background</a></li>
                                                </ul>
                                            </li>
                                            <li>4 versions light style with animation:
                                                <ul class="sub-list-update">
                                                    <li><a href="frontend/one-page_animated.html" target="_blank">Image background</a></li>
                                                    <li><a href="frontend/one-page_2_animated.html" target="_blank">Slider background</a></li>
                                                    <li><a href="frontend/one-page_3_animated.html" target="_blank">Color solid background</a></li>
                                                    <li><a href="frontend/one-page_4_animated.html" target="_blank">Video background</a></li>
                                                </ul>
                                            </li>
                                            <li>4 versions dark style:
                                                <ul class="sub-list-update">
                                                    <li><a href="frontend/one-page_dark.html" target="_blank">Image background</a></li>
                                                    <li><a href="frontend/one-page_2_dark.html" target="_blank">Slider background</a></li>
                                                    <li><a href="frontend/one-page_3_dark.html" target="_blank">Color solid background</a></li>
                                                    <li><a href="frontend/one-page_4_dark.html" target="_blank">Video background</a></li>
                                                </ul>
                                            </li>
                                            <li>4 versions dark style with animation:
                                                <ul class="sub-list-update">
                                                    <li><a href="frontend/one-page_animated_dark.html" target="_blank">Image background</a></li>
                                                    <li><a href="frontend/one-page_2_animated_dark.html" target="_blank">Slider background</a></li>
                                                    <li><a href="frontend/one-page_3_animated_dark.html" target="_blank">Color solid background</a></li>
                                                    <li><a href="frontend/one-page_4_animated_dark.html" target="_blank">Video background</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: User List Page in Extras menu</div>
                                </li>
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: Dropdown Select in UI-Element</div>
                                </li>
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: Advanced News Ticker</div>
                                </li>
                                <li><span class='label label-info'>U</span>

                                    <div>Upgrade: Sco.message in UI-Element menu</div>
                                </li>
                                <li><span class='label label-info'>U</span>

                                    <div>Upgrade: Export Tool in Datatables</div>
                                </li>
                                <li><span class='label label-info'>U</span>

                                    <div>Upgrade: search form style and theme setting style</div>
                                </li>
                                <li><span class='label label-danger'>B</span>

                                    <div>Fix: iCheck in Datatables page</div>
                                </li>
                            </ul>
                        </div>
                        <div id="tab-hot-features" class="tab-pane fade">
                            <ul class="list-update list-unstyled">
                                <li>+
                                    &nbsp;
                                    3 Admin Themes Included (+more)
                                </li>
                                <li>+
                                    &nbsp;
                                    5 Menu Styles Included (+more)
                                </li>
                                <li>+
                                    &nbsp;
                                    4 Header Styles Included (+more)
                                </li>
                                <li>+
                                    &nbsp;
                                    Unlimited Layout Options
                                </li>
                                <li>+
                                    &nbsp;
                                    Bootstrap 3.2
                                </li>
                                <li>+
                                    &nbsp;<a href="frontend-one-page.html">One Page Parallax</a></li>
                                <li>+
                                    &nbsp;
                                    Full LESS Support
                                </li>
                                <li>+
                                    &nbsp;
                                    100+ Template Pages
                                </li>
                                <li>+
                                    &nbsp;
                                    500+ UI Components
                                </li>
                                <li>+
                                    &nbsp;
                                    Update New Features Weekly
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--END CONTENT QUICK SIDEBAR--></div>
        
}