@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en" data-ng-app="travel_portal">
<head>
<title>@title</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="Thu, 19 Nov 1900 08:52:00 GMT">
<link rel="shortcut icon" href='@routes.Assets.at("app/images/icons/favicon.ico")'>
<link rel="apple-touch-icon" href='@routes.Assets.at("images/icons/favicon.png")'>
<link rel="apple-touch-icon" sizes="72x72" href='@routes.Assets.at("images/icons/favicon-72x72.png")'>
<link rel="apple-touch-icon" sizes="114x114" href='@routes.Assets.at("images/icons/favicon-114x114.png")'>
<link type="text/css" href='@routes.Assets.at("bower_components/ng-dialog/css/ngDialog.min.css")' rel="stylesheet" type="text/css" media="all" />
<link type="text/css" href='@routes.Assets.at("bower_components/ng-dialog/css/ngDialog-theme-default.min.css")' rel="stylesheet" type="text/css" media="all" />
<link type="text/css" href='@routes.Assets.at("bower_components/bootstrap/css/datepicker.css")' rel="stylesheet" type="text/css" media="all" />
<!--Loading bootstrap css-->
<!--<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">-->
<link type="text/css" rel="stylesheet"
	href='@routes.Assets.at("app/vendors/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css")'>
<link type="text/css" rel="stylesheet"
	href='@routes.Assets.at("app/vendors/font-awesome/css/font-awesome.min.css")'>
<link type="text/css" rel="stylesheet"
	href='@routes.Assets.at("app/vendors/bootstrap/css/bootstrap.min.css")'>
<!--LOADING STYLESHEET FOR PAGE-->
<!--Loading style vendors-->
<link type="text/css" rel="stylesheet"
	href='@routes.Assets.at("app/vendors/animate.css/animate.css")'>
<link type="text/css" rel="stylesheet"
	href='@routes.Assets.at("app/vendors/jquery-pace/pace.css")'>
<link type="text/css" rel="stylesheet"
	href='@routes.Assets.at("app/vendors/iCheck/skins/all.css")'>
<link type="text/css" rel="stylesheet"
	href='@routes.Assets.at("app/vendors/jquery-notific8/jquery.notific8.min.css")'>
<link type="text/css" rel="stylesheet"
	href='@routes.Assets.at("app/vendors/bootstrap-daterangepicker/daterangepicker-bs3.css")'>
<!--Loading style-->
<link type="text/css" rel="stylesheet"
	href='@routes.Assets.at("app/css/themes/style1/orange-blue.css")' class="default-style">
<link type="text/css" rel="stylesheet"
	href='@routes.Assets.at("app/css/themes/style1/orange-blue.css")' id="theme-change"
	class="style-change color-change">
<link type="text/css" rel="stylesheet" href='@routes.Assets.at("app/css/style-responsive.css")'>
</head>
<body class=" ">
<div>
    
    <!--BEGIN BACK TO TOP--><!--<a id="totop" href="#">
    <i class="fa fa-angle-up"></i></a>--><!--END BACK TO TOP--><!--BEGIN TOPBAR-->
    <div id="header-topbar-option-demo" class="page-header-topbar">
        <nav id="topbar" role="navigation" style="margin-bottom: 0; z-index: 2" class="navbar navbar-default navbar-static-top">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".sidebar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a id="logo" href="#" class="navbar-brand"><span class="fa fa-rocket"></span><span class="logo-text" style="font-size: 20px !important">TRAVEL PORTAL</span><span style="display: none" class="logo-text-icon">µ</span></a></div>
            <div class="topbar-main"><a id="menu-toggle" href="#" class="hidden-xs"><i class="fa fa-bars"></i></a>
                
                <form id="topbar-search" action="#" method="GET" class="hidden-xs">
                    <div class="input-group"><input type="text" placeholder="Search..." class="form-control"/><span class="input-group-btn"><a href="javascript:;" class="btn submit"><i class="fa fa-search"></i></a></span></div>
                </form>
                <ul class="nav navbar navbar-top-links navbar-right mbn">
                    
                    <li id="topbar-chat" class="hidden-xs">
						<a href="javascript:void(0)" class="btn-chat">Home</a>
					</li>
                    <li id="topbar-chat" class="hidden-xs">
						<a href="javascript:void(0)" class="btn-chat">Supplier Area</a>
					</li>
					<li id="topbar-chat" class="hidden-xs">
						<a href="javascript:void(0)" class="btn-chat">Contact US</a>
					</li>
                </ul>
            </div>
        </nav>
        <!--BEGIN MODAL CONFIG PORTLET-->
        
        <!--END MODAL CONFIG PORTLET--></div>
    <!--END TOPBAR-->
    <div id="wrapper"><!--BEGIN SIDEBAR MENU-->
        <nav id="sidebar" role="navigation" class="navbar-default navbar-static-side">
            <div class="sidebar-collapse menu-scroll">
                <ul id="side-menu" class="nav">
                    <li class="user-panel">
                        
                    </li>
                    <li><a href="#"><i class="fa fa-tachometer fa-fw">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Hotel Profile</span></a></li>
                    
                    <li><a href="#"><i class="fa fa-desktop fa-fw">
                        <div class="icon-bg bg-pink"></div>
                    </i><span class="menu-title">Room Types</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="#/addHotelRoomType"><i class="fa fa-align-left"></i><span class="submenu-title">Create / Edit Room Types</span></a></li>
							<!-- <li><a href="#/editHotelRoomType"><i class="fa fa-align-left"></i><span class="submenu-title">Edit Room Types</span></a></li> -->
                        </ul>
                    </li>
                    
                    <!--li.charts-sum<div id="ajax-loaded-data-sidebar"></div>--></ul>
            </div>
        </nav>
        <!--END SIDEBAR MENU--><!--BEGIN CHAT FORM-->
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
                <div class="row">
					<div class="col-lg-12">
                        <div class="panel panel-green">
                            <div class="panel-heading clearfix"><span class="mts pull-left">HOTEL SUPPLIER PROFILE</span>                                
                            </div>
                            <div class="panel-body">
								<div class="col-lg-12">
		                        <div class="row">
			                            <div class="col-lg-12">
			                                <div class="tabbable tabs-left">
			                                    <ul id="myTab2" class="nav nav-tabs">
			                                        <li class="active"><a href="#profile0" data-toggle="tab">HOTEL GENERAL INFORMATION</a></li>
			                                        <li><a href="#profile1" data-toggle="tab">HOTEL DESCRIPTION</a></li>
			                                        <!-- <li><a href="#profile2" data-toggle="tab">HOTEL LOCATION</a></li> -->
			                                        <li><a href="#profile2" data-toggle="tab">HOTEL INTERNAL INFORMATION</a></li>
			                                        <li><a href="#profile3" data-toggle="tab">HOTEL CONTACT INFORMATION</a></li>
			                                        <li><a href="#profile4" data-toggle="tab">HOTEL COMMUNICATION</a></li>
			                                        <li><a href="#profile5" data-toggle="tab">BILLING INFORMATION</a></li>
			                                        <li><a href="#profile6" data-toggle="tab">TAXES, FEES, SUPPLEMENTS</a></li>
			                                        <li><a href="#profile7" data-toggle="tab">MEAL PLAN AND PRICES</a></li>
			                                        <li><a href="#profile8" data-toggle="tab">HOTEL AMENITIES</a></li>
			                                        <li><a href="#profile9" data-toggle="tab">BUSINESS FEATURES</a></li>
			                                        <li><a href="#profile10" data-toggle="tab">HOTEL LEISURE & SPORT</a></li>
			                                        <li><a href="#profile11" data-toggle="tab">AREA ATTRACTIONS</a></li>
			                                        <li><a href="#profile12" data-toggle="tab">TRANSPORTATION & DIRECTIONS</a></li>
			                                        <li><a href="#profile13" data-toggle="tab">HEALTH &amp; SAFETY</a></li>
			                                    </ul>
			                                    <div id="myTabContent2" class="tab-content" style="padding-top: 5px;">
			                                        <div data-ng-view></div>
			                                    </div>
			                                </div>
			                            </div>
		                        </div>
                        
                    			</div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            <!--END CONTENT--><!--BEGIN CONTENT QUICK SIDEBAR-->
            <div class="quick-sidebar">
                <div class="header-quick-sidebar">
                    <ul class="nav nav-tabs nav-justified ul-edit">
                        <li class="active dropdown"><a id="tab-quick-sidebar" href="#" data-toggle="dropdown" class="dropdown-toggle">Change logs
                            &nbsp;<i class="fa fa-angle-down"></i></a>
                            <ul role="menu" aria-labelledby="tab-quick-sidebar" class="dropdown-menu">
                                <li><a href="#tab-version-1-1" tabindex="-1" data-toggle="tab">Version 1.1</a></li>
                                <li><a href="#tab-version-1-2" tabindex="-1" data-toggle="tab">Version 1.2</a></li>
                                <li><a href="#tab-version-2-0" tabindex="-1" data-toggle="tab">Version 2.0</a></li>
                                <li><a href="#tab-version-2-1" tabindex="-1" data-toggle="tab">Version 2.1</a></li>
                                <li class="active"><a href="#tab-version-3-0" tabindex="-1" data-toggle="tab">Version 3.0</a></li>
                            </ul>
                        </li>
                        <li><a href="#tab-hot-features" data-toggle="tab">Hot features</a></li>
                    </ul>
                    <div class="content-quick-sidebar tab-content">
                        <div id="tab-version-1-1" class="tab-pane fade"><h4>Version 1.1 - 04 July 2014</h4>
                            <ul class="list-update list-unstyled">
                                <li><span class='label label-success'>N</span>

                                    <div>Add new: Bordered style</div>
                                </li>
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: Data Grids menu using jPList plugin
                                        <ul class="sub-list-update">
                                            <li>Layout Examples
                                                <ul class="sub-list-update">
                                                    <li>DIVs Layout</li>
                                                    <li>Table Demo1</li>
                                                    <li>Table Demo2</li>
                                                    <li>2 Tables on the Page</li>
                                                    <li>UL/LI</li>
                                                </ul>
                                            </li>
                                            <li>Actions Examples
                                                <ul class="sub-list-update">
                                                    <li>Filters With UL/LI</li>
                                                    <li>Filters With SELECT</li>
                                                    <li>Double Sort</li>
                                                    <li>Deep Linking</li>
                                                    <li>Pagination Only</li>
                                                    <li>Without "Items per Page"</li>
                                                    <li>Hidden Sort</li>
                                                </ul>
                                            </li>
                                            <li>jPList with jQuery UI
                                                <ul class="sub-list-update">
                                                    <li>Ranger Slider</li>
                                                    <li>Date Picker Filter</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: 2 options in timeline page
                                        <ul class="sub-list-update">
                                            <li>One column</li>
                                            <li>Full Responsive</li>
                                        </ul>
                                    </div>
                                </li>
                                <li><span class='label label-info'>U</span>

                                    <div>Upgrade: chat form in sidebar and dashboard page</div>
                                </li>
                                <li><span class='label label-info'>U</span>

                                    <div>Upgrade: checkall in datatable</div>
                                </li>
                                <li><span class='label label-danger'>B</span>

                                    <div>Fix: Minor bug</div>
                                </li>
                            </ul>
                        </div>
                        <div id="tab-version-1-2" class="tab-pane fade"><h4>Version 1.2 - 08 July 2014</h4>
                            <ul class="list-update list-unstyled">
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: 2 new style navigation
                                        <ul class="sub-list-update">
                                            <li>Menu with big icon & flat design</li>
                                            <li>Menu with color transition</li>
                                        </ul>
                                    </div>
                                </li>
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: jQuery introjs. Introduce tips about this template</div>
                                </li>
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: Set up responsive tabs for pages
                                        <ul class="sub-list-update">
                                            <li>Redesign for tab direction</li>
                                            <li>Mobile & Tablet version for tabs accordion</li>
                                        </ul>
                                    </div>
                                </li>
                                <li><span class='label label-info'>U</span>

                                    <div>Upgrade: Improve jquery cookie
                                        <ul class="sub-list-update">
                                            <li>User can make best theme by mix the style and color</li>
                                            <li>Remember user's favourite theme and apply it to all pages</li>
                                        </ul>
                                    </div>
                                </li>
                                <li><span class='label label-info'>U</span>

                                    <div>Upgrade: Apply styles(Squared, Rounded, Bordered) for all pages in Datagrid menu</div>
                                </li>
                                <li><span class='label label-info'>U</span>

                                    <div>Upgrade: Reconstruct menu on layout-horizontal-menu page</div>
                                </li>
                                <li><span class='label label-danger'>B</span>

                                    <div>Fix: bug on layout-header-topbar page</div>
                                </li>
                                <li><span class='label label-danger'>B</span>

                                    <div>Fix: Set up Animation page run on Firefox browser</div>
                                </li>
                            </ul>
                        </div>
                        <div id="tab-version-2-0" class="tab-pane fade"><h4>Version 2.0 - 18 July 2014</h4>
                            <ul class="list-update list-unstyled">
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: Update Bootstrap 3.2</div>
                                </li>
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: DataTalbes
                                        <ul class="sub-list-update">
                                            <li>Using own table template</li>
                                            <li>Filter feature</li>
                                            <li>Sorter</li>
                                            <li>Search</li>
                                            <li>Paging</li>
                                            <li>Edit and Export features are coming soon.</li>
                                        </ul>
                                    </div>
                                </li>
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: Fixed menu featured</div>
                                </li>
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: Introduction part for some pages</div>
                                </li>
                                <li><span class='label label-info'>U</span>

                                    <div>Upgrade: New effect on search form</div>
                                </li>
                                <li><span class='label label-info'>U</span>

                                    <div>Upgrade: Badge on collapsed menu</div>
                                </li>
                                <li><span class='label label-danger'>B</span>

                                    <div>Fix: Topbar welcome section on Firefox</div>
                                </li>
                                <li><span class='label label-danger'>B</span>

                                    <div>Fix: Footer animation page on Firefox</div>
                                </li>
                            </ul>
                        </div>
                        <div id="tab-version-2-1" class="tab-pane fade"><h4>Version 2.1 - 23 July 2014</h4>
                            <ul class="list-update list-unstyled">
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: Jeditable</div>
                                </li>
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: Table Export
                                        <ul class="sub-list-update">
                                            <li>Type of file support: JSON, XML, SQL, CSV, TXT, Word, Excel, Powerpoint and PDF</li>
                                        </ul>
                                    </div>
                                </li>
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: User List Page in Extras menu</div>
                                </li>
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: Dropdown Select in UI-Element</div>
                                </li>
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: Advanced News Ticker</div>
                                </li>
                                <li><span class='label label-info'>U</span>

                                    <div>Upgrade: Sco.message in UI-Element menu</div>
                                </li>
                                <li><span class='label label-info'>U</span>

                                    <div>Upgrade: Export Tool in Datatables</div>
                                </li>
                                <li><span class='label label-info'>U</span>

                                    <div>Upgrade: search form style and theme setting style</div>
                                </li>
                                <li><span class='label label-danger'>B</span>

                                    <div>Fix: iCheck in Datatables page</div>
                                </li>
                            </ul>
                        </div>
                        <div id="tab-version-3-0" class="tab-pane fade in active"><h4>Version 3.0 - 28 July 2014</h4>
                            <ul class="list-update list-unstyled">
                                <li><span class='label label-success'>N</span>

                                    <div>Important - Add new: Frontend one page with 16 versions:
                                        <ul class="sub-list-update">
                                            <li>4 versions light style:
                                                <ul class="sub-list-update">
                                                    <li><a href="frontend/one-page.html" target="_blank">Image background</a></li>
                                                    <li><a href="frontend/one-page_2.html" target="_blank">Slider background</a></li>
                                                    <li><a href="frontend/one-page_3.html" target="_blank">Color solid background</a></li>
                                                    <li><a href="frontend/one-page_4.html" target="_blank">Video background</a></li>
                                                </ul>
                                            </li>
                                            <li>4 versions light style with animation:
                                                <ul class="sub-list-update">
                                                    <li><a href="frontend/one-page_animated.html" target="_blank">Image background</a></li>
                                                    <li><a href="frontend/one-page_2_animated.html" target="_blank">Slider background</a></li>
                                                    <li><a href="frontend/one-page_3_animated.html" target="_blank">Color solid background</a></li>
                                                    <li><a href="frontend/one-page_4_animated.html" target="_blank">Video background</a></li>
                                                </ul>
                                            </li>
                                            <li>4 versions dark style:
                                                <ul class="sub-list-update">
                                                    <li><a href="frontend/one-page_dark.html" target="_blank">Image background</a></li>
                                                    <li><a href="frontend/one-page_2_dark.html" target="_blank">Slider background</a></li>
                                                    <li><a href="frontend/one-page_3_dark.html" target="_blank">Color solid background</a></li>
                                                    <li><a href="frontend/one-page_4_dark.html" target="_blank">Video background</a></li>
                                                </ul>
                                            </li>
                                            <li>4 versions dark style with animation:
                                                <ul class="sub-list-update">
                                                    <li><a href="frontend/one-page_animated_dark.html" target="_blank">Image background</a></li>
                                                    <li><a href="frontend/one-page_2_animated_dark.html" target="_blank">Slider background</a></li>
                                                    <li><a href="frontend/one-page_3_animated_dark.html" target="_blank">Color solid background</a></li>
                                                    <li><a href="frontend/one-page_4_animated_dark.html" target="_blank">Video background</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: User List Page in Extras menu</div>
                                </li>
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: Dropdown Select in UI-Element</div>
                                </li>
                                <li><span class='label label-success'>N</span>

                                    <div>Add New: Advanced News Ticker</div>
                                </li>
                                <li><span class='label label-info'>U</span>

                                    <div>Upgrade: Sco.message in UI-Element menu</div>
                                </li>
                                <li><span class='label label-info'>U</span>

                                    <div>Upgrade: Export Tool in Datatables</div>
                                </li>
                                <li><span class='label label-info'>U</span>

                                    <div>Upgrade: search form style and theme setting style</div>
                                </li>
                                <li><span class='label label-danger'>B</span>

                                    <div>Fix: iCheck in Datatables page</div>
                                </li>
                            </ul>
                        </div>
                        <div id="tab-hot-features" class="tab-pane fade">
                            <ul class="list-update list-unstyled">
                                <li>+
                                    &nbsp;
                                    3 Admin Themes Included (+more)
                                </li>
                                <li>+
                                    &nbsp;
                                    5 Menu Styles Included (+more)
                                </li>
                                <li>+
                                    &nbsp;
                                    4 Header Styles Included (+more)
                                </li>
                                <li>+
                                    &nbsp;
                                    Unlimited Layout Options
                                </li>
                                <li>+
                                    &nbsp;
                                    Bootstrap 3.2
                                </li>
                                <li>+
                                    &nbsp;<a href="frontend-one-page.html">One Page Parallax</a></li>
                                <li>+
                                    &nbsp;
                                    Full LESS Support
                                </li>
                                <li>+
                                    &nbsp;
                                    100+ Template Pages
                                </li>
                                <li>+
                                    &nbsp;
                                    500+ UI Components
                                </li>
                                <li>+
                                    &nbsp;
                                    Update New Features Weekly
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--END CONTENT QUICK SIDEBAR-->
            </div>
        
		
		
		
		
		
		
		
		
		
		<!--BEGIN FOOTER-->
        <div id="footer">
            <div class="copyright">2014 © &mu;Admin - Responsive Multi-Style Admin Template</div>
        </div>
        <!--END FOOTER--><!--END PAGE WRAPPER--></div>
</div>
	<script src='@routes.Assets.at("app/js/jquery-1.10.2.min.js")'></script>
	<script src='@routes.Assets.at("app/js/jquery-migrate-1.2.1.min.js")'></script>
	<script src='@routes.Assets.at("app/js/jquery-ui.js")'></script>
	<!--loading bootstrap js-->
	<script src='@routes.Assets.at("app/vendors/bootstrap/js/bootstrap.min.js")'></script>
	<script src='@routes.Assets.at("bower_components/angular/angular.min.js")'></script>
	<script src='@routes.Assets.at("bower_components/angular-route/angular-route.min.js")'></script>
	<script
		src='@routes.Assets.at("app/vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js")'></script>
	<script src='@routes.Assets.at("app/js/html5shiv.js")'></script>
	<script src='@routes.Assets.at("app/js/respond.min.js")'></script>
	<script src='@routes.Assets.at("app/vendors/metisMenu/jquery.metisMenu.js")'></script>
	<script src='@routes.Assets.at("app/vendors/slimScroll/jquery.slimscroll.js")'></script>
	<script src='@routes.Assets.at("app/vendors/jquery-cookie/jquery.cookie.js")'></script>
	<script src='@routes.Assets.at("app/vendors/iCheck/icheck.min.js")'></script>
	<script src='@routes.Assets.at("app/vendors/iCheck/custom.min.js")'></script>
	<script src='@routes.Assets.at("app/vendors/jquery-notific8/jquery.notific8.min.js")'></script>
	<script src='@routes.Assets.at("app/vendors/jquery-highcharts/highcharts.js")'></script>
	<script src='@routes.Assets.at("app/js/jquery.menu.js")'></script>
	<script src='@routes.Assets.at("app/vendors/jquery-pace/pace.min.js")'></script>
	<script src='@routes.Assets.at("app/vendors/holder/holder.js")'></script>
	<script src='@routes.Assets.at("app/vendors/responsive-tabs/responsive-tabs.js")'></script>
	<script src='@routes.Assets.at("app/vendors/jquery-news-ticker/jquery.newsTicker.min.js")'></script>
	<script src='@routes.Assets.at("app/vendors/moment/moment.js")'></script>
	<script src='@routes.Assets.at("app/vendors/bootstrap-datepicker/js/bootstrap-datepicker.js")'></script>
	<script src='@routes.Assets.at("app/vendors/bootstrap-daterangepicker/daterangepicker.js")'></script>
	<script src='@routes.Assets.at("bower_components/ng-dialog/js/ngDialog.min.js")'></script>
	<script src='@routes.Assets.at("bower_components/bootstrap/js/bootstrap-datepicker.js")'></script>
	<!-- <script src='@routes.Assets.at("bower_components/jquery/jquery.validate.min.js")'></script>
	<script src='@routes.Assets.at("bower_components/jquery/jquery.min.js")'></script> -->
	
	<!--CORE JAVASCRIPT-->
	<script src='@routes.Assets.at("app/js/main.js")'></script>
	<script src='@routes.Assets.at("app/js/ui-checkbox-radio.js")'></script>
	<!--LOADING SCRIPTS FOR PAGE-->
	<script src='@routes.Assets.at("app/js/ui-tabs.js")'></script>
	<script src='@routes.Assets.at("app/js/ui-tabs.js")'></script>
	<script src='@routes.Assets.at("lib/app.js")'></script>
	<script src='@routes.Assets.at("lib/controllers.js")'></script>
	
	<!--<script type="text/javascript">(function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
ga('create', 'UA-145464-14', 'auto');
ga('send', 'pageview');


</script>-->
this are redirecting to given entry..
</body>
</html>