@(title: String,permissions : String)(content: Html)

<!DOCTYPE html>
<html lang="en" data-ng-app="travel_portal">
<head>
<title>@title</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="Thu, 19 Nov 1900 08:52:00 GMT">

<link rel="shortcut icon" href='@routes.Assets.at("app/images/icons/favicon.ico")'>
<link rel="apple-touch-icon" href='@routes.Assets.at("images/icons/favicon.png")'>
<link rel="apple-touch-icon" sizes="72x72" href='@routes.Assets.at("images/icons/favicon-72x72.png")'>
<link rel="apple-touch-icon" sizes="114x114" href='@routes.Assets.at("images/icons/favicon-114x114.png")'>
<link type="text/css" href='@routes.Assets.at("bower_components/ng-dialog/css/ngDialog.min.css")' rel="stylesheet" type="text/css" media="all" />
<link type="text/css" href='@routes.Assets.at("bower_components/ng-dialog/css/ngDialog-theme-default.min.css")' rel="stylesheet" type="text/css" media="all" />
<link type="text/css" href='@routes.Assets.at("bower_components/bootstrap/css/datepicker.css")' rel="stylesheet" type="text/css" media="all" />
 <link type="text/css" rel="stylesheet" href='@routes.Assets.at("app/css/angular-multi-select.css")'>
<!--Loading bootstrap css-->
<link type="text/css" rel="stylesheet"
	href='@routes.Assets.at("app/vendors/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css")'>
<link type="text/css" rel="stylesheet"
	href='@routes.Assets.at("app/vendors/font-awesome/css/font-awesome.min.css")'>
<link type="text/css" rel="stylesheet"
	href='@routes.Assets.at("app/vendors/bootstrap/css/bootstrap.min.css")'>
<!--LOADING STYLESHEET FOR PAGE-->
<!--Loading style vendors-->
<link type="text/css" rel="stylesheet"
	href='@routes.Assets.at("app/vendors/animate.css/animate.css")'>
<link type="text/css" rel="stylesheet"
	href='@routes.Assets.at("app/vendors/jquery-pace/pace.css")'>
<link type="text/css" rel="stylesheet"
	href='@routes.Assets.at("app/vendors/iCheck/skins/all.css")'>
<link type="text/css" rel="stylesheet"
	href='@routes.Assets.at("app/vendors/jquery-notific8/jquery.notific8.min.css")'>
<link type="text/css" rel="stylesheet"
	href='@routes.Assets.at("app/vendors/bootstrap-daterangepicker/daterangepicker-bs3.css")'>
<!--Loading style-->
<link type="text/css" rel="stylesheet"
	href='@routes.Assets.at("app/css/themes/style1/orange-blue.css")' class="default-style">
<link type="text/css" rel="stylesheet"
	href='@routes.Assets.at("app/css/themes/style1/orange-blue.css")' id="theme-change"
	class="style-change color-change">
<link type="text/css" rel="stylesheet" href='@routes.Assets.at("app/css/style-responsive.css")'>
<link type="text/css" rel="stylesheet" href='@routes.Assets.at("app/css/app.css")'>
<link type="text/css" rel="stylesheet" href='@routes.Assets.at("app/css/pnotify_css/pnotify.buttons.css")'> 
<link type="text/css" rel="stylesheet" href='@routes.Assets.at("app/css/pnotify_css/pnotify.core.css")'>
<link type="text/css" rel="stylesheet" href='@routes.Assets.at("app/css/prettify.css")'>
<!--  <link type="text/css" rel="stylesheet" href='@routes.Assets.at("app/css/style.css")'> -->
 
</head>
<body class=" " ng-controller="ApplicationController" ng-init='init(@permissions)'>

<div>
    
    <!--BEGIN BACK TO TOP--><!--<a id="totop" href="#">
    <i class="fa fa-angle-up"></i></a>--><!--END BACK TO TOP--><!--BEGIN TOPBAR-->
    <div id="header-topbar-option-demo" class="page-header-topbar">
        <nav id="topbar" role="navigation" style="margin-bottom: 0; z-index: 2" class="navbar navbar-default navbar-static-top">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".sidebar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a id="logo" href="#" class="navbar-brand"><span class="fa fa-rocket"></span><span class="logo-text" style="font-size: 20px !important">TRAVEL PORTAL</span><span style="display: none" class="logo-text-icon">µ</span></a></div>
            <div class="topbar-main"><a id="menu-toggle" href="#" class="hidden-xs"><i class="fa fa-bars"></i></a>
                
                <form id="topbar-search" action="#" method="GET" class="hidden-xs">
                    <div class="input-group"><input type="text" placeholder="Search..." class="form-control"/><span class="input-group-btn"><a href="javascript:;" class="btn submit"><i class="fa fa-search"></i></a></span></div>
                </form>
                <ul class="nav navbar navbar-top-links navbar-right mbn">
                    
                    <li id="topbar-chat" class="hidden-xs">
						<a href="javascript:void(0)" class="btn-chat">Home</a>
					</li>
                    <li id="topbar-chat" class="hidden-xs">
						<a href="javascript:void(0)" class="btn-chat">Supplier Area</a>
					</li>
					<li id="topbar-chat" class="hidden-xs">
						<a href="javascript:void(0)" class="btn-chat">Contact US</a>
					</li>
					<li id="topbar-chat" class="hidden-xs">
					<a href="/supplierLogout" class="btn-chat">Logout</a>
					</li>
                </ul>
            </div>
        </nav>
        
         <span id="loading-id"><img src='@routes.Assets.at("app/images/loading.gif")'/></span>  
        <!--BEGIN MODAL CONFIG PORTLET-->
        
        <!--END MODAL CONFIG PORTLET--></div>
    <!--END TOPBAR-->
    <div id="wrapper"><!--BEGIN SIDEBAR MENU-->
        <nav id="sidebar" role="navigation" class="navbar-default navbar-static-side">
            <div class="sidebar-collapse menu-scroll">
                <ul id="side-menu" class="nav">
                    <li class="user-panel">
                        
                    </li>
                      <li ng-sec = "Supplier Agreement"  permission="permission"><a href="#/supplierAgreement"><i class="">
                        <div class="glyphicon glyphicon-picture"></div>
                    </i><span class="menu-title">Supplier Agreement</span></a></li>
                    
                    <li ng-sec = "Hotel Profile"  permission="permission"><a href="#"><i class="fa fa-tachometer fa-fw">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Hotel Profile</span></a></li>
                    
                   <!-- <li><a href="#/addHotelRoomType"><i class="fa fa-desktop fa-fw">
                        <div class="icon-bg bg-pink"></div>
                    </i><span class="menu-title">Room Types</span><span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li><a href="#/addHotelRoomType"><i class="fa fa-align-left"></i><span class="submenu-title">Create / Edit Room Types</span></a></li>
							<li><a href="#/editHotelRoomType"><i class="fa fa-align-left"></i><span class="submenu-title">Edit Room Types</span></a></li>
                        </ul> 
                    </li>-->
                    
                    <li ng-sec = "Room Types"  permission="permission"><a href="#/addHotelRoomType"><i class="fa fa-desktop fa-fw">
                        <div class="icon-bg bg-pink"></div>
                    </i><span class="menu-title">Room Types</span></a></li>
                    
                     <li ng-sec = "Manage Hotel Images"  permission="permission"><a href="#/manageHotelImages"><i class="">
                        <div class="glyphicon glyphicon-picture"></div>
                    </i><span class="menu-title">Manage Hotel Images</span></a></li>
                    
                      <li ng-sec = "View Your Web Page"  permission="permission"><a href="#/viewWebPage"><i class="">
                        <div class="glyphicon glyphicon-film"></div>
                    </i><span class="menu-title">View Your Web Page</span></a></li>
                     
                     <li ng-sec = "Contract Management"  permission="permission"><a href="#/manageContracts"><i class="">
                        <div class="glyphicon glyphicon-picture"></div>
                    </i><span class="menu-title">Contract Management</span></a></li>
                     
                     <li ng-sec = "Allotment"  permission="permission"><a href="#/Allotment"><i class="">
                        <div class="glyphicon glyphicon-edit"></div>
                    </i><span class="menu-title">Allotment</span></a></li>
                    				
                    
                    <li ng-sec = "Manage Specials"  permission="permission"><a href="#/manageSpecials"><i class="">
                        <div class="glyphicon glyphicon-picture"></div>
                    </i><span class="menu-title">Manage Specials</span></a></li>
					
                    <!--li.charts-sum<div id="ajax-loaded-data-sidebar"></div>-->
            </div>
        </nav>
        <!--END SIDEBAR MENU--><!--BEGIN CHAT FORM-->
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
                <div class="row">
					<div class="col-lg-12">
                        <div data-ng-view></div>
                    </div>
                    
                </div>
                
            </div>
            <!--END CONTENT--><!--BEGIN CONTENT QUICK SIDEBAR-->
            <!--END CONTENT QUICK SIDEBAR-->
            </div>
        
		
		
		
		
		
		
		
		
		
		<!--BEGIN FOOTER-->
        <div id="footer">
            <div class="copyright">2014 © &mu;Admin - Responsive Multi-Style Admin Template</div>
        </div>
        <!--END FOOTER--><!--END PAGE WRAPPER--></div>
</div>
    
    
	 <script src='@routes.Assets.at("app/js/jquery-1.10.2.min.js")'></script> 
	<script src='@routes.Assets.at("app/js/jquery-migrate-1.2.1.min.js")'></script>
	<script src='@routes.Assets.at("app/js/jquery-ui.js")'></script>
	<script src='@routes.Assets.at("app/js/prettify.js")'></script>
	<script src='@routes.Assets.at("app/js/jquery.slimscroll.min.js")'></script>
	
	
	<!--loading bootstrap js-->
	<script src='@routes.Assets.at("app/vendors/bootstrap/js/bootstrap.min.js")'></script>
	<script src='@routes.Assets.at("bower_components/angular/angular.min.js")'></script>
	<script src='@routes.Assets.at("bower_components/angular/angular-file-upload.min.js")'></script>
	<script src='@routes.Assets.at("bower_components/angular/angular-file-upload-shim.min.js")'></script>
	<script src='@routes.Assets.at("bower_components/angular-route/angular-route.min.js")'></script>
	
	<script src='@routes.Assets.at("app/vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js")'></script>
	<script src='@routes.Assets.at("app/js/html5shiv.js")'></script>	
	<script src='@routes.Assets.at("app/js/respond.min.js")'></script>
	<script src='@routes.Assets.at("app/vendors/metisMenu/jquery.metisMenu.js")'></script>
	<script src='@routes.Assets.at("app/vendors/slimScroll/jquery.slimscroll.js")'></script>
	<script src='@routes.Assets.at("app/vendors/jquery-cookie/jquery.cookie.js")'></script>
	<script src='@routes.Assets.at("app/vendors/iCheck/icheck.min.js")'></script>
	<script src='@routes.Assets.at("app/vendors/iCheck/custom.min.js")'></script>
	<script src='@routes.Assets.at("app/vendors/jquery-notific8/jquery.notific8.min.js")'></script>
	<script src='@routes.Assets.at("app/vendors/jquery-highcharts/highcharts.js")'></script>
	<script src='@routes.Assets.at("app/js/jquery.menu.js")'></script>
	<script src='@routes.Assets.at("app/vendors/jquery-pace/pace.min.js")'></script>
	<script src='@routes.Assets.at("app/vendors/holder/holder.js")'></script>
	<script src='@routes.Assets.at("app/vendors/responsive-tabs/responsive-tabs.js")'></script>
	<script src='@routes.Assets.at("app/vendors/jquery-news-ticker/jquery.newsTicker.min.js")'></script>
	<script src='@routes.Assets.at("app/vendors/moment/moment.js")'></script>
	<script src='@routes.Assets.at("app/js/angular-multi-select.js")'></script>
	<script src='@routes.Assets.at("app/vendors/bootstrap-datepicker/js/bootstrap-datepicker.js")'></script>
	<script src='@routes.Assets.at("app/vendors/bootstrap-daterangepicker/daterangepicker.js")'></script>
	<script src='@routes.Assets.at("bower_components/ng-dialog/js/ngDialog.min.js")'></script>
	<script src='@routes.Assets.at("bower_components/bootstrap/js/bootstrap-datepicker.js")'></script>
	<!-- <script src='@routes.Assets.at("bower_components/jquery/jquery.validate.min.js")'></script>
	
	
	<script src='@routes.Assets.at("bower_components/jquery/jquery.min.js")'></script> -->

	<script src='@routes.Assets.at("app/js/pnotify/pnotify.core.js")'></script>	
	 <script src='@routes.Assets.at("app/js/pnotify/pnotify.buttons.js")'></script>
	<script src='@routes.Assets.at("app/js/pnotify/pnotify.confirm.js")'></script> 
	<script src='@routes.Assets.at("app/js/pnotify/angular-pnotify.js")'></script>
		
	<!--CORE JAVASCRIPT-->
	<script src='@routes.Assets.at("app/js/main.js")'></script>
	<script src='@routes.Assets.at("app/js/ui-checkbox-radio.js")'></script>
	<!--LOADING SCRIPTS FOR PAGE-->
	<script src='@routes.Assets.at("app/js/ui-tabs.js")'></script>
	<script src='@routes.Assets.at("app/js/ui-tabs.js")'></script>
	<script src='@routes.Assets.at("lib/app.js")'></script>
	<script src='@routes.Assets.at("lib/controllers.js")'></script>
	
	<!-- ---------------------google map------------------------------ -->
	   <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
    </script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places&sensor=false"></script> 
</body>
</html>


