@(error: String)


<!DOCTYPE html>
<html lang="en">
<head><title>Sign In | Extras</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="Thu, 19 Nov 1900 08:52:00 GMT">
    <!--Loading bootstrap css-->
    <link type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <link type="text/css" rel="stylesheet"
	href='@routes.Assets.at("app/vendors/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css")'>
    <link type="text/css" rel="stylesheet"
	href='@routes.Assets.at("app/vendors/font-awesome/css/font-awesome.min.css")'>

  <link type="text/css" rel="stylesheet"
	href='@routes.Assets.at("app/vendors/bootstrap/css/bootstrap.min.css")'>
    <!--Loading style vendors-->
   <link type="text/css" rel="stylesheet"
	href='@routes.Assets.at("app/vendors/animate.css/animate.css")'>
   <link type="text/css" rel="stylesheet"
	href='@routes.Assets.at("app/vendors/iCheck/skins/all.css")'>
    <!--Loading style-->
    <link type="text/css" rel="stylesheet" href='@routes.Assets.at("app/css/themes/style1/pink-blue.css")' class="default-style">
    <link type="text/css" rel="stylesheet" href='@routes.Assets.at("app/css/themes/style1/pink-blue.css")' id="theme-change" class="style-change color-change">
    <link type="text/css" rel="stylesheet" href='@routes.Assets.at("app/css/style-responsive.css")'>
    <link rel="shortcut icon" href="images/favicon.ico">
</head>
<body id="signin-page">
<div class="page-form">
	
    <form id="loginForm" action="/hotel_profile" method="post" class="form">
        <div class="header-content"><h1>Log In</h1></div>
        <div class="body-content"><!-- <p>Log in with a social network:</p> -->
         
            <div class="form-group">
                <div class="input-icon right"><i class="fa fa-user"></i><input type="email" name="email" placeholder="Email" class="form-control" required></div>
            </div>
            <div class="form-group">
                <div class="input-icon right"><i class="fa fa-user"></i><input type="text" placeholder="Supplier Code"  name="code" class="form-control" required></div>
            </div>
             <div class="form-group">
                <div class="input-icon right"><i class="fa fa-key"></i><input type="password" placeholder="Password" name="pass" class="form-control" required></div>
            </div>
             <div class="form-group">
             
              <select class="col-md-12" name="type" required>
										<option value="Accomodation">Accomodation</option>
									</select>
             </div>
            
            
           
            <div class="form-group pull-left">
              <!--   <div class="checkbox-list"><label><input type="checkbox">&nbsp;
                    Keep me signed in</label></div> -->
            </div>
            <div class="form-group">
                <p style="color: red;">@error</p>
            </div>
            <div class="form-group pull-right">
                <button type="submit" value="Login" class="btn btn-success" style="margin-top: 8px;">Log In
                    &nbsp;<i class="fa fa-chevron-circle-right"></i></button>
            </div>
            
            <div class="clearfix"></div>
            <div class="forget-password"><h4>Forgotten your Password?</h4>

                <p>no worries, click <a href='#' class='btn-forgot-pwd'>here</a> to reset your password.</p></div>
            <hr>
            <p>Don't have an account? <a id="btn-register" href="/signUp">Register Now</a></p></div>
             <p style="margin-left: 21px;">Admin Page <a id="btn-register" href="/adminsignUp" style="color: #dc6767;">Admin Page</a></p></div>
    </form>
</div>
<script src='@routes.Assets.at("app/js/jquery-1.10.2.min.js")'></script>
<script src='@routes.Assets.at("app/js/jquery-migrate-1.2.1.min.js")'></script>
	<script src='@routes.Assets.at("app/js/jquery-ui.js")'></script>
<!--loading bootstrap js-->
<script src='@routes.Assets.at("app/vendors/bootstrap/js/bootstrap.min.js")'></script>
<script src='@routes.Assets.at("app/vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js")'></script>
<script src='@routes.Assets.at("app/js/html5shiv.js")'></script>	
<script src='@routes.Assets.at("app/js/respond.min.js")'></script>
<script src='@routes.Assets.at("app/vendors/iCheck/icheck.min.js")'></script>
	<script src='@routes.Assets.at("app/vendors/iCheck/custom.min.js")'></script>

</body>
</html>


<!-- 
<!DOCTYPE html>

	<html>
    <head>
        <title></title>
        <link type="text/css" rel="stylesheet"
	href='@routes.Assets.at("app/vendors/bootstrap/css/bootstrap.min.css")'>
   
    <script src='@routes.Assets.at("app/vendors/bootstrap/js/bootstrap.min.js")'></script>
    </head>
    <body> 
	
				<div style="margin-left: 30%;margin-top: 16%;margin-right: 30%;">
					<p style="color: red;margin-left: 44%;">@error</p>
					 <form id="loginForm" action="/hotel_profile" method="post">
						<table class="table">
							<tr>
								<th>Supplier Login</th>
								<th></th>
							</tr>
							<tr>
								<td><label>Email</label></td>
								<td><input type="email" name="email" required></td>
							</tr>
							<tr>
								<td><label>Password</label></td>
								<td><input type="password" name="pass" required></td>
							</tr>
							<tr>
								<td><label>Supplier Code</label></td>
								<td><input type="text" name="code" required></td>
							</tr>
							<tr>
								<td><label>Supplier Type</label></td>
								<td>
									<select name="type" required>
										<option value="Accomodation">Accomodation</option>
									</select>
								</td>
							</tr>
							<tr>
								<td></td>
								<td><input type="submit" value="Login" class="btn btn-primary"> </td>
							</tr>
							<tr>
								<td>
								</td>
								<td><a href="/signUp">Supplier SignUp</a></td>
								<td><a href="/adminsignUp">Admin Page</a></td>
							</tr>
						</table>
						</form>
					</div>	
    </body>
</html> -->
