

<!DOCTYPE html>

<html>
    <head>
        <title></title>
        <link type="text/css" rel="stylesheet"
	href='@routes.Assets.at("app/vendors/bootstrap/css/bootstrap.min.css")'>
   
    <script src='@routes.Assets.at("app/vendors/bootstrap/js/bootstrap.min.js")'></script>
    </head>
    <body> 
        				<div class="navbar navbar-fixed-top" >
              <div class="navbar-inner">
                <div class="container">
                  <div class="nav-collapse">
                    <ul class="nav" style="width:98%;">
					  <li class=""><a href="/signUp">SignUp</a></li>
					 <div class="pull-right" style="width: 26%;margin-right: 1%;"> 
    </body>
</html>
