<div>
                <div class="login-social">
                  <p class="button" style="background: #01b7f2;color: white;">Forgot Password</p>
                   <!--    <a href="#" class="button login-googleplus"><i class="soap-icon-googleplus"></i>Login with Google+</a> -->
                </div>
                	<div class="form-group" ng-show="flag == 1">
				<label style="color:red">wrong Email  </label>
				</div>
				<div class="form-group" ng-show="flag == 0">
				<label style="color:green">your Profil Information send on your mail </label>
				</div>
                 
                 
                <form>  <!-- action="/"    method="post" name="myForm" ng-submit="loginAgentcheck()" role="form" -->
                    <div class="form-group">
                        <input type="email" name="Email" data-ng-model="emailId.email" class="input-text full-width" placeholder="Email">
                    </div>
                   
                   
                     <div class="form-group">
                       <button type="submit" ng-click="getpassword(emailId.email)" class="full-width btn-medium">LOGIN</button>
                    </div>
                    
                   
                </form>
               
           </div>

<style>

.ngdialog-content{

background-color: white !important;
height: 188px !important;
width: 296px !important;
top: 70px;
overflow-x: initial;

}

.ngdialog.ngdialog-theme-default .ngdialog-content{
min-height : 135px;
}

.lineColor{
color: #01b7f2;

}

/* border-right: 1px solid #f5f5f5; */


#hotel-description .features label, #cruise-description .features label, #travel-guide .features label{
width: 127px;
}

</style>
