<div class="tab-content" style="background-color: white;">
                            
							
                            <div id="booking" class="tab-pane fade active in">
                              <div class="col-md-12" style="background-color: white;">
                            <h2 class="col-md-12" style="color: #428bca;">Hotel : {{ratedetail.hotelNm}}</h2>
                               <span class="col-md-1">TOTAL : </span>
                              <span class="price col-md-3" style="float: left;text-align: left;" currency-rate styleValue="font-size: 17px;color: black;top: -2px;" ng-model="finalTotal" rate="{{finalTotal}}" supplier_curr="{{ratedetail.currencyExchangeRate}}" agent_curr="{{ratedetail.agentCurrency}}"></span>
                           			<div class="col-md-1 pull-right" style="margin-bottom: 9px;">
                                             	<button type="button" class="btn-small dull-blue" ng-click="closePopup();closeThisDialog()" style="height: 33px;">Close</button>
                                		 </div>
                               <div class="col-md-2 pull-right" >
                                                 <!-- <span class="price"><small>AVG/NIGHT</small>$620</span>  -->
                                                 <form action="/hotelBookingpage" method="post">
                              					        <input type="text" name="supplierCode"  value="{{ratedetail.supplierCode}}" style="display: none;">
                                					    <input type="text" name="checkIn" value="{{ratedetail.checkIn}}" style="display: none;">
                                					    <input type="text" name="bookingId" value="{{ratedetail.bookingId}}" style="display: none;">
                              						     <input type="text" name="checkOut" value="{{ratedetail.checkOut}}" style="display: none;">
                              						     <input type="text" name="currencyExchangeRate" value="{{ratedetail.currencyExchangeRate}}" style="display: none;">
                              						     <input type="text" name="agentCurrency" value="{{ratedetail.agentCurrency}}" style="display: none;">
                            						     <input type="text" name="nationalityCode" value="{{ratedetail.nationality}}" style="display: none;">
                            						      <input type="text" name="roomId" value="{{ratedetail.hotelbyRoom[0].roomId}}" style="display: none;">
                            						      <input type="text" name="rateId" value="{{ratedetail.hotelbyRoom[0].hotelRoomRateDetail[0].rateDetailsNormal[0].rateId}}" style="display: none;">
                            						      <input type="text" name="adult" value="{{searchroom.adult}}" style="display: none;">
                            						      <input type="text" name="noOfroom" value="{{finalTotalDetails.length}}" style="display: none;">
                            						      <input type="text" name="total" value="{{finalTotal}}" style="display: none;">
                            						      <input type="text" name="applyPromo" value="{{applyPromo}}" style="display: none;">
                            						      <input type="text" name="finalTotalDetails" value="{{addRooms}}" style="display: none;">
                            						       <span ng-if="serchroom.childAllow == 'true'"><input type="text" name="noOfchild" value="{{serchroom.noOfchild}}" style="display: none;"></span>
                            						       <span ng-if="serchroom.childAllow == 'false' || serchroom.childAllow == ''"><input type="text" name="noOfchild" value="NoChild" style="display: none;"></span>
                            						      <input type="text" name="total" value="{{total}}" style="display: none;">  
                            						      <input type="text" name="totalParPerson"  value="{{totalParPerson}}" style="display: none;">
                                                 <button type="submit" class="full-width text-center" ng-if="flag == 0">Book Now</button>
                                                 <button type="submit" class="full-width dark-orange text-center" ng-if="flag == 1">ON REQUEST</button>
                                               </form>
                                                <!-- <a class="button btn-small full-width text-center" style="background: #7db921;" title=""  href="/hoteldetailpage">Book Now</a> -->
                                            </div>
                                             
                               <!--  <h2 class="col-md-6">Room : {{roominfo.roomName}}</h2> -->
                                 </div>
                                
                                 
                                <div class="filter-section gray-area clearfix" style="max-height: 170px;overflow: auto;">
                                       <div class="pull-right col-md-12" ng-repeat="serchroom in addRooms" style="margin: 1%;">
                                       <div class="col-md-8">
                                       	 <div class="col-md-1" style="margin-top: 20px;width: 66px;">
                                           	 <span>Room {{$index+1}}</span>
                                         </div>
                                          
                                             <div class="col-md-2">
                                          		 <span>ADULT</span>
                                          			 <div class="selector">
                            							 <select class="full-width" name="adult" data-ng-model="serchroom.adult" ng-change="showRateAdultwise(serchroom.adult,serchroom.childAllow, $index, null)">
                          				  			     <option ng-repeat="adult in ratedetail.hotelbyRoom[0].hotelRoomRateDetail[0].rateDetailsNormal | orderBy: 'adult'" value="{{adult.adult}}"> {{adult.adult  | limitTo: 1}}</option>  <!-- {{adult.adult}}   {{$index+1}}-->
                             				 			  </select><span ng-if="serchroom.adult == null" class="custom-select full-width">1</span>
                             				 			           <span class="custom-select full-width" ng-if="serchroom.adult != null" >{{serchroom.adult | limitTo: 1}}</span>   <!-- {{ratedetail.hotelbyRoom[0].hotelRoomRateDetail[0].rateDetailsNormal[0].adult}} -->
                                           			 </div>
                                           	</div>
                                           	<div class="col-md-2" ng-if="serchroom.cAllow == 'true'">
                                           			<span>CHILD</span>
                                           	 			<div class="selector">
                                                    		<select class="full-width" name="noOfchild" data-ng-model="serchroom.noOfchild" ng-change="noOfchildSelect(serchroom.noOfchild,$index)">
                                                       			<option value="0">0</option>
                                                       			<option ng-repeat="child in childcount" value="{{child}}">{{child}}</option>
		                                                    </select><span ng-if="serchroom.noOfchild == null" class="custom-select full-width">0</span>
		                                                    <span ng-if="serchroom.noOfchild != null" class="custom-select full-width">{{serchroom.noOfchild}}</span>
        	                                        	</div>
                                             </div>
                                             <div class="col-md-2" ng-if="serchroom.cAllow == 'true'" ng-repeat="child in serchroom.childselected">
                                           			<span>Age</span>
                                           	 			<div class="selector">
                                                    		 <select class="full-width" name="childAge{{serchroom.id}}{{$index}}" data-ng-model="child.age" ng-change="parChildAge(child.age,$index,serchroom.id)">
                                                         <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                         <option value="13">13</option>
                                                        <option value="14">14</option>
                                                        <option value="15">15</option>
                                                         <option value="16">16</option>
                                                        <option value="17">17</option>
                                                       
                                                    </select><span ng-if="child.age == null" class="custom-select full-width">0</span>
                                                    		<span ng-if="child.age != null" class="custom-select full-width">{{child.age}}</span>
        	                                        	</div> 
                                             </div>
                                             
                                             </div>
                                             
                                             <div class="col-md-4">
                                              <div class="col-md-4" style="margin-top: 20px;padding: 0px;">
                                         		 
                                         		 <span class="price" style="font-size: 15px;" currency-rate styleValue="font-size: small;color: black;top: -1px;" ng-model="serchroom.total" rate="{{serchroom.total}}" supplier_curr="{{ratedetail.currencyExchangeRate}}" agent_curr="{{ratedetail.agentCurrency}}"></span>
                                         		 <span ng-if="serchroom.totalValueRate > serchroom.total" class="notprice" style="font-size: 15px;" currency-rate styleValue="font-size: small;color: black;top: -1px;" ng-model="serchroom.totalValueRate" rate="{{serchroom.totalValueRate}}" supplier_curr="{{ratedetail.currencyExchangeRate}}" agent_curr="{{ratedetail.agentCurrency}}"></span>
                                       		  </div>
                                       		  <div class="col-md-4" style="margin-top: 18px;padding: 0px;">
                                         		<span><a ng-click="showDateWiseDetails($index)">DateWise Rate</a></span>
                                       		  </div>
                                        
                                          <div class="col-md-4" style="margin-top: 20px;padding: 0px;">
           									<span ng-show="addRooms.length > 1">
                        					<button class="full-width text-center" ng-click="lessTotal($event,$index);">Remove Room</button>
                        					</span>
                                         </div>
                                         </div>
                                       </div>
                                        <div class="col-md-1 pull-right" style="margin-top: 20px;padding: 0px;" ng-if="addRooms.length < 5">
                                        
                                         	<button class="full-width text-center" ng-click="newRoom()">Add Room</button>
                                         </div>
                                     
                                     
                                        <div class="pull-right col-md-12" style="margin: 1%;">
                               
						 <div class="col-md-9" ng-show="childnotallowMsg == 'true'">
						 	<label style="color:red;">Child Not allow</label>
						 </div>
                                              </div>
                                        </div>
                                        
                                        <div class="col-md-8">
                                        <fieldset class="billBorder" ng-show="cAllow == 'true'">
		 
  								
					   			</fieldset>
					   			</div>
                                        
                                </div>
                                  <div class="col-md-12" ng-if="breakfastAddfree != '' && breakfastAddfree != null">
                                  Breakfast charges :<label currency-rate ng-model="breakfastAddfree" rate="{{breakfastAddfree}}" supplier_curr="{{ratedetail.currencyExchangeRate}}" agent_curr="{{ratedetail.agentCurrency}}"></label>
                                  </div>
                                  <!-- <div ng-repeat="roomRate in addRooms"> -->
                                   <div class="col-md-12" style="background-color: #f5f5f5;">
                                  <label style="font-size: 18px;"><u>Room {{currentRoom}}</u></label>
                                  </div>
                                  
                                <div id="booking" class="col-md-12" style="background-color: white;height: 325px !important;overflow: auto;">
                                <div class="booking-history col-md-4" ng-repeat="Dateinfo in rateDatedetailRoomWise">
                              
                                 <div class="booking-info clearfix" ng-if="flag == 0"> <!--  Dateinfo.flag == 0   -->
                                        <div class="date">
                                            <label class="month">{{Dateinfo.month}}</label>
                                            <label class="date">{{Dateinfo.date}}</label>
                                            <label class="day">{{Dateinfo.day}}</label>
                                        </div>
                                        <dl class="info">
                                            <dt>Rate</dt><!-- styleValue="font-size: small;color: chocolate;top: -1px;" -->
                                             <span style="font-size: 25px;"><dd currency-rate ng-model="Dateinfo.rate" styleValue="font-size: small;top: 0px;" rate="{{Dateinfo.rate}}" supplier_curr="{{ratedetail.currencyExchangeRate}}" agent_curr="{{ratedetail.agentCurrency}}"></dd></span> 
                                            <dt ng-if="Dateinfo.meal != null">Included</dt>
                                            <dd ng-if="Dateinfo.meal != null">{{Dateinfo.meal}}</dd>
                                        </dl>
                                       <!--  <button class="btn-mini status">Book Now</button> -->
                                    </div>
                                                                  
                                    <div class="booking-info clearfix cancelled" ng-if="flag == 1">  <!-- Dateinfo.flag == 1  -->
                                        <div class="date">
                                            <label class="month">{{Dateinfo.month}}</label>
                                            <label class="date">{{Dateinfo.date}}</label>
                                            <label class="day">{{Dateinfo.day}}</label>
                                        </div>
                                        <dl class="info">
                                            <dt>Rate</dt>
                                              <span style="font-size: 25px;"><dd currency-rate ng-model="Dateinfo.rate" styleValue="font-size: small;top: 0px;" rate="{{Dateinfo.rate}}" supplier_curr="{{ratedetail.currencyExchangeRate}}" agent_curr="{{ratedetail.agentCurrency}}"></dd></span>
                                            <dt ng-if="Dateinfo.meal != null">Included</dt>
                                            <dd ng-if="Dateinfo.meal != null">{{Dateinfo.meal}}</dd>
                                             <label ng-show="Dateinfo.flag == 1" style="color: #ff3e3e;">Room Not Available</label>
                                             <label ng-show="Dateinfo.flag == 0" style="color: #7db921;">Room Available</label> 
                                        </dl>
                                        <!-- <button class="btn-mini status">CANCELLED</button> -->
                                    </div>
                                   
                                </div>
								</div>
								<!-- </div> -->
                            </div>
          </div>
                            
                       <style>
input.input-text,select,textarea,span.custom-select {
	background: white;
}



.billBorder {
	padding: .35em .625em .75em;
	margin: 0 2px;
	border: 1px solid;
}
.ngdialog-content{
	width: 995px !important;
	height: 570px;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
  min-height: 627px;
}

.notprice{
	color: red;
    font-size: 1.6667em;
    text-transform: uppercase;
    float: right;
    text-align: right;
    line-height: 1;
    display: block;
    text-decoration: line-through;
}

</style>     
                           